#findCouncilByZip {
    display: table;
    margin: 0 auto;
    min-height: 37px;
    height: 1px;
    > div {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        * {
            line-height: normal;
            vertical-align: middle;
            height: 100%;
        }
        input[type="text"] {
            width: 100% !important;
            border: none;
            outline: 1px solid #cccccc;
            -webkit-transition: outline-color 0.15s linear, background 0.15s linear;
            -moz-transition: outline-color 0.15s linear, background 0.15s linear;
            -ms-transition: outline-color 0.15s linear, background 0.15s linear;
            -o-transition: outline-color 0.15s linear, background 0.15s linear;
            transition: outline-color 0.15s linear, background 0.15s linear;
        }
        input[type="text"]:focus {
            outline-color: #999999;
            outline-offset: 0;
        }
        [type="submit"] {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .text {
        width: 200px;
        padding: 1px;
    }
}

[name="find-cookies"] {
    .form-wrapper {
        //padding: rem-calc(5) !important;
        width: 100% !important;
        white-space: normal;
        display: table;
        > div {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            * {
                height: rem-calc(47);
            }
        }
        [type="text"],
        [type="submit"] {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            float: none !important;
            position: relative !important;
            width: 100% !important;
            margin: 0 !important;
        }
        [type="text"] {
            //width: 100% !important;
        }
        [type="submit"] {
            //width: 100%;
            padding: 0 rem-calc(11) !important;
            right: auto !important;
        }
    }
}

.find-cookies-noshare {
    .form-wrapper {
        [type="submit"] {
            padding: 0 rem-calc(5) !important;
        }
    }
}

.camp-finder-options {
    select {
        padding-left: rem-calc(8) !important;
    }
}

@media #{$medium-up} {
    .find-cookies-share,
    .find-cookies-noshare {
        .form-wrapper {
            width: 47% !important;
        }
    }
}

@media #{$small-only} {
    #findCouncilByZip {
        .fill {
            width: auto;
            &:after {
                content: "";
            }
        }
        .submit {
            width: 1%;
        }
        .text {
            width: 49%;
        }
        .caption {
            display: table-caption;
            margin-bottom: 2px;
            height: auto;
        }
    }
}