#findCouncilByZip {
    display: table;
    margin: 0 auto;
    min-height: 37px;
    height: 1px;
    > div {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        * {
            line-height: normal;
            vertical-align: middle;
            height: 100%;
        }
        input[type="text"] {
            width: 100% !important;
            border: none;
            outline: 1px solid #cccccc;
            -webkit-transition: outline-color 0.15s linear, background 0.15s linear;
            -moz-transition: outline-color 0.15s linear, background 0.15s linear;
            -ms-transition: outline-color 0.15s linear, background 0.15s linear;
            -o-transition: outline-color 0.15s linear, background 0.15s linear;
            transition: outline-color 0.15s linear, background 0.15s linear;
        }
        input[type="text"]:focus {
            outline-color: #999999;
            outline-offset: 0;
        }
        [type="submit"] {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .text {
        width: 200px;
        padding: 1px;
    }
}

.join-volunteer-block {
    form {
        padding: rem-calc(5) !important;
        //position: relative !important;
        bottom: 0;
        left: 0;
        width: 100% !important;
        white-space: normal;
        label {
            margin-top: rem-calc(7);
        }
        > div {
            display: table-cell;
            vertical-align: middle;
            * {
                height: rem-calc(37);
            }
        }
        [type="text"],
        [type="submit"] {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            float: none !important;
            position: relative !important;
            width: 100% !important;
        }
        [type="text"] {
            width: 100% !important;
        }
        [type="submit"] {
            width: 100%;
            right: auto !important;
        }
    }
}

.footer-join,
.footer-volunteer {
    form {
        padding: rem-calc(5) !important;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100% !important;
        white-space: normal;
        display: table;
        > div {
            display: table-cell;
            vertical-align: middle;
            * {
                height: rem-calc(37);
            }
        }
        [type="text"],
        [type="submit"] {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            float: none !important;
            position: relative !important;
            width: 100% !important;
            margin: 0 !important;
        }
        [type="text"] {
            width: 100% !important;
        }
        [type="submit"] {
            width: 100%;
            right: auto !important;
        }
        .after {
            display: none !important;
        }
    }
}

.formHeaderJoin,
.formHeaderVolunteer {
    //display: table;
    $height: rem-calc(25);
    > div {
        height: $height;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    [type="text"] {
        padding-left: rem-calc(3);
    }
    .button {
        &.on .triangle {
            width: $height/2;
            height: 0;
            padding-top: $height/2;
            padding-bottom: $height/2;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: -$height/2;
            &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                margin-top: -500px;
                border-style: solid;
                border-width: 500px 500px 500px 0;
                border-color: transparent #fece24 transparent transparent;
            }
        }
    }
}

@media only screen and (max-width: 48em) {
    #findCouncilByZip {
        .fill {
            width: auto;
            &:after {
                content: "";
            }
        }
        .submit {
            width: 1%;
        }
        .text {
            width: 49%;
        }
        .caption {
            display: table-caption;
            margin-bottom: 2px;
            height: auto;
        }
    }
}