# Configuration created by Apache Sling JCR Installer
apiKey="3_uGtRowY-YcKCUesW6JcK4dZaC1CPFhjZFJq_aNf0fXvvKoFoIwXuMSanmdYfMw2b"
logOutPath="http://localhost:4504/content/girlscouts-vtk/sso/logout.html"
logInPath="http://localhost:4504/content/girlscouts-vtk/sso/login.html"
spName="local-gsusa-vtk-sp"
