# Configuration created by Apache Sling JCR Installer
logOutPath="http://localhost:4503/content/girlscouts-vtk/sso/logout.html"
screenSet="GSUSA-RegistrationLogin"
sessionExpiration=I"2000"
apiKey="3_dJdtZDzvd3gAE4Yum9JzFAijyDXt3UJKcedBJRs1C-NVCDPgcJCaFw4z58Joc_pC"
logInPath="http://localhost:4503/content/girlscouts-vtk/sso/login.html"
spName="local-gsusa-vtk-sp"
