# Configuration created by Apache Sling JCR Installer
logOutPath="http://localhost:4503/content/girlscouts-vtk/sso/logout.html"
screenSet="GSUSA-RegistrationLogin"
sessionExpiration=I"2000"
apiKey="3_NLXR60j9urobE-Xha85pPHh1aIok8tcX3EleNguNPoil0e_8omSl6c4jE1Ip33E0"
logInPath="http://localhost:4503/content/girlscouts-vtk/sso/login.html"
spName="local-gsusa-vtk-sp"
