/*
 * Copyright 1997-2010 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

#CQ .cq-compsel .x-fieldset-header .x-form-check-wrap {
    padding:0 0 0 20px;
    line-height:normal;
    height:13px;
}

.ext-ie #CQ .cq-compsel .x-fieldset-header .x-form-check-wrap {
    padding-left:2px;
}

#CQ .cq-compsel .x-fieldset-header .x-form-check-wrap-inner {
    padding:0;
}

#CQ .cq-compsel .x-form-check-wrap {
    height: 22px;
}

#CQ .cq-compsel .x-fieldset-header .x-form-cb-label {
    font:11px tahoma, arial, helvetica, sans-serif;
    color:#666666;
    background-color:#ffffff;
    margin-left:2px;
    position:relative;
    top:-1px;
}

#CQ .cq-compsel .x-fieldset-body .x-form-check-wrap DIV {
    margin-left:5px;
    position:relative;
    top:4px;
}

.ext-ie #CQ .cq-compsel .x-fieldset-body .x-form-check-wrap DIV {
    top:0;
}

#CQ .cq-compsel .app {
    margin-left:3px;
    font-size:10px;
    color:#8F8F8F;
}
