/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2011 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 *
 */

#CQ .cq-condition-add {
    background-image:url('../../icons/16x16/add.gif');
    background-color: transparent;
    border-style: none;
    height:16px;
    width:16px
}

#CQ .cq-condition-remove {
    background-image:url('../../icons/16x16/remove.png');
    background-color: transparent;
    border-style: none;
    height:16px;
    width:16px
}

