/*
 * Copyright 1997-2009 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

/* Tool icon */
#CQ .cq-image-icon-crop {
    background: url( "../../icons/16x16/crop.png" ) left no-repeat !important;
}

/* Ratio selection */
#CQ .cq-crop-ratio {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    background-color: #FFFFFF;
}


/* Canvas holding image and selector */
#CQ .cq-crop-canvas {
    background-color:#000000;
    position:relative;
    top: 0;
    left: 0;
    overflow:auto;
    -moz-user-select:none;
}


/* Inverted canvas */
#CQ .cq-crop-canvas-inverted {
    background-color:#FFFFFF;
}


/* Image */
#CQ .cq-crop-image {
    width:auto; /* required for IE */
    height:auto; /* required for IE */
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-user-select:none;
}


/* Selector */
#CQ .cq-crop-selector {
    background-color:#FFFFFF;
    border-style:dotted;
    border-color:#FFFFFF;
    cursor:move;
    position:absolute;
    top:0;
    left:0;
    background-position:0 0;
    background-repeat:no-repeat;
    border-width:1px;
}


/* Inverted selector */
#CQ .cq-crop-selector-inverted {
    border-color:#000000;
}


/* Resizer */
#CQ .cq-crop-resizer {
    background:#FFFFFF url("../../icons/16x16/resizer.png") center no-repeat;
    border-top:solid 1px #999999;
    border-left:solid 1px #999999;
    width:14px;
    height:14px;
    right:0;
    bottom:0;
    cursor:se-resize;
    position:absolute;
}