/*
 * Copyright 1997-2009 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

/* Tool icon */
#CQ .cq-image-icon-map {
    background: url( "../../icons/16x16/map.png" ) left no-repeat !important;
}

/* Canvas holding image and areas */
#CQ .cq-map-canvas {
    background-color: #000000;
    overflow: auto;
    -moz-user-select: none;
}


#CQ .cq-map-tools {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    background-color: #FFFFFF;
}


#CQ .cq-map-areaeditor {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    background-color: #FFFFFF;
}


#CQ .cq-map-areaeditor-fieldlabel {
    font-size: 10px;
}


#CQ .cq-map-areaeditor-text {
    font-size: 10px;
    height: 14px !important;
    padding-top: 0 !important;
}