/*
 * Copyright 1997-2008 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

#cq-paragraphreference-data .cq-paragraphreference-paragraph {
    width: 100px;
    height: 100px;
    margin: 3px;
    border: 1px solid black;
    background: white;
    float: left;
    overflow: hidden;
}

#cq-paragraphreference-data .cq-paragraphreference-selected {
    border-color: red;
}
