/*
 * Copyright 1997-2010 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

#CQ .x-panel.cq-selection .x-panel-body {
    border-color:transparent;
    background:transparent;
}

.ext-ie6 #CQ .x-panel.cq-selection .x-panel-body {
    border-color:white;
}

#CQ .x-panel.cq-selection.x-form-invalid .x-panel-body {
    border-color:#ff7979;
    border-bottom-color:transparent;
}

#CQ .x-panel.cq-selection .x-form-cb-label-hidden {
    margin:2px 0 0 5px;
    position:absolute;
    top:0;
    bottom:-2px;
}

#CQ .x-form-check-wrap .x-form-radio {
    margin:5px 0 0 1px;
}

#CQ .x-form-check-wrap {
    min-height:18px;
}

.ext-ie7 #CQ .x-panel.cq-selection .x-form-cb-label-hidden {
    margin-top:-1px;
}
