#header.row{
    padding-bottom: 20px
}
#headerBar{
    margin-top: 0;
}
.side-nav-el.active.current ul li{
    background-color: #bcbec0;
}
.login.small-19.columns{
    position: absolute;
    color: #FFF;
    font-weight: 600;
    z-index: 1001;
}
.login.small-19.columns a{
     position: absolute;
     color: #FFF;
     font-weight: 600;
     font-size: 0.875rem;
     padding-top: 7px;
     padding-left: 5px;
 }
 .login.small-19.columns a:hover{
     color: #FFA500;
 }
 .search-box{
    margin-top: 3px;
 }
 #searchIcon{
    float: left;
    clear: both;
    margin-top: -28px;
    margin-left: 39px;
 }
 #menuIcon{
    float: left;
    clear: both;
    padding-top: 33px;
    margin-left: -5px;
 }
 #mobileSearchBar.srch-box form:after {
    display: none;
 }
#mobileSearchBar .searchField{
    height: 24%;
    padding-top: 7px;
    padding-bottom: 7px;
}
/* Left Canvas Menu CSS */
.side-nav-el{
    background:#bcbec0;
}
.side-nav-el a{
    width: 70%;
}
.side-nav-wrapper{
	padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.side-nav-wrapper span:hover{
    font-weight: bold;
}
.side-nav-wrapper span.side-nav-expand:hover{
    font-weight: normal !important;
}
.side-nav-wrapper span.side-nav-expand-child:hover{
    font-weight: normal !important;
}
.side-nav.search-bar li{
    border-right: none;
}
.side-nav-el.active.current > .side-nav-wrapper > a{
    color: white !important;
}
.left-off-canvas-menu{
    background-color: #e6e7e8 !important;
    z-index: 10006;
}
.left-off-canvas-menu.closed{
    transition: 500ms;
    margin-left: 0;
}
#left-canvas-menu .side-nav li.active.current > div {
  background-color: #00AE58;
}
#left-canvas-menu a {
    padding: 12px 0px 0px 5px;
}
#left-canvas-menu hr{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    border: 1px solid gray;
}
#left-canvas-menu .side-nav>li {
    background: none !important;
    border-right: solid 0.625rem #00ae58;
}
#left-canvas-menu-bottom hr{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    border: 1px solid gray;
}
#right-canvas-menu-bottom a{
	color: black;
}
#right-canvas-menu-bottom a:hover{
	font-weight: bold;
}
/* Left Canvas - Side Menu CSS */
#sub-active ul{
    display: block;
}
.side-nav-el.parentEl:hover{
    cursor: pointer;
}
.side-nav-el a:hover{
    font-weight: bold;
}
#side-nav-bottom-first{
    margin-top: -14px !important;
}
.move-right .exit-off-canvas {
    background: rgba(0, 0, 0, 0.8);
}
.side-nav-el.parentEl ul li ul li ul li ul li div a{
    padding-left: 95px ;
}
.side-nav-el.parentEl ul li ul li ul li div a{
    padding-left: 75px !important;
}
.side-nav-el.parentEl ul li ul li div a{
    padding-left: 55px !important;
}
.side-nav-el.parentEl ul li div a{
    padding-left: 35px !important;
}
.side-nav.search-bar{
    padding-bottom: 0px;
    padding-top: 0;
    background-color: #bcbec0;
}
.side-nav.search-bar > li{
    padding-top: 14px;
}
.side-nav.search-bar .searchField{
    border: 2px solid #00AE58;
}
.side-nav-header{
    display: inline-flex;
}
.side-nav-header #eventSearch{
    height: 26px;
    width: 135px;
    margin-left: 10px;
    margin-top: -3px !important;
    border: 2px solid #00AE58;
}
.side-nav-header form:after {
  font-family: "JollyFont";
  position: absolute;
  content: "\e66c";
  color: #00AE58;
  font-size: 1.25rem;
  top: 13px;
  right: 36px;
}
.side-nav-el span{
    color: black;
    padding: 12px 0px 0px 5px;
    text-transform: capitalize;
    display: block;
    height: 50px;
    font-size: 15.5px;
}
#side-nav-active-parent{
    display: inline-block;
    padding-left: 0px;
    margin-left: -9px;
    color: #FFA500;
}
.side-nav-el.active ul{
     display: block;
}
.side-nav-el a{
     display: inline-block !important;
     font-size: 15.5px;
}
.side-nav-expand{
    display: inline-block !important;
    float: right !important;
    padding-right: 2% !important;
    padding-top: 0 !important;
    font-size: 30px !important;

}
.side-nav-expand-child{
    float: right !important;
    padding-right: 2% !important;
    padding-top: 0 !important;
    font-size: 30px !important;
}
.side-nav-el a{
    color: black !important;
}
.side-nav-el div{
    padding-bottom: 16px;
}
.side-nav-el.active.current > div{
    background-color: #B0B0AF;
}
/* Mobile Search Bar/Button CSS*/
#searchBtn{
    height: 26px;
    padding: 0 12px 4px 12px;
    margin-left: 4%;
    line-height: 0;
    color: white;
    background-color: #009447;
}
#searchBtnHome{
    height: 26px;
    padding: 0 12px 4px 12px;
    margin-left: 4%;
    line-height: 0;
    color: white;
    background-color: #009447;
}
.small-22.columns.srch-box{
    margin-left: 4%;
}
.mobileSearch{
    padding: 0px;
    background-color: #e6e7e8;
}
.mobile-search-btn-text{
    font-size: 11px;
}
#eventSearch.searchField{
    margin: 0 0 1rem 0;
}
@media only screen and (max-width: 40.062em){
    .left-off-canvas-menu.open{
        transition: 500ms;
        margin-left: 250px;
    }
}
@media only screen and (min-width: 40.063em) {
    .left-off-canvas-menu.open{
        transition: 500ms;
        margin-left: 75%;
    }
    .left-off-canvas-menu{
        width: 75%;
    }
    .side-nav-header form:after{
        left: 195px;
    }
    .left-off-canvas-menu ul.off-canvas-list > li {
        border-right: solid 0.625rem #00ae58;
    }
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10005;
    cursor: pointer;
    display: block !important;
}