clientId="3MVG9xOCXq4ID1uFBwuHyA7b_rq8mzObvrMXg6XKgm13Rk6Bd1b2DCUgJaiqALFG8U5y6qhhpRrI3R2GBIapS"
defaultBranch="gateway"
clientSecret="23414338816690674"
OAuthUrl="https://gsdev-girlscoutsdev.cs18.force.com/members"
councilMapping=["111::gateway"]
helloUrl="https://girlscouts-prod.adobecqms.net/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="https://girlscouts-prod.adobecqms.net/content/girlscouts-vtk/en/vtk.html"
callbackUrl="https://girlscouts-prod.adobecqms.net/content/girlscouts-vtk/controllers/auth.sfauth.html"