# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.names=["org.girlscouts.vtk","vtk","org.apache.jsp.apps.girlscouts_002dvtk"]
org.apache.sling.commons.log.file="logs/gs-vtk.log"
org.apache.sling.commons.log.level="error"
org.apache.sling.commons.log.additiv="false"