@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-thin.eot");
  src: local("Trefoil Sans Web Thin"), local("TrefoilSansWeb-Thin"), url("../resources/trefoilsans-thin.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-thin.woff2") format("woff2"), url("../resources/trefoilsans-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-thinit.eot");
  src: local("Trefoil Sans Web Thin It"), local("TrefoilSansWeb-ThinIt"), url("../resources/trefoilsans-thinit.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-thinit.woff2") format("woff2"), url("../resources/trefoilsans-thinit.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-xlight.eot");
  src: local("Trefoil Sans Web XLight"), local("TrefoilSansWeb-XLight"), url("../resources/trefoilsans-xlight.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-xlight.woff2") format("woff2"), url("../resources/trefoilsans-xlight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-xlightit.eot");
  src: local("Trefoil Sans Web XLight It"), local("TrefoilSansWeb-XLightIt"), url("../resources/trefoilsans-xlightit.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-xlightit.woff2") format("woff2"), url("../resources/trefoilsans-xlightit.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-light.eot");
  src: local("Trefoil Sans Web Light"), local("TrefoilSansWeb-Light"), url("../resources/trefoilsans-light.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-light.woff2") format("woff2"), url("../resources/trefoilsans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-lightit.eot");
  src: local("Trefoil Sans Web Light It"), local("TrefoilSansWeb-LightIt"), url("../resources/trefoilsans-lightit.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-lightit.woff2") format("woff2"), url("../resources/trefoilsans-lightit.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-regular.eot");
  src: local("Trefoil Sans Web Regular"), local("TrefoilSansWeb-Regular"), url("../resources/trefoilsans-regular.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-regular.woff2") format("woff2"), url("../resources/trefoilsans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-regularit.eot");
  src: local("Trefoil Sans Web Regular It"), local("TrefoilSansWeb-RegularIt"), url("../resources/trefoilsans-regularit.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-regularit.woff2") format("woff2"), url("../resources/trefoilsans-regularit.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-medium.eot");
  src: local("Trefoil Sans Web Medium"), local("TrefoilSansWeb-Medium"), url("../resources/trefoilsans-medium.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-medium.woff2") format("woff2"), url("../resources/trefoilsans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-mediumit.eot");
  src: local("Trefoil Sans Web Medium It"), local("TrefoilSansWeb-MediumIt"), url("../resources/trefoilsans-mediumit.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-mediumit.woff2") format("woff2"), url("../resources/trefoilsans-mediumit.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-semibold.eot");
  src: local("Trefoil Sans Web Semibold"), local("TrefoilSansWeb-Semibold"), url("../resources/trefoilsans-semibold.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-semibold.woff2") format("woff2"), url("../resources/trefoilsans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-semiboldit.eot");
  src: local("Trefoil Sans Web Semibold It"), local("TrefoilSansWeb-SemiboldIt"), url("../resources/trefoilsans-semiboldit.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-semiboldit.woff2") format("woff2"), url("../resources/trefoilsans-semiboldit.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-bold.eot");
  src: local("Trefoil Sans Web Bold"), local("TrefoilSansWeb-Bold"), url("../resources/trefoilsans-bold.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-bold.woff2") format("woff2"), url("../resources/trefoilsans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-boldit.eot");
  src: local("Trefoil Sans Web Bold It"), local("TrefoilSansWeb-BoldIt"), url("../resources/trefoilsans-boldit.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-boldit.woff2") format("woff2"), url("../resources/trefoilsans-boldit.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-black.eot");
  src: local("Trefoil Sans Web Black"), local("TrefoilSansWeb-Black"), url("../resources/trefoilsans-black.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-black.woff2") format("woff2"), url("../resources/trefoilsans-black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-blackit.eot");
  src: local("Trefoil Sans Web Black It"), local("TrefoilSansWeb-BlackIt"), url("../resources/trefoilsans-blackit.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-blackit.woff2") format("woff2"), url("../resources/trefoilsans-blackit.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-ultra.eot");
  src: local("Trefoil Sans Web Ultra"), local("TrefoilSansWeb-Ultra"), url("../resources/trefoilsans-ultra.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-ultra.woff2") format("woff2"), url("../resources/trefoilsans-ultra.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Trefoil Sans Web';
  src: url("../resources/trefoilsans-ultrait.eot");
  src: local("Trefoil Sans Web Ultra It"), local("TrefoilSansWeb-UltraIt"), url("../resources/trefoilsans-ultrait.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-ultrait.woff2") format("woff2"), url("../resources/trefoilsans-ultrait.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Trefoil Sans Web Nav';
  src: url("../resources/trefoilsans-nav.eot");
  src: local("Trefoil Sans Web Nav"), local("TrefoilSansWebNav"), url("../resources/trefoilsans-nav.eot?#iefix") format("embedded-opentype"), url("../resources/trefoilsans-nav.woff2") format("woff2"), url("../resources/trefoilsans-nav.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}