div.textimage div.image {
    float: left;
    margin: 0 8px 8px 0;
    max-width: 100%;
}
div.textimage.image_left div.image {
}

div.textimage.image_right div.image {
    float: right !important;
    margin: 0 0 8px 8px !important;
}

div.textimage small {
	line-height: 1.15rem;	
}
.image-right  {
	float: right;    
 	margin: 0 0 0 15px;
}

.image-left{
	float: left;    
 	margin: 0 15px 0 0;
}

.image-center{
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}