.coral-Modal .item-list, .coral-Modal .page-list {
	font-weight: bold;
}

.no-children-banner.center {
    text-align: center;
}

.no-children-banner .fieldwrapper {
    display: inline;
}

.no-children-banner .fieldwrapper label{
    display: none;
}

.no-children-banner .coral-FileUpload-trigger {
	margin: -0.9rem;
}