$font-size: 14px;
$line-height: 1.2;
$lines-to-show: 3;
.article-tile {
    section {
        position: relative;
        img {
            width: 100%;
            &.last {
                height: auto;
            }
        }
        .text-content {
            z-index: 15;
            bottom: 0;
            display: block;
            padding: rem-calc(0 16px 0);
            color: #fff;
            position: absolute;
            width: 100%;
            transition: 500ms;
            height: rem-calc(100);
            overflow: hidden;
            max-height: 34.5%;
            * {
                color: $white;
            }
            h3 {
                font-size: rem-calc(18);
                line-height: 1.5rem;
                margin-bottom: rem-calc(10);
                margin-top: 0;
            }
            @media #{$small-only} {   
                h3{
                   line-height: 1.25rem;   
                }
                p{
                    line-height: 1rem;
                }
            }
            p {
                font-size: rem-calc(14);
                // transition: opacity 0.1s linear;
                // -moz-transition: opacity 0.1s linear;
                // -webkit-transition: opacity 0.1s linear;
                margin: 0;
                line-height: 1.20rem;
                opacity: 0;
                z-index: -10;
            }
        }

        @media #{$small-only} {
            .text-contect {
                padding-left: 0.8rem;
                padding-right: 0.8rem;
                p {
                    line-height: 1rem !important;
                    font-size: 14px !important;
                }
            }
        }
        a {
            display: block;
            width: 100%;
            &.video:after {
                z-index: 10;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent url("../images/play-btn.png") no-repeat 50% 40%;
                background-size: 25%;
            }
            @media #{$medium-up} {
                &:hover {
                    .text-content {
                        height: 100%;
                        max-height: 100%;
                        p {
                            opacity: 1;
                            // transition: opacity .5s linear;
                            // -moz-transition: opacity .5s linear;
                            // -webkit-transition: opacity .5s linear;
                        }
                    }
                }
                h3 {
                    width: 100%;
                }
            }
             
        }
    }
}

.featured-articles {
    h4 {
        font-size: rem-calc(24);
        font-weight: 700;
        * {
            font-weight: 600;
        }
    }
    @include grid-row();
    > .article-tile {
        @media #{$medium-up} {
            @include grid-column(12,
            $collapse: true);
            padding-right: rem-calc(10);
            section .text-content {
                padding-left: rem-calc(34);
                padding-right: rem-calc(34);
                h3 {
                    font-size: rem-calc(21) !important;
                    line-height: rem-calc(24) !important;
                }
            }
        }
        @media #{$small-only} {
            margin-bottom: rem-calc(17);
            section .text-content {
                padding-left: rem-calc(16);
                padding-right: rem-calc(16);
                h3 {
                    font-size: rem-calc(20);
                    // line-height: rem-calc(28);
                }
            }
        }
    }
    .block-grid {
        @media #{$medium-up} {
            @include grid-column(12,
            $collapse: true);
            padding-left: rem-calc(10);
            ul {
                @include block-grid(2,
                $spacing: rem-calc(20));
                li {
                    padding-bottom: rem-calc(20);
                    @media #{$medium-up} {
                        padding-bottom: rem-calc(17);
                    }
                }
                @media #{$small-only} {
                    @include block-grid(2,
                    $spacing: rem-calc(5));
                }
            }
            section .text-content h3 {
                font-size: 100%;
                line-height: 1.2rem;
            }
            section .text-content {
                line-height: 1.2rem;
                padding-left: 0.8rem;
                padding-right: 0.8rem;
            }
            section .text-content p {
                line-height: 1.2rem;
            }
        }
        @media #{$small-only} {

          section .text-content h3 {
            font-size: rem-calc(14);
            line-height: 1.25rem;
          }
          section .text-content {
            line-height: 1rem;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
          }

        }
        ul {
          @include block-grid(2,
          $spacing: rem-calc(20));
          li {
            padding-bottom: rem-calc(20);
            @media #{$medium-up} {
                padding-bottom: rem-calc(17);
            }
          }
          @media #{$small-only} {
            @include block-grid(2,
            $spacing: rem-calc(5));
          }
        }
        section .text-content p {
          line-height: 1.2rem;
        }

    }
}

.article-tag-listing {
    margin-top: rem-calc(30);
    .more-link {
        text-align: center;
        #more {
            margin: rem-calc(20 0);
            display: inline-block;
        }
    }
    h4 {
        font-weight: 700;
        font-size: rem-calc(24);
        margin-bottom: rem-calc(37);
    }
    .block-grid {
        @media #{$medium-up} {
            ul {
                @include block-grid(3,
                $spacing: rem-calc(20));
                .three-cols #mainContent & {
                    @include block-grid(2,
                    $spacing: rem-calc(20));
                }
            }
        }
        @media #{$small-only} {
            ul {
                @include block-grid(2);
            }

            .article-tile{
                .text-content{
                    padding: 0 0.8rem;
                    h3{
                        line-height: 1rem;
                        font-size: 14px;
                    }

                    p{

                    }
                }
            }


        }
    }
}

.related-articles {
    // margin-top: rem-calc(30);
    padding-top: rem-calc(20);
    h4 {
        font-weight: 700;
        font-size: rem-calc(24);
        margin-bottom: rem-calc(37);
    }
    .block-grid {
        @media #{$medium-up} {
            ul {
                @include block-grid(3,
                $spacing: rem-calc(20));
                .three-cols #mainContent & {
                    @include block-grid(2,
                    $spacing: rem-calc(20));
                }
            }

            .article-tile{

            }
        }
        @media #{$small-only} {
            ul {
                @include block-grid(1);
            }

            .article-tile{
                .text-content{
                    // padding: 0 1rem !important;
                    // 

                    h3{
                        line-height: 1.75rem;
                    }

                    p{

                    }
                }
            }
        }
    }
}

.reveal-modal {
    z-index: 9000;
    .video-popup {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .close-reveal-modal {
        font-size: 16px !important;
    }
    .close {
        position: absolute;
        right: -27px;
        top: -29px;
        // position: relative;
        // height: rem-calc(40);
        // width: 100%;
        a {
            // top:0;
        }
    }
}

//article page related styles
.article-hero {
    margin-bottom: rem-calc(25);
    img,
    iframe {
        width: 100%;
    }
}

.article-text {
    i {
        padding-top: 10px;
        display: inline-block;
    }
    p {
        font-size: rem-calc(16);
    }
}

.clearboth {
    clear: both;
}
