@import "slick-theme";
//default variabled from slick-theme.scss
// $slick-font-path: "./fonts/" !default;
// $slick-font-family: "slick" !default;
// $slick-loader-path: "./" !default;
// $slick-arrow-color: red;
// $slick-dot-color: black !default;
// $slick-dot-color-active: red !default;
$slick-prev-character: "\f137";
$slick-next-character: "\f138";
// $slick-dot-character: "\f111";
// $slick-dot-size: rem-calc(16);
// $slick-opacity-default: 0.75 !default;
// $slick-opacity-on-hover: 1 !default;
// $slick-opacity-not-active: 0.25 !default;
// UNIVERSAL SLICK SETTINGS
.slick-slide {
    // Prevent user interaction with inactive slides
    position: relative;
    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &.slick-active:after {
        display: none;
    }
}

div.carousel {
    @media #{$medium-up} {
        margin-bottom: rem-calc(10);
    }
    .error {
        color: red;
    }
    margin-top: 0;
    .slick-slider {
        margin: 0;
        position: static;
        li {
            // min-height: rem-calc(500);
        }
    }
    .slick-dots {
        bottom: rem-calc(-20);
        margin-left: 0;
        position: relative;
        text-align: left;
        li {
            height: 100%;
            width: 23.943662%;
            margin: 0 .7%;
            display: block;
            float: left;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            img {
                position: relative;
                width: 100%;
                height: 100%;
            }
            p {
                position: absolute;
                bottom: 0;
                width: 100%;
                font-size: rem-calc(11);
                color: #333;
                padding: rem-calc(2 5);
            }
            &.slick-active {
                img {
                    opacity: .7;
                }
            }
            &:first-child p {
                background: #b7c93c;
            }
            &:nth-of-type(2) p {
                background: #f9a42c;
            }
            &:nth-of-type(3) p {
                background: #00b0ec;
            }
            &:last-child p {
                background: #009e4f;
            }
        }
    }
    .slick-prev,
    .slick-next {
        width: rem-calc(20);
        height: rem-calc(70);
        margin: 0;
        padding: 0;
        &:before {
            opacity: 1;
            display: block;
        }
    }
    .slick-prev {
        left: rem-calc(0);
        &:before {
            content: url("/etc/designs/gsusa/clientlibs/images/left-arrow.png");
        }
    }
    .slick-next {
        right: rem-calc(0);
        &:before {
            content: url("/etc/designs/gsusa/clientlibs/images/right-arrow.png");
        }
    }
    .main-slider {
        .thumbnail a {
            display: block;
            position: relative;
            &:hover:after {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            &:after {
                z-index: 10;
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: transparent url("../images/play-btn.png") no-repeat 50% 40%;
                background-size: 17%;
            }
            img {
                width: 100%;
            }
        }
        li.blog {
            background: #e6e7e8;
            position: relative;
            > a {
                display: block;
                img {
                    margin: 0 auto;
                }
            }
            .blog-grid {
                background: #fff;
                position: absolute;
                bottom: 15.1%;
                @include block-grid( $per-row: 3, $spacing: 9px, $base-style: true);
                li {
                    padding-bottom: 0;
                    div {
                        position: relative;
                        min-height: rem-calc(208);
                    }
                }
                @media #{$small-only} {
                    display: none;
                }
            }
            .button {
                position: absolute;
                right: 0;
                bottom: 0;
                border: solid 1px #fff;
            }
        }
        @media #{$small-only} {
            .slick-slide {
                margin: 0 7px;
            }
        }
        button:not(.ytp-button) {
            height: 6.625rem;
            margin-bottom: 0;
            margin-top: -3.3125rem;
            background: rgba(0, 0, 0, 0.5);
            width: 3rem;
            @media #{$small-only} {
                margin-top: -5.375rem;
                width: 2rem;
            }
        }
        button {
            &.ytp-button,
            &.ytp-button:focus {
                background-color: inherit;
                height: 64px;
            }
        }
    }
}

.hero-feature {
    position: relative;
    // margin-bottom: rem-calc(35);
    // max-height: rem-calc(560);
    // overflow:hidden;
    @media #{$medium-only} {
        // min-height: rem-calc(550);
    }
    .overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 902;
        @media #{$small-only} {
            display: none !important;
        }
    }
    .hero-text {
        @media #{$medium-up} {
            @include grid-column(8,
            $push: 1);
            top: 7%;
            position: absolute;
            text-align: center;
            z-index: 901;
            // bottom: rem-calc(100);
        }
        @media #{$small-only} {
            display: none !important;
        }
        section {
            padding: rem-calc(15 10); // giving more padding -pbae
            background: rgba(0, 0, 0, 0.4);
        }
        h2 {
            font-weight: 300;
            margin-bottom: rem-calc(20);
            font-size: rem-calc(33);
            margin: rem-calc(13 14 0 0);
            @media #{$small-only} {
                font-size: rem-calc(16);
                display: none;
            }
        }
        img {
            @media #{$small-only} {
                display: none;
            }
        }
        p {
            @media #{$small-only} {
                display: none;
            }
            font-size: rem-calc(20);
            margin: rem-calc(0 0 10 0);
            font-weight: 300;
            line-height: 1.3;
        }
        & * {
            color: $white;
        }
        .button {
            background-color: $fuchsia;
            padding-top: rem-calc(10);
            padding-bottom: rem-calc(10);
            margin: 0;
            @media #{$small-only} {
                float: none;
            }
        }
    }
    .zip-council {
        background-color: rgba(235, 232, 231, .8);
        padding: 3% 0 2% 0;
        text-align: center;
        bottom: 0;
        width: 100%;
        z-index: 1001;
        margin-top: rem-calc(10);
        @media #{$medium-up} {
            position: absolute;
            margin-top: 0;
        }
        > .join > .wrapper {
            @media #{$medium-up} {
                //height: 37px;
            }
        }
        &.change {
            height: rem-calc(60);
            padding: rem-calc(14 0);
            opacity: 1;
            background-color: #ebe8e7;
        }
        a {
            font-size: rem-calc(30);
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            line-height: 0.9;
            width: rem-calc(200);
            // @include single-transition(opacity, .25s, ease-in-out);
            &:after {
                content: "";
                position: absolute;
                display: block;
                border-style: solid;
                border-color: transparent transparent transparent #00AE58;
                border-width: rem-calc(10);
                top: 50%;
                right: 0;
                margin-top: rem-calc(-10);
            }
        }
        section {
            position: relative;
            .wrapper {
                position: absolute;
            }
            form {
                display: table;
                margin: 0 auto;
                min-height: rem-calc(37);
                height: rem-calc(1);
                > div {
                    display: table-cell;
                    vertical-align: middle;
                    height: 100%;
                    * {
                        line-height: normal;
                        vertical-align: middle;
                        height: 100%;
                    }
                    span {
                        color: $primary-color;
                        font-size: rem-calc(20);
                        font-weight: 500;
                        margin-right: rem-calc(5);
                    }
                    [type="text"],
                    [type="tel"] {
                        padding-left: rem-calc(5);
                        font-size: rem-calc(20);
                        width: 100%;
                        border: none;
                        outline: 1px solid #cccccc;
                        -webkit-transition: outline-color 0.15s linear, background 0.15s linear;
                        -moz-transition: outline-color 0.15s linear, background 0.15s linear;
                        -ms-transition: outline-color 0.15s linear, background 0.15s linear;
                        -o-transition: outline-color 0.15s linear, background 0.15s linear;
                        transition: outline-color 0.15s linear, background 0.15s linear;
                    }
                    [type="text"]:focus,
                    [type="tel"]:focus {
                        outline-color: #999999;
                        outline-offset: 0;
                    }
                    [type="submit"] {
                        margin: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
                .text {
                    width: rem-calc(200);
                    padding: rem-calc(1);
                }
                @media #{$small-only} {
                    .fill {
                        width: auto;
                        &:after {
                            content: "";
                        }
                    }
                    .submit {
                        width: 1%;
                        [type="submit"] {
                            padding: rem-calc(0 20);
                        }
                    }
                    .text {
                        width: 49%;
                    }
                    .caption {
                        display: table-caption;
                        margin-bottom: 2px;
                        height: auto;
                        span {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    // .position {
    //   position: absolute;
    //   top: 0;
    //   width: 100%;
    //   z-index: -1;
    //   display: block;
    //   opacity: 0;
    // }
    // .inner-sliders {
    //   margin: 0 auto;
    //   @include grid-column(22, $center:true, $collapse:true);
    //   // width: 73.958333%;
    //   color: $white;
    //   @media #{$small-only} {
    //     display: none;
    //   }
    //   ul {
    //     li.slick-slide {
    //       h3 {
    //         color: $white;
    //         margin: rem-calc(13 0);
    //         text-align: center;
    //         font-weight: 300;
    //       }
    //       .slick-track .slide-thumb {
    //         height: 22.14286%;
    //         width: 100%;
    //       }
    //       .text {
    //         position: absolute;
    //         width: rem-calc(219);
    //         margin-left: rem-calc(11);
    //         color: #000;
    //         margin-top: rem-calc(10);
    //         padding: rem-calc(5 20 0 20);
    //         background-color: rgba(0,0,0, .5);
    //         // text-shadow: 0 0 2px #000;
    //         height: 77.991%;
    //         p {
    //           font-size: rem-calc(14);
    //           line-height: 1.3;
    //         }
    //         &.white {
    //           color: $white;
    //           h4 {
    //             color: $white;
    //           }
    //         }
    //         h4 {
    //           font-size: rem-calc(14);
    //           text-transform: uppercase;
    //           margin-bottom: rem-calc(20);
    //         }
    //         a {
    //           background-color: #FFFFFF;
    //           color: #00ae58;
    //           font-size: 0.875rem;
    //           text-transform: none;
    //           padding: rem-calc(5) rem-calc(10);
    //           width: rem-calc(179);
    //           margin-bottom: 0;
    //           position: absolute;
    //           bottom: rem-calc(10);
    //           left: 50%;
    //           margin-left: rem-calc(-89.5);
    //       	text-align: center;
    //         }
    //       }
    //     }
    //   }
    //   .video-wrapper {
    //     height: rem-calc(300);
    //     overflow: hidden;
    //     p {
    //       color: $black;
    //     }
    //     .video-embed {
    //       float: left;
    //       height: 100%;
    //       width: 59.090909%;
    //     }
    //     .video-embed > img.slide-thumb {
    //       display: none;
    //     }
    //     .video-embed > img.slide-thumb.news-pic{
    //     	display: block;
    //     	height: 100%;
    //     }
    //     .video-article {
    //       width: 40.909091%;
    //       float: left;
    //       background-color: white;
    //       padding: rem-calc(20 25);
    //       overflow-y: auto;
    //       height: 100%;
    //     }
    //   }
    // }
}

//shop tile carousel
.shop-tile {
    .shop-slider {
        margin-bottom: rem-calc(20);
        .slick-track .slick-slide {
            padding: .3%;
            a {
                display: block;
                img {
                    min-height: rem-calc(310);
                    @media #{$medium-only} {
                        width: 100%;
                    }
                    @media #{$small-only} {
                        width: 100%;
                    }
                }
            }
            &.shadow-box {
                img {
                    box-shadow: 0px 1px 6px #000
                }
            }
        }
    }
    .rich-text {
        max-width: 500px;
        margin: 0 auto;
        & * {
            color: $white;
        }
        p {
            font-size: rem-calc(17);
            margin: rem-calc(0 0 10 0);
        }
        text-align: center;
        .button {
            background-color: #9a085a;
            padding-left: rem-calc(85);
            padding-right: rem-calc(85);
        }
    }
}

.right-rail-carousel {
    clear: both;
}

.rotator {
    padding: rem-calc(0 13 10);
    max-width: rem-calc(210);
    width: 100%;
    h5 {
        font-weight: 600;
        font-size: rem-calc(20);
        line-height: 1.2;
    }
    .shop-carousel {
        &.slick-slider {
            margin-bottom: 0;
            padding: rem-calc(0 17);
            .slick-slide {
                p {
                    margin: rem-calc(10 0);
                    font-size: rem-calc(13);
                    line-height: 1.2;
                }
                a {
                    color: #000;
                }
                img {
                    width: 100%;
                }
            }
        }
        .slick-prev,
        .slick-next {
            margin-top: rem-calc(-10);
            padding: 0;
            margin-bottom: 0;
            &:before {
                opacity: 1;
                border-width: rem-calc(10);
                display: block;
                content: "";
                border-style: solid;
            }
        }
        .slick-prev {
            left: rem-calc(-10);
            &:before {
                border-color: transparent #aeaeae transparent transparent;
            }
        }
        .slick-next {
            right: rem-calc(-10);
            &:before {
                border-color: transparent transparent transparent #aeaeae;
            }
        }
    }
}

.video-slider {
    margin-top: rem-calc(18);
    @media #{$small-only} {
        width: 100vw;
        margin-left: -5vw;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .slick-slide {
        margin: 0 7px;
        position: relative;
        .vid-slide-wrapper {
            position: relative;
            padding-bottom: 56.25%;
            /* 16:9 */
            //padding-top: 25px;
            height: 0;
        }
        .thumbnail a {
            display: block;
            position: relative;
            &:hover:after {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            &:after {
                z-index: 10;
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: transparent url("../images/play-btn.png") no-repeat 50% 40%;
                background-size: 17%;
            }
            img {
                width: 100%;
            }
        }
    }
    button {
        &.ytp-large-play-button {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 68px;
            height: 48px;
            margin-left: -34px;
            margin-top: -24px;
            -moz-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
            -webkit-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
            transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
            background: none;
        }
        &.ytp-button,
        &.ytp-button:focus {
            border: none;
            outline: 0;
            color: inherit;
            text-align: inherit;
            font-size: 100%;
            font-family: inherit;
            cursor: default;
            line-height: inherit;
            /*  margin: 0; */
            padding: 0;
            background: none;
        }
        &.ytp-button:hover {
            background: none;
        }
        &:before,
        &:after {
            opacity: 1;
            display: block;
        }
        height: rem-calc(106);
        margin-bottom: 0;
        margin-top: rem-calc(-53);
        background: rgba(0,
        0,
        0,
        0.5);
        width: rem-calc(48);
        &:hover,
        &:focus {
            background: rgba(0, 0, 0, 1);
        }
        &.slick-prev {
            left: 0;
            &:before {
                content: url("/etc/designs/gsusa/clientlibs/images/left-arrow.png");
            }
        }
        &.slick-next {
            right: 0;
            &:before {
                content: url("/etc/designs/gsusa/clientlibs/images/right-arrow.png");
            }
        }
    }
}

.cookie-landing-hero {
    position: relative;
    margin: rem-calc(12 0);
    .welcome-video-slider {
        max-height: rem-calc(334);
        overflow: hidden;
        margin-bottom: 0;
        z-index: 1;
        img {
            width: 100%;
        }
    }
    .cookie-header {
        width: 32.1875%;
        position: absolute;
        top: 50%;
        margin-top: rem-calc(-111);
        padding: 0;
        margin-bottom: 0;
        margin-left: rem-calc(47);
        z-index: 2;
        .wrapper {
            background: rgba(0, 0, 0, .5);
            margin: 0;
            .wrapper-inner {
                padding-left: 5%;
                padding-right: 5%;
                &::before {
                    content: "";
                    background: url("../images/cookie-header.png") no-repeat 0% 0% transparent;
                    height: rem-calc(71);
                    width: rem-calc(71);
                    left: 50%;
                    position: relative;
                    margin-left: rem-calc(-36);
                    margin-bottom: 0;
                    margin-top: rem-calc(20);
                    background-size: contain;
                }
                form {
                    width: 100%;
                    padding: 0;
                    label {
                        width: 100%;
                        display: block;
                        margin-bottom: rem-calc(20);
                        text-align: center;
                        font-size: rem-calc(33);
                        font-weight: 300;
                        color: $white;
                        line-height: rem-calc(47);
                    }
                    .form-wrapper {
                        width: 100%;
                        display: table;
                        > div {
                            display: table-cell;
                            vertical-align: middle;
                            width: 100%;
                            * {
                                height: rem-calc(47);
                            }
                        }
                        [type="text"],
                        [type="tel"],
                        [type="submit"] {
                            width: 100%;
                            margin: 0;
                        }
                        [type="submit"] {
                            padding: rem-calc(0 11);
                        }
                    }
                }
            }
        }
    }
    .facebook-image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
}

.camp-landing-hero {
    position: relative;
    margin: rem-calc(12 0);
    .camp-header {
        width: rem-calc(306);
        position: absolute;
        top: 50%;
        margin-top: rem-calc(-306/2);
        padding: 0;
        margin-bottom: 0;
        margin-left: rem-calc(47);
        z-index: 2;
        height: rem-calc(233);
    }
    .wrapper {
        width: rem-calc(180);
        position: relative;
        top: 25%;
        margin: 0 auto;
        label {
            color: $white;
            font-size: rem-calc(22);
            line-height: 1.2;
            font-weight: 600;
            margin-bottom: rem-calc(15);
            text-align: center;
        }
        .form-wrapper {
            position: relative;
            width: 100%;
            display: table;
            > div {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                * {
                    height: rem-calc(35);
                }
            }
            [type="text"],
            [type="tel"],
            [type="submit"] {
                width: 100%;
                margin: 0;
            }
            input[type="text"],
            input[type="tel"] {
                padding-left: rem-calc(10);
                font-size: rem-calc(18);
            }
            input[type="submit"] {
                padding: 0 rem-calc(7);
                border: none;
                background-color: #00AE58;
                color: $white;
            }
        }
    }
}

.main-slider .lazyYT,
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    // padding-top: rem-calc(20);
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.slick-loading .slick-list {
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

.lazyYT-container {
    position: static;
}