.cookie-footer {
  color: $white;
  @media #{$medium-up} {
    @include grid-column(19, $push: 5);
    margin-bottom: rem-calc(20);
    margin-top: rem-calc(30);
  }
  a {
    color: $white;
    display: inline-block;
    float: left;
    width: 49%;
    line-height: 1%;
    height: 100%;
    span {
      visibility: hidden;
    }
    &.apple-download {
      // background: url("../images/itunes-app-store-logo.png") no-repeat 0 0 /contain transparent;
    }
    &.google-play-download {
      // background: url("../images/android_google_play_logo.png") no-repeat 0 0 /contain transparent;
      float: right;
    }
  }
  .get-updates,
  .install-app {
    padding-left: rem-calc(25);
    padding-right: rem-calc(25);
    padding-bottom: rem-calc(20);
    @media #{$medium-up} {
      width: 48.8%;
      float: left;
      height: rem-calc(152);
      margin: 0;
    }
    .wrapper {
      p {
        line-height: 1;
        margin: 0;
        &:nth-of-type(1) {
          font-size: rem-calc(18);
          font-weight: bold;
          margin-bottom: rem-calc(9);
        }
        &:nth-of-type(2) {
          font-size: rem-calc(12);
        }
        &.error {
          font-size: rem-calc(13);
          margin: 0;
          position: absolute;
          color: #FF0000;
          bottom: rem-calc(-17);
        }
      }
      &:nth-of-type(1) {
        margin-bottom: rem-calc(10);
        position: relative;
      }
    }
    p.success {
      text-align: center;
      margin-top: 15%;
    }
  }
  [class*=" icon-"],
  [class^="icon-"] {
    float:left;
    font-size: rem-calc(47);
    margin-right: rem-calc(25);
    line-height: .8;
  }
  .install-app {
    background: #f8971d;
    padding-top: rem-calc(25);
    @media #{$small-only} {
      margin-bottom: rem-calc(20);
    }
    .wrapper:nth-of-type(2) {
      a {
        margin-top: 2%;
      }
    }
  }
  .get-updates {
    background: #a6ce38;
    padding-top: rem-calc(15);
    @media #{$medium-up} {
      float: right;
    }
    form .wrapper {
      margin-top: rem-calc(10);
    }
    input[type="text"] {
      float: left;
      width: 48%;
      padding-left: 5px;
      height: rem-calc(25);
      &:nth-of-type(2) {
        float: right;
      }
    }

    input {
      margin-bottom: 0;
    }
    .button {
      padding-left: 7%;
      padding-right: 7%;
      float: right;
      background: $hp_button;
    }
    label {
      display: inline;
      color: $white;
      margin: 0;
      line-height: rem-calc(37);
    }
  }
}