.our-stories-block.cols-1 {
   @include block-grid(1);
}
.our-stories-block.cols-2 {
   @media (min-width: 441px) and (max-width: 99999999px) {
    @include block-grid(2);
   }
   @media (min-width: 0) and (max-width: 440px) and (orientation: portrait) {
     @include block-grid(1);
   }
}
.our-stories-block.cols-3 {
   @media (min-width: 1026px) and (max-width: 99999999px) {
    @include block-grid(3, $gs-block-grid-default-spacing);
   }
   @media (min-width: 441px) and (max-width: 1025px) {
    @include block-grid(2);
   }
   @media (min-width: 0) and (max-width: 440px) and (orientation: portrait) {
     @include block-grid(1);
   }
}
.our-stories-block {
   .left-col &,
   .right-col & {
     @media #{$medium-up} {
       @include block-grid(1);
     }
   }
  a.arrow {
    color: $black;
    &:after {
      content: ">";
      color: $primary-color;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
  li {
    > div {
      @include clearfix;
      background: #e3e3e3;
      padding-top: rem-calc(8);
      // max-height: rem-calc(270);
      padding-bottom: rem-calc(20);
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
      // height: 100%;
      text-align: left;
      overflow: hidden;
      @media #{$small-up} {
        text-align: center;
      }
      div {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: inline-block;
        //border: 1px solid green;
	    img {
	      //max-height: 50%;
	      height: 200px;
	      max-width: none;
	    }
	    p {
	      text-align: center;
	      max-width: 90%;
	      margin: rem-calc(15) auto 0;
	      line-height: 1.4;
	    }
	  }
    }
  }
}
.our-story-article-popup {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
  .top-bar {
    background-color: #00AE58;
    height: rem-calc(85);
    .top-bar-section {
      .right {
        .icon-cross {
          font-size: rem-calc(40);
          color: $white;
        }
      }
    }
  }
  p {
    text-align: left;
    max-width: 70%;
    margin: rem-calc(15) auto 0;
    line-height: 2.5;
  }
  p:first-of-type {
    text-align: left;
    font-size: rem-calc(25);
  	font-weight: 500;
  }
  img:first-child {
      display: inline;
      padding: 0;
      margin-left: rem-calc(10);
      margin-top: rem-calc(10);
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: rem-calc(30);
    max-width:100%;
    height: auto;
  }
}
.our-story-cqhosted-popup {
  padding: 0;
}

.our-story-video-popup {
  padding-bottom: 40%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}
