.noPadding {
  padding: 0;
}
.grid-system.nopadding {
  li,
  div.image {
    margin-bottom: 0;
    padding: 0;
  }
}
.textimage.nopadding div.text p {
  margin-bottom: 0;
  padding: 0;
}
.textimage {
  &.nowrap {
    div.text {
      overflow: hidden;
    }
    // div.image {
    //   @media #{$small-only} {
    //     width: 100%;
    //     float: none;
    //   }
    // }
  }
}
.textimage{
  div.image{
    max-width: 100%;
  }
}