/*
 * Copyright 1997-2008 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

#CQ #cq-ce #cq-cq-wrapper {
    background-color:#e8e8e8;
}

/* drag & drop mask */
#CQ #cq-ce-framewrapper.x-masked {
    overflow: visible !important;
}

#CQ #cq-ce-framewrapper .ext-el-mask {
    /* with background-color:transparent; dragging does not work in IE */
    opacity:0;
    filter: alpha(opacity=0);
    z-index:8000;
}
