/*
 * Copyright 1997-2008 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

/*
 * Drop target highlight
 */
#CQ .cq-editbase-droptarget-highlight {
    background-color: #ab6fc7;
}

#CQ .cq-editrollover-highlight-right {
     background-color:#d3ea9a;
     position: absolute;
     padding: 1px;
     z-index: 8005;
 }


 #CQ .cq-editrollover-highlight-left {
     background-color: #d3ea9a;
     position: absolute;
     padding: 1px;
     z-index: 8005;
 }


 #CQ .cq-editrollover-highlight-bottom {
     font-size:0;
     border-style:none;
     border-width:0;
     background-color: #d3ea9a;
     position: absolute;
     padding: 1px;
     z-index: 8005;
 }


#CQ .cq-editrollover-highlight-top {
    font-size:0;
    border-style:none;
    border-width:0;
    background-color: #d3ea9a;
    position: absolute;
    padding: 1px;
    z-index: 8005;
}

/*
 * EditRollover HighLight
 */
#CQ .cq-editrollover-highlight {
    background-color: #d3ea9a;
}

#CQ .cq-editrollover-selected {
    background-color: #abd551;
    z-index:8010;
}

#CQ .cq-editrollover-inplaceediting {
    background-color: #f5bd43;
    z-index:8020;
}

/*
 * EditRollover empty box
 */

#CQ .cq-editrollover-insert-container {
    width: 100%;
    text-align:center;
    border:dashed 2px #cccccc;
    z-index: 8003;
}

#CQ .cq-editrollover-insert-message {
    color:#cccccc;
    cursor:default;
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:16px;
    font-weight:bold;
    position:relative;
    top:20%;
    z-index: 8003;
}


/*
 * Edit components drag zone
 */
#CQ .cq-editcomponent-dragzone-proxy {
    border: dashed 1px #000000;
}

/*
 * Edit components ghost paragraph
 */
#CQ .cq-editcomponent-ghost {
    border: dashed 3px #ab6fc7;
    z-index: 8001;
    padding-top: 5px;
    padding-bottom: 5px;
}

#CQ .cq-editcomponent-ghost-masking {
    border: none;
    z-index: 8001;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
 * Edit components Target Line
 */
#CQ .cq-editcomponent-targetline {
    font-size:0;
    position:absolute;
    height:5px;
    width:100%;
    background-image:url( "../../widgets/wcm/EditBase/target_line.gif" );
}


#CQ .cq-editcomponent-targetline-left {
    font-size:0;
    position:absolute;
    left:-4px;
    width:4px;
    height:5px;
    background-image:url( "../../widgets/wcm/EditBase/target_left.gif" );
}


#CQ .cq-editcomponent-targetline-right {
    font-size:0;
    position:absolute;
    right:-4px;
    width:4px;
    height:5px;
    background-image:url( "../../widgets/wcm/EditBase/target_right.gif" );
}


#CQ .cq-editrollover-livestatus-right {
     position: absolute;
     padding: 10px;
     z-index: 8008;
 }


 #CQ .cq-editrollover-livestatus-left {
     position: absolute;
     padding: 1px;
     z-index: 8008;
 }


 #CQ .cq-editrollover-livestatus-bottom {
     position: absolute;
     padding: 1px;
     z-index: 8008;
 }


#CQ .cq-editrollover-livestatus-top {
    position: absolute;
    padding: 1px;
    z-index: 8008;
}

#CQ .cq-editrollover-livestatus-disabled {
    padding-left: 4px;
    color: #b80000;
}

#CQ .cq-editrollover-livestatus-lock {
    background-color: #abd551 !important;
}

#CQ .cq-editrollover-livestatus-unlock {
    background-color: #ff6363 !important;
}

#CQ .cq-editrollover-livestatus-right-lock {
    background: url( "../../icons/16x16/locked.png") no-repeat 50% 2px !important;
    border-right: 2px solid #abd551;
}

#CQ .cq-editrollover-livestatus-right-unlock {
    background: url( "../../icons/16x16/unlocked.png") no-repeat 50% 4px !important;
    border-right: 2px solid #ff6363;
}

#CQ .cq-editrollover-selected-livestatus {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 8008;
}

#CQ .cq-editrollover-selected-livestatus-right-lock {
    background: url( "../../icons/16x16/locked.png") no-repeat !important;
}

#CQ .cq-editrollover-selected-livestatus-right-unlock {
    background: url( "../../icons/16x16/unlocked.png") no-repeat !important;
}

#CQ .cq-editbar-livestatus-right-lock {
    background: url( "../../icons/16x16/locked.png") no-repeat !important;
}

#CQ .cq-editbar-livestatus-right-unlock {
    background: url( "../../icons/16x16/unlocked.png") no-repeat !important;
}

#CQ .cq-editbar {
    z-index: 8004;
}

#CQ .cq-editbar .x-form-check-wrap {
    min-height: 22px;
}