/*
 * Copyright 1997-2008 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */
#CQ .cq-feedimporter-configstatus-ok {
    background: url("../../icons/16x16/accept.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
}
#CQ .cq-feedimporter-configstatus-invalid {
    background: url("../../icons/16x16/warning.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
}
