
#CQ .cq-optionspredicate .x-toolbar {
	background-color: transparent;
	background-image: none;
	border: none;
}

#CQ .cq-optionspredicate .leftpadding {
    padding-left:10px;
}

#CQ .cq-optionspredicate .leftpadding.level0 {
    padding-left:0;
}

#CQ .cq-optionspredicate .level0 .x-toolbar LABEL {
    font-weight:bold;
}

#CQ .cq-optionspredicate .level1 .x-toolbar LABEL,
#CQ .cq-optionspredicate .level2 .x-toolbar LABEL,
#CQ .cq-optionspredicate .level3 .x-toolbar LABEL,
#CQ .cq-optionspredicate .level4 .x-toolbar LABEL,
#CQ .cq-optionspredicate .level5 .x-toolbar LABEL {
    font-weight:normal;
}

#CQ .cq-optionspredicate .x-toolbar-cell .x-form-checkbox {
    margin-top:2px;
    top:0;
}

/* leaf level: adjust checkbox position */
#CQ .cq-optionspredicate .x-form-checkbox {
    position:relative;
    top:-1px;
}
.ext-ie #CQ .cq-optionspredicate .x-form-checkbox {
    position:relative;
    top:1px;
}

/**
 * Toggle button
 */
#CQ .cq-optionspredicate .x-toolbar .x-btn-mc EM {
    display:block;
    height:12px;
}

#CQ .cq-optionspredicate .x-toolbar .collapse .x-btn-mc BUTTON {
    background:url(../../../../../../../../etc/designs/default/images/dam/assetshare/predicates/collapse.gif) no-repeat;
    background-position: 0px 2px;
}

#CQ .cq-optionspredicate .x-toolbar .expand .x-btn-mc BUTTON {
    background:url(../../../../../../../../etc/designs/default/images/dam/assetshare/predicates/expand.gif) no-repeat;
    background-position: 0px 2px;
}

#CQ .cq-optionspredicate .x-toolbar .x-btn-mc BUTTON {
    height:12px;
    width:12px;
}

#CQ .cq-optionspredicate .x-toolbar .x-form-check-wrap {
    border-bottom:none;
    padding-top:0;
    padding-bottom:0;
    padding-left:4px;
    height:18px;
}

#CQ .cq-optionspredicate .x-form-check-wrap {
    border-bottom:solid 1px #dddddd;
    padding-top:0;
    padding-bottom:4px;
    padding-left:6px;
    height:18px;
}

#CQ .cq-optionspredicate .x-form-check-wrap LABEL {
    font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

#CQ .cq-optionspredicate LABEL {
    margin-left:6px;
}

#CQ .cq-optionspredicate .x-form-check {
    position:relative;
    top:1px;
}

#CQ .cq-optionspredicate .subpanel {
    margin-bottom:18px;
}