/* workflow model list */
#CQ .workflow-model-item {
    border-color:#FFFFFF rgb(255, 255, 255) rgb(238, 238, 238);
    border-style:solid;
    border-width:1px;
    color:#555555;
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding:7px 7px;
    white-space:normal;
}

#CQ .workflow-model-thumbnail {
    float:left;
    margin-right:7px;
}

#CQ .workflow-model-no-thumbnail {
    padding-left:55px;
}

#CQ .workflow-model-title {
    font-weight:bold;
}

#CQ .template-description {
    font-style:italic;
}
