.meeting {
    .body {
        ul {
            ._text {
                width:100%;
            }
            li {
                width: 100%;
            }
        }
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    // max-width: 540px;
    line-height: 20px;
    text-overflow: ellipsis;
}