//@import '../../constants';


.vtk-popup{
    position: fixed;
    max-width: 600px;
    z-index: 4000;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);


    .___header{
        padding: 10px 10px ;
        background-color: #18aa51 ;
        width: 100%;
        color:white;
        text-transform: uppercase;
    }
    .___content{
        padding: 40px;
         width: 100%;
         background-color: white;
         overflow-x: hidden;
         overflow-y: auto;
         font-size: 14px;

         table{
             font-size:14px;
             vertical-align: top;

             tr{
                 background-color: white !important;
                 font-size:14px;
                 td{
                    font-size:14px;
                    vertical-align: top;
                 }
             }
         }
    }

    &.___hide{
        visibility: hidden;
    }
}


.__preview{
    .__header{
        & > .vtk-icon{
            pointer-events: auto !important;
        }
    }
}