# Configuration created by Apache Sling JCR Installer
newRenew="https://www.girlscouts.org/vs2temprenew"
newVolunteer="https://www.girlscouts.org/vs2tempjoin#volunteer"
oldVolunteer="https://girlscouts.secure.force.com"
newJoin="https://www.girlscouts.org/vs2tempjoin#join"
oldRenew="https://gsmembers.force.com/members/login"
oldJoin="https://girlscouts.secure.force.com/girl"
