# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.names=["org.girlscouts.common.osgi.component.impl.WebToLeadImpl","org.girlscouts.web.servlets.WebToLeadServlet","org.girlscouts.common.servlet.GatedContentFormServlet"]
org.apache.sling.commons.log.file="logs/gs-web-to-lead.log"
org.apache.sling.commons.log.level="debug"
org.apache.sling.commons.log.additiv="false"