# Configuration created by Apache Sling JCR Installer
auth.sudo.cookie="sling.sudo"
sling.auth.anonymous.user=""
auth.annonymous=B"true"
sling.auth.requirements=["\ /libs/granite/oauth/content/authorization","+/content/girlscouts-vtk","-/content/girlscouts-vtk/sso/login","-/content/girlscouts-vtk/sso/logout","-/content/girlscouts-vtk/sso/error","-/content/girlscouts-vtk/sso/proxy"]
osgi.http.whiteboard.listener="true"
auth.sudo.parameter="sudo"
auth.http="preemptive"
auth.uri.suffix=["/j_security_check"]
auth.http.realm="Sling\ (Development)"
osgi.http.whiteboard.context.select="(osgi.http.whiteboard.context.name\=*)"
