div.textimage div.image {
    float: left;
    margin: 0 0 8px 0;
    max-width: 100%;
}
div.textimage.image_left div.image {
}

div.textimage.image_right div.image {
    float: right !important;
    margin: 0 0 8px 8px !important;
}

/*GSWP-2149-Image Center alignment and shrink the width if the image is bigger in center alignment*/
.txtimage-right {
	float: right;    
 	margin: 0 0 0 15px;
}

.txtimage-left {
	float: left;    
 	margin: 0 15px 0 0;
}

.txtimage-center {
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
    width: fit-content;
    width:-moz-fit-content;
    width:-webkit-fit-content;
    width:-ms-fit-content;
    max-width: 50%;
}
.txtimage-no-margin{
	margin:0;
}
/*End-GSWP-2149-Image Center alignment and shrink the width if the image is bigger in center alignment*/

/*GSDO-1077- Image and caption width*/

   .txtimage-left, .txtimage-right, .txtimage-center, .txtimage-left img, .txtimage-right img, .txtimage-center img {
		max-width: 100%;
	}

