.article-slider {
  &.slick-slider {
    margin-left: 0;
    .article-tile {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  // .slick-track .slick-slide.slick-active:nth-child(3n+3) .article-tile {
  //   margin-left: 0;
  // }
  // .slick-track .slick-slide.slick-active:nth-of-type(2n-3) .article-tile {
  //   padding: 0 10px;
  // }
  .slick-prev,
  .slick-next {
    height: rem-calc(50);
    margin-bottom: 0;
    margin-top: rem-calc(-25);
    width: rem-calc(25);
    box-shadow: 0px 2px 7px -2px #000;
    &:hover,
    &:focus {
      background-color: rgba(104, 104, 104, .8) !important;
    }
    &:before {
      content: none;
    }
  }
  .slick-prev {
    left: rem-calc(3);
    background: url("/etc/designs/gsusa/clientlibs/images/left-arrow.png") no-repeat 50% 50%/45% rgba(153, 153, 153, .8) !important;
    &:before {
     // content: url("/etc/designs/gsusa/clientlibs/images/left-arrow.png");
    }
  }
  .slick-next {
    right: rem-calc(3);
    background: url("/etc/designs/gsusa/clientlibs/images/right-arrow.png") no-repeat 50% 50%/45% rgba(153, 153, 153, .8) !important;
    &:before {
      //content: url("/etc/designs/gsusa/clientlibs/images/right-arrow.png");
    }
  }
}
.dynamic-tag-carousel {
  width: 610px;
  margin: 0 auto;
}
.article-detail-carousel .article-slider {
  .article-tile {
    padding: 0;
    height: 100%;
    opacity: .5;
    section {
      height: 100%;
      h3 {
        font-size: rem-calc(13);
        margin: 0 0 5px 0;
      }
    }
    &.last {
      background: #ccc;
      text-align: center;
      opacity: 1;
      a {
        color: $white;
        top: 50%;
        position: relative;
        margin-top: rem-calc(-8);
        line-height: 1;
      }
    }
  }
  .slick-slide {
    margin: rem-calc(0 10);
    // max-width: rem-calc(140);
    height: rem-calc(119);
    .current {
      opacity: 1;
    }
  }
  .slick-prev,
  .slick-next {
    margin: 0;
    height: 100%;
    top: 0;
    box-shadow: none;
    width: 50px;
    background-color: rgba(173, 173, 173, 1) !important;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  .slick-next {
    right: -70px;
  }
  .slick-prev {
    left: -70px;
  }
}
.article-carousel .article-slider .article-tile.last section {
  min-height: 244px;
  height: 100%;
  background: #cccccc;
  text-align: center;
  a {
    color: $white;
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    font-size: rem-calc(24);
  }
}
