.breaking-news {
  @include clearfix;
  background: $bg_breaking_news;
  padding: 0.52083333%;
  text-align: center;
  a {
    color: $white;
    @media #{$medium-up} {
      position: relative;
      top: rem-calc(15);
    }
  }
  .thumbnail {
    float:left
  }
}