.breaking-news .inner-wrapper{
  @include clearfix;
  background: $bg_breaking_news;
  padding: 0.52083333%;
  text-align: center;
  & * {color: $white;}
  p {
    // @media #{$medium-up} {
    //   position: relative;
    //   top: rem-calc(15);
    // }
    margin: 0;
  }
  .thumbnail {
    float:left
  }
}