#camp-finder-result {
  form {
    div.clearfix {
      margin-bottom: rem-calc(30);
      section {
        float: left;
        width: 32%;
        margin-right: 2%;
        &:last-child {
          margin-right: 0;
        }
        select, input[type="text"] {
          margin: 0;
        }
        label {
          margin-bottom: rem-calc(5);
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .no-results {
    p {
      margin:0;
    }
  }
}