
@import "slick-theme";
//default variabled from slick-theme.scss

// $slick-font-path: "./fonts/" !default;
// $slick-font-family: "slick" !default;
// $slick-loader-path: "./" !default;
// $slick-arrow-color: red;
// $slick-dot-color: black !default;
// $slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f137";
$slick-next-character: "\f138";
// $slick-dot-character: "\f111";
// $slick-dot-size: rem-calc(16);
// $slick-opacity-default: 0.75 !default;
// $slick-opacity-on-hover: 1 !default;
// $slick-opacity-not-active: 0.25 !default;
div.carousel {
  @media #{$medium-up} {
    margin-bottom: rem-calc(35);
  }
  margin-top: 0;
  .slick-slider {
    margin: 0;
    position: static;
    li {
     // min-height: rem-calc(500);
    }
  }
  .slick-dots {
    bottom: rem-calc(-150);
    margin-left: 0;
    position: relative;
    bottom: -10px;
    text-align: left;
    li {
      height: 14.084507%;
      width: 23.943662%;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .slick-prev,
  .slick-next {
    border-radius: 50%;
    width: rem-calc(40);
    height: rem-calc(40);
    background: $black;
    &:before {
      font-family: "FontAwesome";
      font-size: rem-calc(35);
      opacity: 1;
    }
  }
  .slick-prev {
    left: rem-calc(10);
    &:before {
      content: "\f0d9";
      margin-right: rem-calc(4);
    }
  }
  .slick-next {
    right: rem-calc(10);
    &:before {
      content: "\f0da";
      margin-left: rem-calc(4);
    }
  }
}

.hero-feature {
  position: relative;
  margin-bottom: rem-calc(105);
  .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
  }
  .hero-text {
    position: absolute;
    background: rgba(0,0,0,0.4);
    @include grid-column(24);
    top: 2%;
    @media #{$medium-up} {
      @include grid-column(9);
    }
    h2 {
      text-shadow: 0px 3px 8px #010101;
      text-align: left;
      font-weight: 300;
      margin-bottom: rem-calc(20);
      @media #{$small-only} {
        font-size: rem-calc(16);
      }
    }
    & * {color: $white;}
    .button {
      background-color: $fuchsia;
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
      text-transform: uppercase;
    }
  }
  .join {
    @media #{$medium-up} {
      position: absolute;
    }
    background-color: rgba(255,255,255, .8);
    padding: rem-calc(34 0 24 0);
    text-align: center;
    bottom: 0;
    width: 100%;
    height: rem-calc(90);
    a {
      font-size: rem-calc(30);
      font-weight: 600;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      line-height: 1;
      width: rem-calc(200);
      // @include single-transition(opacity, .25s, ease-in-out);
      &:after {
        content: "";
        position: absolute;
        display: block;
        border-style: solid;
        border-color: transparent transparent transparent #00AE58;
        border-width: rem-calc(10);
        top: 50%;
        right: 0;
        margin-top: rem-calc(-10);
      }
    }
    section {
      position: relative;
      display: none;
      .wrapper {
        position: absolute;
      }
      span {
        color: $primary-color;
        font-size: rem-calc(20);
        font-weight: 500;
        margin-right: rem-calc(5);
      }
      input[type="text"] {
        display: inline;
        width: 20%;
        padding-left: rem-calc(5);
      }
      button {
        padding: rem-calc(7);
        margin: 0;
      }
    }
  }
  .position {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    display: block;
    opacity: 0;
  }
  .inner-sliders {
    margin: 0 auto;
    width: 73.958333%;
    color: $white;
    ul {
      li.slick-slide {
        h3 {
          color: $white;
          margin: 0;
          text-transform: uppercase;
          text-align: center;
          font-weight: 300;
        }
        .slick-track img {
          height: 337px;
          width: 100%;
        }
      }
    }
  }
}