.cookie-header {
  font-size: rem-calc(18);
  margin-top: rem-calc(9);
  color: $white;
  margin-bottom: rem-calc(28);
    .wrapper {
      background: #6e298d;
      margin-top: rem-calc(13);
    }
    .wrapper-inner {
      position: relative;
      z-index: 1;
      padding: rem-calc(13 0);
      @media #{$small-only} {
        padding-left: 15%;
        padding-right: 15%;
      }
      &:before {
        @media #{$medium-up} {
          content: "";
          background: url("../images/zip-cookie-bg1.png") no-repeat 0% 0% transparent;
          height: rem-calc(105);
          width: rem-calc(235);
          position: absolute;
          z-index: 2;
          top: rem-calc(-13);
        }
        @media #{$small-only} {
          content: "";
          background: url("../images/cookie-header.png") no-repeat 0% 0% transparent;
          height: rem-calc(71);
          width: rem-calc(71);
          left: 50%;
          position: relative;
          margin-left: rem-calc(-36);
          margin-bottom: rem-calc(20);
          margin-top: rem-calc(20);
        }
      }
    }
    .share {
      #main & {
        display: none;
      }
      @media #{$small-only} {
        text-align: center;
        clear:both;
      }
      i {
        font-size: rem-calc(37);
      }
      a {
        vertical-align: middle;
        line-height: 1.2;
      }
    }
    form {
      label {
        color: $white;
        font-size: rem-calc(16);
      }
      input[type="text"] {
        float: left;
        width: 100%;
        font-style: italic;
        padding-left: rem-calc(10);
        height: rem-calc(47);
      }
      .link-arrow {
        border: none;
        background-color: $primary-color;
        float: left;
        line-height: rem-calc(37);
        padding: 5px .9%;
        position: absolute;
        right: 0;
      }
      .form-wrapper {
        margin: 5% 0;
        position: relative;
      }
      @media #{$medium-up} {
        width: 50%;
        margin-left: rem-calc(265);//width of the image + 30px
        .main-content & {
          margin: 0;
          float: right;
          padding: 0 20px 0 0;
          width: 67%;
        }
        .middle-col &  {
          width: 50%;
        }
        .form-wrapper {
          width: 50%;
          float: left;
          margin:0;
        }
        label {
          float: left;
          line-height: 1.2;
          display: inline;
          width: 50%;
        }
      }
    }
    @media #{$medium-up} {
      .share {
        @include grid-column(5, $float:right);
        line-height: rem-calc(37);
        i {
          float: right;
          width: 22%;
        }
        a {
          span {
            display: inline-block;
            float: left;
            width: 73%;
          }
        }
      }
    }
}
