footer {
  background: $primary-color;
  color: #C1EAD4;
  @media #{$small-only} {
    padding: 0;
  }
  padding: rem-calc(40) 0;
  @include grid-row();
  .inline-list {
    margin-bottom: 0;
  }
  //footer navigation list.
  section:first-child {
    margin-bottom: rem-calc(30);
     .inline-list {
        li {
          margin-left: 0;
          @media #{$medium-up} {
            margin-right: rem-calc(20);
        }
      }
      // @media #{$large-up} {
      //   @include grid-column (18);
      // }
//removing it for cq edit more
//      @media #{$medium-up} {
//        @include grid-column (16);
//      }
      @media #{$small-only} {
        @include block-grid(2);
        padding: rem-calc(0 10);
      }
    }
  }
  .copyright {
    @media #{$medium-up} {
      @include grid-column (10);
    }
    width: 100%;
    float:none;

    p {
      margin-bottom: 0;
    }
  }
  .social-links {
    @media #{$medium-up} {
      @include grid-column (14);
      float: right;
    }
    ul {
      @media #{$medium-up} {
        text-align: right;
      }
      text-align: center;
      li {
        float: none;
        display: inline-block;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    @media #{$small-only} {
      background: #009447;
      padding: rem-calc(15 0);
      margin-top: rem-calc(20);
    }
  }
  a {
    color: #C1EAD4;
    &:hover {
      color: $white;
    }
  }
//  .email-signin,
//  .email-output-message {
//    // @media #{$large-up} {
//    //   @include grid-column(6, $float:right);
//    // }
//    @media #{$medium-up} {
//      @include grid-column(8, $float:right);
//      text-align: right;
//    }
//  }
  .float-right {
  	@media #{$medium-up} {
      @include grid-column(8, $float:right);
      text-align: right;
    }
  }
  .email-output-message {
    text-align: left;
    display:none;
    p {margin:0;}
  }
  .email-signin,
  .email-output-message {
    @media #{$small-only} {
      background: #009447;
      padding: rem-calc(15 10);
      margin-bottom: rem-calc(20);
    }
    label {
      display: inline;
      color: #C1EAD4;
      margin-right: rem-calc(5);
    }
    input {
      width: 58.695652%;
      display: inline;
      @media #{$medium-up} {
        float:right;
      }
      height: auto;
      padding: rem-calc(1  5  0 5);
      font-size: rem-calc(12);
      margin-bottom: 0;
       @media #{$small-only} {
        width: 75%;
       }
    }
  }
}
