.header {
  a {
    color: $white;
    &:hover {
      color: #FAA61A;
    }
  }
  .top-header {
    padding-top: rem-calc(22);		// giving more padding -pbae
    padding-bottom: rem-calc(22);	// giving more padding -pbae
    background: $primary-color;
    color: $white;
//putting it outside for cq author mode
//    .search-form {
//      float: right;
//    }
  }
  .logo-section {
    @include grid-column(6);
    padding-left: rem-calc(22);
    @media #{$small-only} {
      margin: 0 auto;
      float: none;
      width: 100%;
      text-align: center;
    }
  }
  .utility {
    @include grid-column(18);
    * {
      font-size: rem-calc(14);
    }
    .float-right {
      float: right;
    }
  }
  .eyebrow-nav {
    padding-left: 0.35714rem;
    padding-right: 0.35714rem;
    float: right;
    .inline-list {
      li {
        margin-left: 1.0rem;
        font-size: rem-calc(14);
        .hide {
          display: none;
        }
      }
      li:first-child {
        margin-left: 0;
      }
    }
  }
}
.cookie-header {
  .row {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    background: $primary-color;
    color: $white;
    label {
      color: $white;
      float: left;
      line-height: rem-calc(37);
      font-size: rem-calc(16);
    }
    form {
      @include grid-column(10, $push:5);
    }
    .share {
      @include grid-column(9, $float:right);
      line-height: rem-calc(37);
      i {
        font-size: rem-calc(37);
      }
      a {
        vertical-align: middle;
      }
    }
    input[type="text"] {
      float: left;
      width: 50%;
      margin-left: rem-calc(5);
    }
    .link-arrow {
      border: none;
      background-color: transparent;
      float: left;
      line-height: rem-calc(37);
      padding: rem-calc(0 10);
    }
    span {
      border-style: solid;
      border-color: transparent transparent transparent $white;
      border-width: rem-calc(5);
      display: inline-block;
      top: rem-calc(5);
      position: relative;
    }
  }
}