.header {
  a {
    color: $white;
    &:hover {
      color: #FAA61A;
    }
  }
  .top-header {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    background: $primary-color;
    color: $white;
//putting it outside for cq author mode
//    .search-form {
//      float: right;
//    }
  }
  .logo-section {
    @include grid-column(6);
    padding-left: rem-calc(12);
    @media #{$small-only} {
      margin: 0 auto;
      float: none;
    }
  }
  .utility {
    @include grid-column(18);
    .float-right {
      float: right;
    }
  }
  .eyebrow-nav {
    padding-left: 0.35714rem;
    padding-right: 0.35714rem;
    width: 77%;
    float: right;
    .inline-list {
      float: right;
      li:first-child {
        margin-left: 0;
      }
    }
  }
}