.right-small {
  border:none;
}
.header-nav.row {
  background: #009447;
}
.right-submenu .back  > a {
  &:after {
    content: none;
  }
  &:before {
    content: "\AB";
    margin-right: .5rem;
  }
}
.top-bar-section {
  li.has-submenu  {
    > a {
      position: relative;
    }
    &.active {
      > a:after {
        border-bottom: solid 8px $white;
        position: absolute;
        border-right: solid 8px transparent;
        border-left: solid 8px transparent;
        border-top: solid 8px transparent;
        bottom: -1px;
        display: block;
        content: "";
        left: 50%;
        margin-left: -8px;
      }
    }
  }
}
//off canvase menues.
.right-off-canvas-menu {
  ul.off-canvas-list {
    &:first-child {
      border-left: solid rem-calc(10) $gs-orange;
      border-bottom: 1px solid #464646;
    }
    li.has-submenu {
      > a {
        text-transform: uppercase;
        padding-left: rem-calc(15);
        &:before {
          content: none;
        }
      }
    }
    & * {
      list-style: none;
    }
  }
  ul.off-canvas-list:last-child {
    > li > a {
      padding-left: rem-calc(25);
    }
  }
  li.active {
    > a {
      background: #B0B0B0;
    }
  }
}
//left column navigation
.left-nav {
  @include grid-row($behavior: nest-collapse);
  margin-top: rem-calc(54);
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include grid-column(20, $collapse: true);
    li {
      // height: rem-calc(36);
      padding: rem-calc(8 0 6 0);
      a {
        padding-left: rem-calc(11);
      }
      &.active,
      &.current {
        background: #e3e3e3;
        position: relative;
        &:after {
          @include css-triangle(18px, #e3e3e3, left);
          right: rem-calc(-36);
          top: 0;
          position: absolute;
        }
        a {
          font-weight: 700;
        }
      }
    }
  }
}
.eyebrow-nav {
  float: left;
  margin-right: rem-calc(90);
}