rolloutmgr.excludedprops.default=["jcr:.*","sling:.*","cq:.*"]
rolloutmgr.threadpool.priority="MIN"
rolloutmgr.threadpool.maxsize=I"5"
rolloutmgr.commit.size=I"500"
rolloutmgr.excludednodetypes.default=["cq:LiveSyncAction","cq:LiveSyncConfig","cq:BlueprintSyncConfig","cq:LiveSyncCancelled"]
rolloutmgr.excludedparagraphprops.default=["cq:propertyInheritanceCancelled"]
rolloutmgr.threadpool.maxshutdowntime=I"10"
