# Configuration created by Apache Sling JCR Installer
clientId="b3829e9e828748c0a38d2e239b26d4ac"
troopInfo="/MyTroopData"
userInfo="/UserInfo"
clientSecret="be50EF3835634F93a9e940f8F333d04D"
contactsInfo="/TroopMembers"
endpoint="https://api.girlscoutsnetwork.org/api/sfdc/v1/ProductAccess"
troopLeaderInfo="/DPInfo"
