@import '../vtk/vtk-colors';

#vtk-mtg-plan-materials {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      color: $green_light;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}