#vtk-mtg-plan{
    h6{
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        background: #f6f6f6;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.25em;
        padding: 5px;
    }

    p{
        font-size: 14px;
    }

    #vtk-mtg-plan-comunications{
        .a-tag-modal{
            a{
               font-weight: normal !important;
            }
        }
    }

    .__list_of_assets{
        li{
            table{
                background-color: transparent;
                padding: 0;
                margin: 0;
                tr{
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    td{
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

    .disabled{
        color: gray;
        pointer-events: none;
        font-weight: bold;
    }
}