# Configuration created by Apache Sling JCR Installer
identitySyncType="default"
keyStorePassword="admin"
service.ranking=I"5002"
idpHttpRedirect=B"false"
createUser=B"true"
defaultRedirectUrl="/content/girlscouts-vtk/sso/landing.html"
userIDAttribute=""
idpIdentifier=""
assertionConsumerServiceURL="http://localhost:4504/content/girlscouts-vtk/saml_login"
defaultGroups=["girlscouts-vtk-sso"]
signatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
idpCertAlias="certalias___1608236683028"
addGroupMemberships=B"true"
path=["/content/girlscouts-vtk"]
digestMethod="http://www.w3.org/2001/04/xmlenc#sha256"
synchronizeAttributes=["profile/GSGlobalID\=profile/GSGlobalID","profile/email\=profile/email","profile/gsUserType\=profile/gsUserType","profile/givenName\=profile/givenName","profile/familyName\=profile/familyName"]
clockTolerance=I"-1"
groupMembershipAttribute="groupMembership"
idpUrl="https://fidm.us1.gigya.com/saml/v2.0/3_uGtRowY-YcKCUesW6JcK4dZaC1CPFhjZFJq_aNf0fXvvKoFoIwXuMSanmdYfMw2b/idp/sso"
logoutUrl="https://fidm.us1.gigya.com/saml/v2.0/3_uGtRowY-YcKCUesW6JcK4dZaC1CPFhjZFJq_aNf0fXvvKoFoIwXuMSanmdYfMw2b/idp/slo"
serviceProviderEntityId="local-gsusa-vtk-sp"
handleLogout=B"true"
userIntermediatePath="sso"
spPrivateKeyAlias="aem-vtk-local"
useEncryption=B"false"
nameIdFormat="urn:oasis:names:tc:SAML:2.0:nameid-format:transient"
