#vtk-yp-main {
    margin: 20px 0;

    .__categories{
        margin-bottom: 30px;
    }

    .row:nth-child(n+2){
        padding-bottom: 0px !important;
    }
    .row:nth-child(1) {
        padding-bottom: 0px !important;
    }
    .__header {
        background: #f6f6f6;
        padding: 5px;
   
        margin-bottom: 10px;
    }
    .__year-plan-track-row {
        .__year-plan-track,
        .__meetings {
            padding: 5px 0;
            // margin-left: -10px;
            // margin-right: -10px;
            .table {
                width: 100%;
                display: table;
                font-size: 14px;
                .cell {
                    display: table-cell;
                    vertical-align: middle;
                }
                .cell.c18 {
                    width: 60%;
                }
                .cell.c3 {
                    width: 21%;
                    .button {
                        width: 100%;
                        margin: 0;
                    }
                    .inactive{
                        background-color: #969696 !important;
                        pointer-events: none;
                    }
                    text-align: right;
                }
                .click-preview {
                    color: #00A850;
                    font-weight:600;
                    cursor: pointer;
                    padding-right: 20px;
                }
                .click-preview.__close {
                    &:before {
                        position: relative;
                        content: "";
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-color: transparent transparent transparent #00A850;
                        top: 2px;
                        right: 0px;
                        border-width: 7px;
                    }
                }
                .click-preview.__open {
                    &:before {
                        position: relative;
                        content: "";
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-color: #00A850 transparent transparent transparent;
                        top: 6px;
                        right: 0px;
                        border-width: 7px;
                    }
                }
            }
        }
    }
    .__meetings {
        padding-top: 0px !important;
        padding-bottom: 20px;
        background-color: #e1e1e1;
        .list-meetings {
            background-color: white;
            padding: 5px;
        }
    }
    .meeting {
        background-color: #f6f6f6;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
        .square {
            width: 83px;
            height: 83px;
            background-color: #00ae57;
            display: inline-block;
            float: left;
            p {
                margin: 0;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                color: white;
                font-weight: 100;
            }
            .postion {
                font-size: 30px;
            }
        }
        .arrowGreen {
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-left: 14px solid #00ae57;
            float: left;
            margin-top: 27px;
        }
        .body {
            display: inline-block;
            padding: 12px 0 0 20px;
            width: 87%;
            min-height: 80px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: table;
                width: 100%;
                height: 80px;
                li {
                    display: table-cell;
                    vertical-align: middle;
                    height: 80px;
                }
            }
        }
    }
    .big-arrow-white {
        height: 50px;
        float: right;
        width: 100%;
        clear: both;
        &:after {
                content: '';
                width: 0;
                height: 0;
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-top: 20px solid white;
                float: right;
                margin-right: 307px;
        }
    }
     .vtk-yp-link{
        cursor: pointer;
        font-size: 14px;
        color:#00ae58;
        text-align:right;
    }
    .vtk-yp-link:hover{
        color:green !important;
    }

    .vtk-yp-gray{
         width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color:black;
        opacity: 0.8;

        &.__hidden{
            visibility: hidden;
        }
    }
}