@import 'icons';

#vtk-yp-main {

    h2{
        margin-bottom:10px;
        // line-height: 26px;
        font-size: 30px;
    }

    ._main_boxes{
        padding: 0px;

        ._box_wrap{
            padding-bottom: 20px;
            text-align: center;
            cursor: pointer;
            
            ._box{
                    background: #FFFFFF;
                    box-shadow: 0 0 3px 2px rgba(0,0,0,0.08);
                    padding: 15px;
                   
            
                    *{
                        text-align: center;
                    }

                    .__img{
                        width: 100%;
                        height: 100px;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }

                    &.__tracks{
                        .__img{
                            background-image: $map;
                        }
                    }
                    &.__library{
                        .__img{
                            background-image: $star;
                        }
                    }

                    h3{
                        font-size: 18px;
                    }

                    .btn{
                        padding: 12px 5px;
                        margin: 0 !important;
                    }
            }
 
        }


        &.__OPEN{
            ._box_wrap{
                ._box.__library{
                    padding: 10px;
                    width: 340px;
                    margin:0 auto;
                    position: relative;
                    .__img{
                        height: 68px;
                    }
               
                }

                ._box.__tracks{
                    padding: 44px 10px 10px 10px;

                    box-shadow: 0 0 3px 2px white;
                        .__img{
                            height: 68px;
                            background-image: $mapselected !important;
                            margin-bottom: 30px;
                        }

                        p{
                            margin:0px;
                        }    

                        .btn{
                            display: none;
                        }
                   
                }
            }
        }
        
    }


    ._back_box_tracks{
        background-color: rgb(233, 233, 233);
        display: inline-block;
        width:100%;

        .row{
            background-color: transparent;
        }

        &.__OPEN{
            // padding-top: 30px;
            padding-bottom: 30px;


            
        }

        &.__CLOSE{

            overflow: hidden;
            height: 0;

            ._triangle{
                // display: none;
            }
            .__level-logo{
                // display: none;
            }
        }


        ._triangle{
            // padding-bottom: 30px;
            width: 0; 
            height: 0; 
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            display: block;
            border-top: 40px solid white;
            position: absolute;
        }

    }

    .__padding{
        @media screen and (max-width: 650px) {
            padding: 20px 0;

        }
        @media screen and (min-width: 650px) {
            padding: 0;
        }
    }

    .__categories{
        margin-bottom: 40px;
    }

    .row:nth-child(n+2){
        padding-bottom: 0px !important;
    }
    .row:nth-child(1) {
        padding-bottom: 0px !important;
    }
    .__header {
        padding: 5px 5px 5px 10px;
        margin-bottom: 10px;
    }


    .__list__tracks_main{
        width: 100%;
        height: 500px;
    }


    .__year-plan-track-row {
        .__year-plan-track,
        .__meetings {
            padding: 5px 0;
            // margin-left: -10px;
            // margin-right: -10px;
            .table {
                width: 100%;
                display: table;
                font-size: 14px;
                .cell {
                    display: table-cell;
                    vertical-align: middle;
                }
                .cell.c18 {
                    width: 60%;
                }
                .cell.c3 {
                    width: 28%;
                    .button {
                        width: 100%;
                        margin: 0;
                    }
                    .inactive{
                        background-color: #969696 !important;
                        pointer-events: none;
                    }
                    text-align: right;
                }
                .click-preview {
                    color: #00A850;
                    font-weight:600;
                    cursor: pointer;
                    padding-right: 20px;
                }
                .click-preview.__close {
                    &:before {
                        position: relative;
                        content: "";
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-color: transparent transparent transparent #00A850;
                        top: 2px;
                        right: 0px;
                        border-width: 7px;
                    }
                }
                .click-preview.__open {
                    &:before {
                        position: relative;
                        content: "";
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-color: #00A850 transparent transparent transparent;
                        top: 6px;
                        right: 0px;
                        border-width: 7px;
                    }
                }
            }
        }
    }



    ._year-plan-box{
        background: #FFFFFF;
        box-shadow: 0 0 3px 2px rgba(0,0,0,0.08);
        font-size: 14px;
        color: #000000;
        text-align: center;
        line-height: 19px;
        padding: 15px 10px 10px;
        height: 250px;
        width: 250px;
        margin:0px 12px 12px 0;
        float: left;
        .__top{
            font-size: 14px;
            line-height: 12px;
            height: 48px;
            text-align: center;
            overflow: hidden;
            

        }

        img{
            width:220px;
            height:105px;
            // border:1px solid gray;
            margin:0 auto 30px;
        }

        &.__selected{
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
        }
    }

    .__meetings {
        padding-top: 0px !important;
        padding-bottom: 20px;
        background-color: transparent;
        .list-meetings {
            background-color: white;
            padding: 5px;
        }
    }
    .meeting {
        background-color: #f6f6f6;
        margin-bottom: 10px;
        position: relative;
        &:last-child {
            margin-bottom: 0px;
        }
        .square {
            width: 83px;
            height: 83px;
            background-color: #00ae57;
            display: inline-block;
            float: left;
            p {
                margin: 0;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                color: white;
                font-weight: 100;
            }
            .postion {
                font-size: 30px;
            }
        }
        .arrowGreen {
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-left: 14px solid #00ae57;
            float: left;
            margin-top: 27px;
        }
        .square-small {
            width: 100%;
            height: 83px;
            background-color: #00ae57;
            // display: inline-block;

            p {
                margin: 0;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                color: white;
                font-weight: 100;
            }
            .postion {
                font-size: 30px;
            }
        }
        .arrowGreen-small {

            border-right: 16px solid transparent;
            border-top: 14px solid #00ae57;
            border-left: 16px solid transparent;
   

            width: 0;
            height: 0;

            
         margin-left: -16px;    margin-top: -1px;
            position: absolute;
            left: 50%;




        }

        .body {
            display: inline-block;
            min-height: 80px;

            @media screen and (max-width: 650px) {
                padding: 12px 0 0 0;
                width: 100%;
            }
            @media screen and (min-width: 650px) {
                padding: 12px 0 0 0;
                width: 80%;
            }

            @media screen and (min-width: 940px) {
                padding: 12px 0 0 20px;
                width: 87%;
            }


            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: table;
                width: 100%;
                height: 80px;
                li {
                    display: table-cell;
                    vertical-align: middle;
                    height: 80px;
                }
            }
        }
    }
    .big-arrow-white {
        height: 50px;
        float: right;
        width: 100%;
        clear: both;
        &:after {
                content: '';
                width: 0;
                height: 0;
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-top: 20px solid white;
                float: right;
                margin-right: 307px;
        }
    }

    .big-arrow-white-small {
        height: 50px;
        float: right;
        width: 100%;
        clear: both;
        &:after {
                content: '';
                width: 0;
                height: 0;
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-top: 20px solid white;
                float: right;
                margin-right: 248px;
        }
    }
     .vtk-yp-link{
        cursor: pointer;
        font-size: 14px;
        color:#00ae58;
        text-align:right;
    }
    .vtk-yp-link:hover{
        color:green !important;
    }

    .vtk-yp-gray{
         width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color:black;
        opacity: 0.8;

        &.__hidden{
            visibility: hidden;
        }
    }


    .last-part{
        .button {
            margin: 0;
        }
        .inactive{
            background-color: #969696 !important;
            pointer-events: none;
        }
        .table {
            width: 100%;
            display: table;
            font-size: 14px;
            .cell {
                display: table-cell;
                vertical-align: middle;
            }
            .cell.c19                     {
                width: 72%;
            }
            .cell.c3 {
                width: 28%;
                .button {
                    width: 100%;
                    margin: 0;
                }
                .inactive{
                    background-color: #969696 !important;
                    pointer-events: none;
                }
                text-align: right;
            }
            .click-preview {
                color: #00A850;
                font-weight:600;
                cursor: pointer;
                padding-right: 20px;
            }
            .click-preview.__close {
                &:before {
                    position: relative;
                    content: "";
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-style: solid;
                    border-color: transparent transparent transparent #00A850;
                    top: 2px;
                    right: 0px;
                    border-width: 7px;
                }
            }
            .click-preview.__open {
                &:before {
                    position: relative;
                    content: "";
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-style: solid;
                    border-color: #00A850 transparent transparent transparent;
                    top: 6px;
                    right: 0px;
                    border-width: 7px;
                }
            }
        }
    }

    img._requirement_modal{
        background-color: white;
        -webkit-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        padding: 2px;
        border-radius: 8px;
    }

    ._intro{
        text-align: center;
        padding: 15px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.08);
        margin-bottom:10px;
    }


    .btn.button{
        padding: 11px 20px;
        font-size: 14px;
        margin: 0 10px 10px 0 !important;
        min-width: 136px !important;

        &.btn-line{
            border: 1px solid #18aa51;
            background-color: white !important;
            color:#18aa51;
        }

        &.btn-default{
            border: 1px solid #18aa51;
        }

        &.selected{
            background-color: orange !important;
            border:none;

           &.inactive{ 
               pointer-events: none;
            }
        }
    }
}


.inner-wrap{
    // background-color: #6b6b6b;
}


