.tag-info-heading {
    border-bottom: 0.0625rem solid #c8c8c8;
}

.tag-info-label {
    text-align: left;
    padding-top: 12px;
    float: none;
    margin-left: .8rem;
}

.tag-info-name-value {    
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: .8rem;
    float: none;
    font-size: 18px;
    overflow: hidden;    
    max-width: none;
}

.tag-info-detail-minor {
    margin-top: 4px;
}

.tag-info-detail-minor-left {
    float: left;
    margin-left: 0.8rem;
    margin-right: 5px;
    font-size: 14px;
}

.tag-info-detail-minor-right {
    float: right;
    font-size: 14px;
}

.tag-info-description {
    border-top: 0.0625rem solid #c8c8c8;
    margin-top: 40px;
}

.tag-info-description-value {    
    text-align: left;
    padding: 5px 15px 10px 0px;    
    margin-left: .8rem;
    float: none;
    font-size: 14px;
    overflow: hidden;    
    max-width: none;
}

.tag-info-non-empty-references {
    display: none;
}

.tag-info-references-div {
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.tag-info-references-text {
    padding-top: 14px;
    padding-left: 10px;
    font-size: 14px;
    overflow-y: hidden;
}

.tag-info-modification {
    margin-top: 15px;
    border-top: 0.0625rem solid #c8c8c8;
}

.tagref-details {
    display: none;
}

.tagref-item {
    border-bottom: 0.0625rem solid #c8c8c8;
    padding: 5px 10px 5px 15px;
    cursor: context-menu;
}

.tagref-title {
    font-weight: 700;
    font-style: normal;
    color: #666666;
    margin: 0.3125rem 0 0 0;
}

.tagref-details-back {
    border-bottom: 0.0625rem solid #c8c8c8;
}