/*
 * Copyright 1997-2010 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

/* edit lock of fields */
#CQ .cq-dialog-editlock {
    float:left;
    position:relative;
    z-index:2;
    top:2px;
}

/* edit lock button in dialog button bar */
#CQ .x-toolbar-ct .cq-dialog-editlock {
    top:0;
}
#CQ .cq-dialog-editlock .cq-dialog-locked,
#CQ .cq-dialog-editlock .cq-dialog-unlocked {
    display:block;
    width:16px;
    height:16px;
    text-decoration:none;
}
#CQ .cq-dialog-editlock .cq-dialog-unlocked {
    background:url(../icons/16x16/unlocked.png) no-repeat;
}
#CQ .cq-dialog-editlock .cq-dialog-locked {
    background:url(../icons/16x16/locked.png) no-repeat;
}
