/*
 * Copyright 1997-2008 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */


/*
* Highlight
*/
#CQ .cq-highlight {
    background-color:#d3ea9a;
    position: absolute;
    padding: 1px;
    z-index: 8000;
    font-size:0;
    border:none;
}

#CQ .cq-highlight.left {
}

#CQ .cq-highlight.right {
}

#CQ .cq-highlight.top {
}

#CQ .cq-highlight.bottom {
}

