/*
 * Copyright 1997-2008 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */
#CQ .cq-media-view {
    padding:4px;
    position:absolute;
}
#CQ .cq-media-view .bold {
    font-weight:bold;
}
#CQ .cq-media-view .thumb-wrap {
    float:left;
    margin:4px;
    margin-right:0;
    padding:6px;
    border:1px solid transparent;
}
#CQ .cq-media-view .x-view-over {
    border-color:#dddddd;
    background:#efefef repeat-x left top;
}
#CQ .cq-media-view .x-view-selected {
    border-color:#d0d0d0;
    background:#dedede no-repeat right bottom;
}


/* thumbs view */
#CQ .cq-cf-thumb {
    height:100px;
    width:140px;
}


#CQ .cq-media-view .x-view-selected .thumb {
    background:transparent;
}


#CQ .cq-media-view .thumb-wrap span {
    display:block;
    overflow:hidden;
    text-align:center;
}


/* details view */


#CQ .cq-media-view .x-view-selected .detail {
    background:transparent;
}
#CQ .cq-media-view .detail {
    padding:4px;
}
#CQ .cq-media-view .detail img {
    width:70px;
    height:50px;
    float:left;
    margin-right:4px;
}
