/*
 * Copyright 1997-2010 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

#CQ .cq-tbtn {
    cursor:pointer
}

#CQ .cq-tbtn span {
    font-family:tahoma,arial,helvetica,sans-serif;
    color:#15428B;
    text-decoration:underline;
}

#CQ .cq-tbtn.x-btn-click span {
    color:#000000;
}

#CQ .cq-tbtn.cq-tbtn-small span {
    font-size:10px;
}

#CQ .cq-tbtn.cq-tbtn-medium span {
    font-size:12px;
}

#CQ .cq-tbtn.cq-tbtn-large span {
    font-size:16px;
}
