/*
 * Copyright 1997-2008 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

#CQ .userIcon {
    background-image:url('../icons/16x16/user.png') !important
}

#CQ .groupIcon {
    background-image:url('../icons/16x16/group.png') !important
}

#CQ .impersonateIcon {
    background-image:url('../icons/16x16/users_into.png') !important
}

#CQ .revertIcon {
    background-image:url('../icons/16x16/users_back.png') !important
}

/* Special treatment for IE6 */

#CQ .userIcon-ie6 {
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../cq/ui/widgets/themes/default/icons/16x16/user.png', sizingMethod='crop');
    margin-right:5px;
}

#CQ .groupIcon-ie6 {
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../cq/ui/widgets/themes/default/icons/16x16/group.png', sizingMethod='crop');
    margin-right:5px;
}

#CQ .impersonateIcon-ie6 {
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../cq/ui/widgets/themes/default/icons/16x16/users_into.png', sizingMethod='crop');
    margin-right:5px;
}

#CQ .revertIcon-ie6 {
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../cq/ui/widgets/themes/default/icons/16x16/users_back.png', sizingMethod='crop');
    margin-right:5px;
}

#CQ .impersonateMenu {
    margin-left:25px;
    cursor:text
}

#CQ .cq-impersonators-list {
    border-color:#FFFFFF rgb(255, 255, 255) rgb(238, 238, 238);
    border-style:solid;
    border-width:1px;
    color:#555555;
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding:3px 10px;
    white-space:normal;
    right:5px !important;
    top:25px !important;
    left:auto !important;
    cursor:default !important;
}
#CQ .cq-impersonators-list-entry {
    cursor:pointer !important
}
