.header {
  height: 154px;
  width: 960px;
  background-color: #00AE58;
  margin: 0px auto;

  .gsusa-logo {
    height: 66px;
    width: 168px;
    margin: 50px 396px 38px 396px;
  }
}

.content {
  height: 505px;
  width: 960px;
  background-color: #FFFFFF;
  margin: 0px auto;
  color: #000000;
  font-family: "Trefoil Sans Web";
  text-align: center;
  .error-message {
      height: 37px;
      width: 959px;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 37px;
  }
  .error-description {
    height: 17px;
    width: 493px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    margin: 46px auto 20px auto;
  }
}

.footer {
  height: 45px;
  width: 960px;
  background-color: #00A850;
  text-align: center;
  margin: 0px auto;
  span, a {
    color: #FFFFFF;
    font-family: "Trefoil Sans Web";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
  }
}