@font-face {
  font-family: 'JollyFont';
  src: url('../resources/JollyFont.eot');
  src: 	url('../resources/JollyFont.eot') format('embedded-opentype'),
  url('../resources/JollyFont.woff2') format('woff2'),
  url('../resources/JollyFont.woff') format('woff'),
  url('../resources/JollyFont.ttf') format('truetype'),
  url('../resources/JollyFont.svg') format('svg');

  font-weight: normal;
  font-style: normal;
}