expectedParams=["orgid","00N5A00000M7IFb","00N5A00000M7IGn","00N5A00000M7IGy","00N5A00000M7IH0","00N5A00000M7IGz","CouncilCode","origin","status","name","email","phone","type","subject","description","g-recaptcha-response","captcha_settings","debug","debugEmail"]
oid="00D5A000000xcFb"
apiURL="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding\=UTF-8"
recordType="0125A000001VkRN"
tier="00N5A00000M7IGn"
sendEmail=B"true"
emailMappings="/content/dam/girlscouts-shared/Council_Email_Mapping.csv"
recaptchaMap=["6LcuqJgUAAAAAInWzpQHvo-uWPfnVcR7bHPQw9S8::GoogleReCaptchaKeyPair1","6Lddq5gUAAAAAAl_cYrCis6i0ONWhC_5ClYkPFRA::GoogleReCaptchaKeyPair2","6LcDrJgUAAAAAFk6lqMCRX0jckqvll_oO2Z5Cq0c::GoogleReCaptchaKeyPair3","6LdbspgUAAAAAF304uYUmiskh-ju5IYpXI5jWBYL::GoogleReCaptchaKeyPair4","6Ldls5gUAAAAABX4ucAK1NLXKaw9lf7ktxSUdKUI::GoogleReCaptchaKeyPair5","6Le5s5gUAAAAALqs02AZW3iieMcL5XepoIKxlSpN::GoogleReCaptchaKeyPair6","6LcPtJgUAAAAAGwg6r5eVtDnziu3VbTQIv5Tz4mo::GoogleReCaptchaKeyPair7","6LfEtJgUAAAAAB4btse4kjSKN6fBFqy4U1M15dna::GoogleReCaptchaKeyPair8"]
caseSource="00N5A00000M7IFb"
