# Configuration created by Apache Sling JCR Installer
schedulerExpression="0\ 0/15\ *\ 1/1\ *\ ?\ *"
schedulerName="Girl\ Scouts\ Replication\ Queue\ Monitor"
maxWaitTime=I"15"
emailAddresses=["ssgattupally@girlscouts.org","pbae@girlscouts.org","gsusa@adobe.com"]
serviceEnabled=B"true"
schedulerConcurrent=B"true"
maxQueueSize=I"100"
