# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.names=["org.girlscouts.cq.workflow.service","org.girlscouts.cq.workflow.RolloutTemplatePageProcess","org.girlscouts.cq.workflow.DeleteTemplatePageProcess","org.girlscouts.web.components.PageActivationReporter","org.girlscouts.web.components.PageReplicationUtil","org.girlscouts.web.constants.PageReplicationConstants","org.girlscouts.web.councilrollout.impl.GirlScoutsRolloutReporterImpl","org.girlscouts.web.service.email.impl.GSEmailServiceImpl","org.girlscouts.web.service.replication","org.girlscouts.cq.livecopy"]
org.apache.sling.commons.log.file="logs/gs-replication.log"
org.apache.sling.commons.log.level="debug"
org.apache.sling.commons.log.additiv="false"
