.main-section .button,
.main-section button {
  text-transform: uppercase;
  padding-top: rem-calc(7);
  padding-bottom: rem-calc(8);
  &.tiny {
    padding-top: rem-calc(11);
    padding-bottom: rem-calc(11);
  }
}