.main-section .button,
.main-section button {
  text-transform: uppercase;
  padding-top: rem-calc(7);
  padding-bottom: rem-calc(8);
  &.tiny {
    padding-top: rem-calc(11);
    padding-bottom: rem-calc(11);
  }
}
.button.arrow {
    white-space: nowrap;
    padding-left: rem-calc(10);
    z-index: 2;
    margin: 0;
    width: 100%;
    &:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: transparent transparent transparent $white;
      border-width: 0.71429rem;
      top: 50%;
      right: 0;
      margin-top: -0.71429rem;
    }
}
.reveal-modal .close-reveal-modal {
  color: $primary-color;
  font-weight: normal;
}
.reveal-modal {
  .button {
    text-transform: uppercase;
    padding: rem-calc(5 10);
  }
}