
.cq-placeholder-header_47volunteer {
  display: none;
}
.join-volunteer {
  margin-top: rem-calc(40);
}
.right-col .parbase.volunteer-now.section,
.right-col .join-now.parbase.section {
  @media only screen and (max-width: 48em) {
    float: left;
    width: 50%;
    padding-right: 5px;
  }
}
.standalone-volunteer,
.standalone-join {
  position: relative;
  max-width: rem-calc(210);
  width: 100%;
  margin-bottom: rem-calc(20);
  //MAIN.CSS overwrite
  div.image {
    margin:0;
  }
  .wrapper {
    position: absolute;
    bottom: rem-calc(10);
    width: 100%;
    padding: rem-calc(0 5);
  }
  &.border .wrapper {
    padding: rem-calc(0 10 0 0);
  }
  form {
    position: absolute;
    bottom: 0;
    background: $white;
    width: 95.1%;
    z-index: 3;
    padding-bottom: rem-calc(10);
    padding-left: rem-calc(6);
    label {
      color: $primary-color;
      text-transform: uppercase;
      margin-bottom: rem-calc(11);
      font-size: rem-calc(13);
      margin-top: rem-calc(12);
      line-height: 1;
    }
    input[type="text"] {
      width: 95%;
      float: left;
      padding-left: rem-calc(10);
     // height: rem-calc(33);
    }
    input[type="submit"] {
      padding: rem-calc(8 5 7 5);
      margin-bottom: 0;
      position: absolute;
      right: 5px;
    }
  }
  &.form-no-image form {
    width: 100%;
  }
  &.border form {
    width: 91%;
  }
}

.join-buttons {
  float: right;
  padding-left: rem-calc(80);
}
.header-volunteer-now,
.header-join-now {
  float:left;
  position: relative;
  .button {
    background-color: #fece24;
    color: $black;
    font-size: rem-calc(13);
    padding: rem-calc(3 9);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 1.4;
    &.on:before {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: transparent #fece24 transparent transparent;
      border-width: rem-calc(12);
      top: rem-calc(10);
      left: rem-calc(-24);
      margin-top: rem-calc(-10);
    }
  }
  form input[type="text"] {
    display: none;
    position: absolute;
    right: 100%;
    float: left;
    width: 180%;
    height: 100%;
    border: none;
  }
}
.header-volunteer-now {
  margin-left: rem-calc(5);
  form input[type="text"] {
    width: 100%;
  }
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
}
.show-for-small.inner-join-volunteer > div:nth-of-type(1) {
  margin-top: rem-calc(20);
}
.footer-volunteer,
.footer-join {
  @include grid-column(24);
  margin-bottom: rem-calc(20);
  position: relative;
  form {
    position: absolute;
    bottom: 0;
    background-color:#00AE58;
    width: 97.621%;
    z-index: 3;
    margin-left:auto;
    margin-right:auto;
    input[type="text"] {
      width: 80%;
      float: left;
      margin: rem-calc(5);
      padding-left: rem-calc(10);
      font-size: rem-calc(20);
    }
    input[type="submit"] {
      padding: rem-calc(8 5 7 5);
      margin: rem-calc(5 0);
    }
    span.after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: transparent transparent transparent $white;
      border-width: 0.71429rem;
      top: 50%;
      right: 0;
      margin-top: -0.71429rem;
    }
  }
  .button.arrow {
    padding: rem-calc(13 0);
  }
}
.join-volunteer-block.text-version {
  h5 {
    font-weight: 600;
    font-size: rem-calc(20);
    line-height: 1.2;
  }
  .wrapper {
    position: static;
  }
}