//twitter-feed
.social-block {
  max-height: rem-calc(410);
  overflow: hidden;
  height: rem-calc(410);
  margin: rem-calc(7);
  [class^="icon-"],
  [class*=" icon-"]{
    font-size: 50px;
    display: block;
    color: #797979;
    text-align: center;
  }
}
.twitter-feed,
.facebook-feed,
.instagram-feed {
  @media #{$medium-up} {
    @include grid-column(8);
    padding-left: 0;
    padding-right: rem-calc(2);
  }
  @media #{$small-only} {
    margin-bottom: rem-calc(35);
  }
  .wrapper {
    background-color: $white;
    position: relative;
    padding-bottom: rem-calc(45);
    .scroll-more {
      @include css-triangle(57px, #e8e8e8, top);
      border-top-width: rem-calc(20);
      border-bottom-width: rem-calc(1);
      position: absolute;
      left: 50%;
      margin-left: -57px;
      cursor: pointer;
      bottom: rem-calc(10);
    }
    .centered {
      text-align: center;
    }
  }
}
.twitter-timeline,
.fb-page #u_0_0 > div {
  @media #{$small-only} {
    width: 100% !important;
  }
}
.facebook-feed {
  .align-center {
    text-align: center;
    img {
      height: rem-calc(42);
      margin: rem-calc(10);
    }
  }
  a.title {
    color: #00a950;
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 0;
    line-height:1.3;
  }
  li {
    max-width: 100% !important;
    margin-bottom: rem-calc(15);
  }
  li img {
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(5);
  }
  p.dateline {
    font-size:0.9rem;
    color:#666666;
  }
}
//inner carousel fb component
.blog-feed {
  max-height: rem-calc(410);
  overflow: hidden;
  background-color: $white;
  @media #{$medium-only} {
    max-height:  rem-calc(370);
  }
  a,p {
  	font-size: 24px;
  	margin-bottom:0px;
  	line-height: rem-calc(35);
  }
  li {
  	margin-bottom: rem-calc(50);
  }
  img {
  	margin-left:auto;
  	margin-right:auto;
  }
  #gsLogo {
  	margin-top: rem-calc(30);
  }
  .dateline{
  	font-size:20px;
  }
  .blog-embed-area {
    width: 100%;
    float: left;
    padding:rem-calc(10);
    overflow: hidden;
    height: 29.28571rem;
    margin-left:15%;
  	max-width:70%;
    & * {color: #333;}
    ul {
      list-style: none;
      margin: 0;
      overflow: scroll;
      height: 100%;
    }
    a {
      color:#00AE58;
      text-decoration:none;
    }
  }
}
.instagram-feed-image-head-area {
  margin-bottom: rem-calc(10);
  margin-top: rem-calc(10);
}
.instagram-feed-image-area {
  @include block-grid(3);
}
