# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.names=["org.girlscouts.common.osgi.service.impl.GSEmailServiceImpl","org.girlscouts.common.components.GSEmailAttachment","org.girlscouts.vtk.sling.servlet.GirlscoutsEmailServlet"]
org.apache.sling.commons.log.file="logs/gs-email-service.log"
org.apache.sling.commons.log.level="debug"
org.apache.sling.commons.log.additiv="false"