.standalone-camp-finder {
  margin: 0.9375rem 0;
}
@media only screen and (max-width: 48em) {
  /* line 243, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  #main .standalone-camp-finder:not(.mobile-camp-finder), .main-content .standalone-camp-finder:not(.mobile-camp-finder) {
    display: none;
  }
}
/* line 249, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.three-cols .middle-col .standalone-camp-finder {
  margin: 0 0 0.9375rem 0;
}
/* line 252, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder .row {
  margin: auto 0;
}
/* line 255, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  padding: 1.0625rem 0;
  display: table;
}
/* line 261, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form > div {
  display: table-cell;
  vertical-align: middle;
}
/* line 265, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form label {
  margin-bottom: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 1.875rem;
  font-weight: 500;
}
/* line 272, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form .form-wrapper {
  position: relative;
  width: 34.22619%;
  margin-bottom: 0;
}
/* line 276, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form .form-wrapper > div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 280, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form .form-wrapper > div * {
  height: 1.875rem;
}
/* line 284, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form .form-wrapper [type="text"],
.standalone-camp-finder form .form-wrapper [type="tel"],
.standalone-camp-finder form .form-wrapper [type="submit"] {
  width: 100%;
  margin: 0;
}
/* line 290, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form .form-wrapper [type="text"],
.standalone-camp-finder form .form-wrapper [type="tel"] {
  padding-left: 0.625rem;
  font-size: 1.125rem;
}
/* line 295, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-camp-finder form .form-wrapper [type="submit"] {
  padding: 0 0.4375rem;
  border: none;
  background-color: #00AE58;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 300;
}
@media only screen and (max-width: 48em) {
  /* line 305, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-camp-finder form .caption {
    display: table-row;
  }
  /* line 307, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-camp-finder form .caption label {
    text-align: center;
    margin-right: 0;
    font-size: 1.375rem;
    margin-bottom: 0.9375rem;
  }
  /* line 314, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-camp-finder form .form-wrapper {
    width: 100%;
    padding: 0 15% 0.9375rem 15%;
  }
}
@media only screen and (min-width: 48.1225em) {
  /* line 321, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .three-cols .middle-col .standalone-camp-finder form label {
    margin-right: 0;
    font-size: 1.25rem;
    margin-bottom: 0.9375rem;
  }
  /* line 326, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .three-cols .middle-col .standalone-camp-finder form .form-wrapper {
    width: 70%;
    margin: 0 auto 0.9375rem;
  }
  /* line 331, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .three-cols .middle-col .standalone-camp-finder form.small {
    width: 65%;
    margin-left: auto;
  }
}