
/***********************************/
/************* GLOBAL **************/
/***********************************/
/*
Large
60em 960px and larger

Medium
40.063em 641px - 59.938em 959px

Small
40em 640 and below

Font : Open Sans

*/
/* Embedded Fonts */ 
<!-- 
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../girlscouts/open-sans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../girlscouts/open-sans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../girlscouts/open-sans-bold.woff') format('woff');
}
-->
html {
    font-size: 16px;
}
body {
    background-color: #6b6b6b;
    font-family: "Open Sans", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}
.error {
    color: red;
}
a {
    color: #00ae58;
}
a:hover {
    color: green;
}
@media only screen and (min-width: 40.063em) {
    body {
/* 
        min-width:740px;
 */
    }
}
@media only screen and (max-width: 40em) {
    html {
        font-size: 100%
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 59.938em) {
    html {
        font-size: 90%
    }
}

a.menu {
    color: #C1EAD4;
    font-size: 1.042em;
    font-weight: "bold";
}
a:hover.menu {
    color: #ffffff;
}
a.menuHighlight {
    color: #FFC057;
    font-weight: "bold";
}
a:hover.menuHighlight {
   color: #fc3;
}

.inline-list > li.active>a{
  color: #ffffff;
}

/***********************************/
/********* PAGE STRUCTURE **********/
/***********************************/

/* HEADER */
.header-wrapper {
  background-color: #fff; 
}
#header {
    padding: 15px 0px 0px 0px;
    background-color: #00ae58;
    color: #FFFFFF;
}
#header span {
    color: #FAA61A;
    font-size: 1.0em;
    font-weight: bold;
}
#header a {
    color: #FFFFFF;
}
#header a:hover {
    color: #FAA61A;
}
#header a.signout {
    font-size: 0.875em;
    color: #fff;
}
#header a:hover.signout {
    color: #c00;
}
#header nav.logoSmall {
    min-width:330px;
}
#header ul {
    float: right;
}
#header ul li {
    font-size: 1.0em;
}
#header .message {
    text-align: right;
}
#header .logoSmall {
    margin: 0px 0px 10px 0px;
}
#header .topMessage {
    text-align: right;
}
#header .topMessage.alt {
    text-align: left;
    background-color: #009447;
}
.searchField {
    background: url('images/magnifyer-small.png') no-repeat 0px 10px; 
    background-position: right; 
}
/* HEADER BAR */
#headerBar {
    background-color: #009447;
}
#headerBar>div{
    padding: 3px 110px 0px 20px;
}

#headerBar ul.inline-list {
    margin: 0px;
    padding: 0px;
}
#headerBar li {
    margin: 0px;
    padding: 0px 8px 4px 0;
}
#headerBar li:hover {
   /* background-color:#063;*/
}


/* FOOTER */
#footer {
    background-color: #00ae58;
    padding: 0px 0px;
}
#footer a {
    font-size: 0.875em;
    font-weight: normal;
    margin: 0px 10px 0px 0px;
}


/* MAIN */
#main {
    background-color:#ffffff;
    color: #000000;
}
#main .mainLeft {
    padding: 0px;
}
#main .mainRight {
    padding: 0px;
}

/* LEFT CONTENT */
#leftContent {

}

/* MAIN CONTENT */
#mainContent {
    text-align: left;
}

/* RIGHT CONTENT */
#rightContent {
    text-align: center;
    padding-right: 0px;
}

/***********************************/
/*********** COMPONENTS ***********/
/***********************************/
/* HERO */
#heroBanner {
    padding: 0px;
}
#homeBlockGrid {
    background-color: #fff;
}
#homeBlockGrid li{
    padding: 0px;
}

/* BREADCRUMBS */
.breadcrumbs {
    background-color: #fff;
    border: 0px;
    padding: .5625rem 1.250rem;
}
.breadcrumbs a.current {
    color: #00ae58;
}




/* SIDE NAV */
#main .side-nav *{
    color: #333333;
    margin: 0px;
}
#main ul {
    list-style: none;
}
#main .side-nav li{
    padding: 5px 3px 5px 15px;
}
#main .side-nav li a:hover {
    background-color: #B0B0B0;
}
#main .side-nav li.divider {
    margin: 0px;
    padding: 0px;
    background: none; 
}
#main .side-nav .active>a, #main .side-nav .isOpen>a {
    font-weight: bold;
}

#main .side-nav>li>a{
    font-weight: bold;
}
#main .side-nav>li>li a{
    font-weight: normal;
}

#main .side-nav>li {
   background-color:#F1F1EF    ;
}
#main .side-nav>li.active {
    background-color:#f7f7f6;
}

.home-section {
    padding: 15px 0px;
}
.home-section.hero-banner {
    padding: 0px 0px 15px 0px;
}
.home-section .feature-icon {
    display: inline-block;
    position: relative;
    top: -10px;
}
.home-section .feature-title {
    display: inline-block;
    text-indent: 30px;
}
.home-section .content {
    padding: 0px 5px 0px 12px;
}
.home-section .content .columns {
    padding: 10px;
}
.home-section h2 a {
    font-size: 0.85em;
    color:#414141;
    font-weight: 300;
}
.home-section h3 {
    color: #00ae58;
    font-size: 1.2em;
}
.feature-shortstory .content {
    margin: 10px 13px 20px 12px;
    padding: 0px;
}
.events-list .content {
    margin: 20px 38px 20px 30px;
}
.news-list .content {
    margin: 10px 30px 20px 15px;
}

.events-list p {
    line-height:100%;
    margin-bottom: 0.2rem;
}

.debug {
    border: 1px solid red;
}
#contactsList h2{
    color: #414141;
    font-size: 1.2em;
}
#contactsList th {
    color: #ffffff;
}
#contactsList tr:first-child {
    background-color: #00ae58;
}
table, tr:first-child  {
     border-collapse:collapse;
     border: 1px solid black; 
}
#contactsList table {
     width:100%;
}
.event .data img {
     width: 150px;
}


/***********************************/
/*********** Events ***********/
/***********************************/

.item{
    float:left; 
    width:33.3333%;
    background:#EBEBEB;
    padding:0 15px 0 0;
}
.twoColumn{
    float:left; 
    width:35%;
    height:75px;
    margin:1px auto;
    padding:15px 0 0 15px;
}
input#date{
    /*width:120px;*/
    /*float:left;*/
    /* margin-right: 15px;*/
    width:140px;  
}
#title{
  padding:3px;
}
.baseDiv{
    float:left; 
    width:100%;
    padding:10px;
    border-bottom:2px solid rgb(191, 194, 194);
    border-left:2px solid rgb(191, 194, 194);
    border-right:2px solid rgb(191, 194, 194);
}
.programLevel{
    background:#EBEBEB;
}
.anActivity{
   height:40px;
   background:#A9A9A9;
}
#left {
    float:left;
    padding-left:10px;
    padding-right:10px;
}
#advSearch{
    background-image: url("images/search.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding:10px;
}
.topPadding{
 padding: 25px 15px 20px;;
}
span#advSearch > a{
  text-align:center;
}
.inputField{
     float:left;
     width:48%;
     margin-right: 5px;
}
input.form-btn, a.form-btn {
    background: none repeat scroll 0 center #00A850;
    border: 0 none;
    box-shadow: 1px 1px 1px rgba(208, 208, 208, 0.376);
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 8px;
    margin: 0;
    padding: 9px 0;
    text-transform: uppercase;
    width: 180px;
}
.form-btn:hover, .form-btn:focus {
    background-color: #008000;
    box-shadow: none;
    cursor: pointer;
}
.pull-right {
    float: right;
}
.withoutPadding{
   padding: 0px;
}
.underlined-title {
    border-bottom: 1px solid #D0D0D0;
    line-height: 14px;
    padding-bottom: 8px;
}
.headline9 {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    width:20%;
}
.span7 {
    width: 540px;
}   
.noPadding{
  padding:0;
}
.fc-text-arrow {
    border: 0 none;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 8px;
    margin: 0;
    padding: 9px 0;
    width: 180px;
}
.fc-state-default{
  border:0px;
}
.fc-state-default {
    background-repeat: repeat-x;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
}
.fcr-text-arrow {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #00A850;
    height: 0;
    width: 0;
    font-size:0;
}
.fcl-text-arrow {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #00A850;
    height: 0;
    font-size:0;
    width: 0;
}
.fcr-text-arrow:hover {
    border-left: 12px solid #008000;
 }
.fcl-text-arrow:hover {
    border-right: 12px solid #008000;
 }
 td.fc-header-right{
   padding-top:12px;
 }
td.fc-header-left{
   padding-top:12px;
}

/**********************************************************/
/***************************SIDE HAMBURGER VIEW************/
/**********************************************************/

.right-off-canvas-menu.ul{
  padding:0px;
  margin:0px;
}

.right-off-canvas-menu a{
    color: #ddd;
    padding: 10px 0px 0px 10px;
    text-transform:capitalize;
}

#right-canvas-menu a{
    color: #ddd;
    padding: 10px 0px 0px 10px;
    text-transform:capitalize;
}


#right-canvas-menu li{
    margin: 0px;
}
.right-off-canvas-menu ul {
    list-style: none;
}
.right-off-canvas-menu li{
    padding: 8px 0px 0px 5px;
}
#right-canvas-menu-bottom {
    border-top: 1px solid #464646; 
}

.right-off-canvas-menu .side-nav li a:hover {
    color: #ffffff;
}

.right-off-canvas-menu .side-nav li.active>a{
  color: #ffffff;
}
.right-off-canvas-menu .side-nav li.divider {
    margin: 0px;
    padding: 0px;
    background: none; 
}
.right-off-canvas-menu .side-nav .active>a {
    font-weight: bold;
}
.right-off-canvas-menu a{
    color:#ddd;
    height:50px;
    font-size:1rem;
   
    
}


.right-off-canvas-menu .side-nav>li>li a{
    font-weight: normal;
}
#right-canvas-menu .side-nav>li {
    /*background: url('images/orange-vertical.png') repeat-y  0px 0px;*/ 
    
     
}
#right-canvas-menu .side-nav>li.active {
    /*background: url('images/orange-yellow-vertical.png') repeat-y  0px 0px;*/
    padding :0px 0px 0px 10px; 
  
}

#right-canvas-menu .side-nav>li#sub-active {
    /*background: url('images/orange-yellow-vertical.png') repeat-y  0px 0px; */
  
}
#right-canvas-menu .side-nav ul#submenu  {
    padding:0px;    
  
}


.right-off-canvas-menu ul li{
  font-size:1rem;
}

.logoLargePadding{
 padding:1.35px 0 0 1.35px
}

.eyebrow-fontsize>li a{
 font-size:0.875rem;

}

#header .searchField {
  height:21px;
  width:100%;
}


#headerBar ul li.active {
    background: url('images/white-up-arrow.png') no-repeat  60px 0px;
    background-position:center bottom;  
}

#header .signin{
   color:#FFF;
}


#footer div.footer-navigation{
    padding:10px 0 10px 20px;
    background: url('images/small-trefoil.png') no-repeat;
    background-position:center;
}

#leftContent li.active ul li.active{
    background: url('images/small-green-arrow-right.png') no-repeat  0px 0px;
    background-position:right 9px;  
}

#hrStyle >hr{
  border-color:#9C9C9C;
  border-width:1px 0px 0px 0px;
}

#paddingTop{
  padding-top:10px;
}

.right-off-canvas-menu ul li.active > a{
     background-color:#B0B0B0;
 }

ul.side-nav, li#sub-active ul, li#sub-active > ul > li > ul > li{
  padding:0px;
  margin:0px;
}

/* Hamburger Menu Change Start*/

#right-canvas-menu .side-nav li {
    text-indent:30px;
  }
    
#right-canvas-menu .side-nav ul li ul li {
    text-indent:0px;
    }    
    
#right-canvas-menu .side-nav li ul li {
    text-indent:8px;
   }  

#right-canvas-menu .side-nav li ul li ul li {
    text-indent:60px;
   } 

#right-canvas-menu .side-nav ul ul li {
    text-indent:25px;
   }  
   
#right-canvas-menu .side-nav ul ul ul li {
    text-indent:70px;
   }    
   

#right-canvas-menu .side-nav li ul li ul li {
    text-indent:30px;
   } 
   
#right-canvas-menu li#sub-active > ul > ul >li > ul > li {
  text-indent:80px;
}       
#right-canvas-menu .side-nav li {
    text-indent:10px;
    }  
/* Hamburger Menu changes end */

#right-canvas-menu-bottom > ul{
   padding:0px;
  margin:0px;
}
#right-canvas-menu-bottom li 
 {
    height:50px;
    width:100%;
   /* text-indent:-5px;*/
    }
    
#right-canvas-menu-bottom > ul > li.active{
  background-color:#B0B0B0;
}

#right-canvas-menu-bottom li{
    padding: 8px 0px 0px 5px;
}

#right-canvas-menu-bottom > ul > li >a{
   padding:0px;
}

#right-canvas-menu-bottom li {
    text-indent:19px;
}

.lineHeight{
 line-height:1.5;
}


.register a{
    background: url('images/small-green-arrow-right.png') no-repeat  0px 0px;
    background-position:right center;
    padding-right:10px;  
}

#calendar a{
    background: url('images/calendar-icon.png') no-repeat  0px 0px;
    background-position:left center;
    padding-left:25px;  
}

#mainContent ul {
	list-style: disc;
}

div.image.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.image.center small {
	text-align: center;
}

.rightBodyLeft {
    padding: 0 1.250em;
}

div.textimage.image_right div.image {
    float: right !important;
    margin: 0 0 8px 8px !important;
}

/* no padding or margin for grid system */
.grid-system.nopadding li, .grid-system.nopadding div.image {
    margin-bottom: 0;
    padding: 0;
}


/* added change for the search small menu */
#header .topMessage.alt {
	height: 30px;
}

#header > div.show-for-small.small-24.columns.topMessage.alt > .row.srch-box {
	line-height: 30px;
}
.srch-box form{
  margin:8px 0 0;
}
.srch-box form input[type="text"]{
  margin:0;
}

#header > .show-for-small.topMessage.alt > .srch-box > .small-2.columns {
	padding: 0;
}

.emailicon {
    background: url('images/envelope.png') no-repeat;
    width: 20px;
    height: 14px;
}

.breadcrumbCurrent {
    font-size: 0.6875rem;
}

input.searchField{
    font-size: 0.8rem;
    padding: 0.1rem;
    height: 21px;
}

