/*
 * Copyright 1997-2008 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

/* header and user info */

#CQ #cq-tagadmin-wrapper #cq-header {
    height:36px;
    background:url(../images/titlebar_bg.png);
}

#CQ #cq-tagadmin-wrapper #cq-header .cq-homelink a {
    width:210px;
}

#CQ #cq-tagadmin-wrapper #userinfo {
    color:#ffffff;
    background-color:transparent;
    top:6px;
    position:relative;
    padding-right:6px;
    font:12px tahoma,arial,verdana,sans-serif;
}

#CQ #cq-tagadmin-wrapper #userinfo div {
    background-color:transparent;
    text-align:right;
}

/* actions and menus */

#CQ .x-tree-node-leaf.namespace .x-tree-node-icon,
#CQ .x-tree-node-collapsed.namespace .x-tree-node-icon {
    background-image: url(../../../../../ui/widgets/themes/default/ext/tree/folder.gif) !important;
}

#CQ .x-tree-node-expanded.namespace .x-tree-node-icon {
    background-image: url(../../../../../ui/widgets/themes/default/ext/tree/folder-open.gif) !important;
}

#CQ .tag .x-tree-node-icon {
    background-image: url(../images/icons/16x16/tag.png) !important;
}

#CQ #cq-tagadmin-wrapper .status {
    height: 16px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0 -1px;
}

#CQ #cq-tagadmin-wrapper .double {
    padding-left: 32px;
}

/* modified */
#CQ #cq-tagadmin-wrapper .status-modified {
    background-image: url(../../../../../ui/widgets/themes/default/icons/16x16/bulb-blue.gif);
}
#CQ #cq-tagadmin-wrapper .status-localmodified {
    color: #cccccc;
    background-image: url(../../../../../ui/widgets/themes/default/icons/16x16/bulb-grey.gif);
}

/* published */
#CQ #cq-tagadmin-wrapper .status-none {
    background-image: url(../../../../../ui/widgets/themes/default/widgets/wcm/SiteAdmin/status-none.gif);
}
#CQ #cq-tagadmin-wrapper .status-activated {
    background-image: url(../../../../../ui/widgets/themes/default/widgets/wcm/SiteAdmin/status-activated.gif);
}
#CQ #cq-tagadmin-wrapper .status-pending-activation {
    background-image: url(../../../../../ui/widgets/themes/default/widgets/wcm/SiteAdmin/status-pending-activation.gif);
}
#CQ #cq-tagadmin-wrapper .status-deactivated {
    background-image: url(../../../../../ui/widgets/themes/default/widgets/wcm/SiteAdmin/status-deactivated.gif);
}
#CQ #cq-tagadmin-wrapper .status-pending-deactivation {
    background-image: url(../../../../../ui/widgets/themes/default/widgets/wcm/SiteAdmin/status-pending-deactivation.gif);
}
