div.image.right,div.image.left,div.image.center{
    width:100%;
    float:none !important;
}

div.image.center div.img-wrapper {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
div.image.left div.img-wrapper {
    display: block;
    margin: 0;
    margin-right: auto;
}
div.image.right div.img-wrapper {
    display: block;
    margin: 0;
    margin-left: auto;
}
