# Configuration created by Apache Sling JCR Installer
apiKey="3_zFhTyxn1XLTHuj1SnmrHFVUvTCXwPXp8mUlKdzGB90aM0RuFqUIffrclPd4feYoa"
logOutPath="http://my-uat.girlscouts.org/content/girlscouts-vtk/sso/logout.html"
logInPath="http://my-uat.girlscouts.org/content/girlscouts-vtk/sso/login.html"
spName="uat-gsusa-vtk-sp"
