clientId="3MVG98XJQQAccJQcsir6I8Iv4u_lBZZfKjo0jF4AgoEGGnTmbbU9qjbasLOMDG55eo2iZvx48rffQeV6ZuFv7"
defaultBranch="gsnetx"
clientSecret="7660297752183525290"
OAuthUrl="https://gsmembers.force.com/members"
councilMapping=["313::gateway","597::gsnetx","388::girlscoutcsa","367::girlscoutsnccp","465::gssem","320::gswcf"]
helloUrl="https://my-uat.girlscouts.org/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="https://my-uat.girlscouts.org/content/girlscouts-vtk/en/vtk.home.html"
callbackUrl="https://my-uat.girlscouts.org/content/girlscouts-vtk/controllers/auth.sfauth.html"
communityUrl="https://gsmembers.force.com/members"
gsNewYear="0728"
baseUrl="https://my-uat.girlscouts.org"
vtkHolidays=["20150907::Labor Day","20151012::Columbus Day","20151111::Veteran's Day","20151126::Thanksgiving","20151224::Christmas Eve","20151226::Christmas Day","20160101::New Years","20160118::Martin Luther King, Jr.","20160215::Washington's Birthday","20160530::Memorial Day","20160704::Independence Day"]
vtkApiTroopUri="/services/apexrest/activeUserTroopDataV1.1"
vtkApiUserUri="/services/apexrest/getUserInfoV1.1"
vtkApiContactUri="/services/apexrest/troopMembersV1.1"
vtkApiTroopLeadersUri="/services/apexrest/getDPInfo"