clientId="3MVG9ahGHqp.k2_yeQBSRKEBsGCSg4mdzz6_JO7SQdqdOG5y9P_IVNcaJPwcvSQDDzRz2trEdxBQACdnshiIu"
defaultBranch="gsnetx"
clientSecret="6102286868686879404"
OAuthUrl="https://gsuat-gsmembers.cs17.force.com/members"
councilMapping=["313::gateway","597::gsnetx","388::girlscoutcsa","367::girlscoutsnccp","465::gssem","320::gswcf"]
helloUrl="https://my-uat.girlscouts.org/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="https://my-uat.girlscouts.org/content/girlscouts-vtk/en/vtk.home.html"
callbackUrl="https://my-uat.girlscouts.org/content/girlscouts-vtk/controllers/auth.sfauth.html"
communityUrl="https://gsuat-gsmembers.cs17.force.com/members"
