@media only screen and (max-width: 40.062em){
    .mobileIcons{
        display: inline-block;
    }
}
@media only screen and (min-width: 40.063em) {
    .mobileIcons{
        display: none;
    }
     #mobileSearchBar{
        display: none !important;;
     }
     .login.small-19.columns{
         display: none;
     }
}
@media only screen and (min-width: 60.063em){
    .mobileIcons{
        display: none;
    }
    #mobileSearchBar{
        display: none !important;
    }
    .login.small-19.columns{
         display: none;
     }
}
#logoImg{
    float: right;
}
#mobileSearchBar{

    display: none;
    background-color: #00AE58;
}