clientId="3MVG9A2kN3Bn17hsP.Ui7f1jgy.inaXzsZ4VKF6DcS.LKlCZSdhHBeH.992uouy19lQAyvfZC98jgGtM73lIu"
defaultBranch="girlscouts-future"
clientSecret="8752122745172672197"
OAuthUrl="https://gsuat-gsmembers.cs11.force.com/members"
councilMapping=["313::gateway","597::gsnetx","388::girlscoutcsa","367::girlscoutsnccp","465::gssem","320::gswcf"]
helloUrl="http://localhost:4503/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="http://localhost:4503/content/girlscouts-vtk/en/vtk.home.html"
callbackUrl="http://localhost:4503/content/girlscouts-vtk/controllers/auth.sfauth.html"
communityUrl="https://gsuat-gsmembers.cs11.force.com/members"
