# Configuration created by Apache Sling JCR Installer
service.ranking=I"0"
user.mapping=["org.girlscouts.aem.vtk.bundle:user\=vtkService","org.girlscouts.vtk.finance-bundle:user\=vtkService","org.girlscouts.aem.vtk.bundle:user\=vtk","org.girlscouts.vtk.finance-bundle:user\=vtk","org.girlscouts.aem.vtk.bundle:vtkService\=vtk","org.girlscouts.vtk.finance-bundle:vtkService\=vtk"]
