clientId="3MVG9A2kN3Bn17hsP.Ui7f1jgy.inaXzsZ4VKF6DcS.LKlCZSdhHBeH.992uouy19lQAyvfZC98jgGtM73lIu"
clientSecret="8752122745172672197"
OAuthUrl="https://gsdev-girlscoutsdev.cs18.force.com/Members"
targetUrl="http://localhost:4503/content/girlscouts-vtk/en/vtk.html"
callbackUrl="http://localhost:4503/content/girlscouts-vtk/controllers/auth.sfauth.html"
