# Configuration created by Apache Sling JCR Installer
expectedParams=["LeadType","Email","CouncilCode","ZipCode","FirstName","LastName","CampaignID","Phone","City","StreetAddress","State","SchoolName","Title","GirlFirstName","GirlLastName","Grade","GirlAge","University","Alum","UTM_Campaign","UTM_Medium","UTM_Source","VolunteerInterest","IsMember","FormURL","DownloadURL","GraduationYear","debug","debugEmail"]
oid="00DG0000000leqU"
apiURL="https://pub.s6.exacttarget.com/bljnm5vfs4b"
