# Configuration created by Apache Sling JCR Installer
maxLoad=I"10"
scheduler.expression="0 */5 * ? * *"
regex="[(assets.html)|(sites.html)|(editor.html)]?.*/content/.*"
alertLoad=I"6"
emailAddresses=["dmitriy.bakum@ey.com"]
maintenancePage="/etc/gs-maintenance/maintenance.html"
recoverLoad=I"3"
mappingPath="/etc/map.author/maintenance"
sendNotifications=B"true"
