# Configuration created by Apache Sling JCR Installer
maxLoad=I"10"
scheduler.expression="0 */5 * ? * *"
regex=".*/((assets|sites|editor|tags).html)/.*"
alertLoad=I"5"
emailAddresses=["dmitriy.bakum@ey.com","matt.klooster@ey.com","matt@idea-refinery.com","6169701609@messaging.sprintpcs.com","edwin.pacheco@ey.com"]
maintenancePage="/etc/gs-maintenance/maintenance.html"
recoverLoad=I"1"
mappingPath="/etc/map.author/maintenance"
sendNotifications=B"true"
