# Configuration created by Apache Sling JCR Installer
maxLoad=I"15"
scheduler.expression="0 */5 * ? * *"
regex=".*/((assets|sites|editor|tags).html)/.*"
alertLoad=I"10"
emailAddresses=["dmitriy.bakum@ey.com"]
maintenancePage="/etc/gs-maintenance/maintenance.html"
recoverLoad=I"5"
mappingPath="/etc/map.author/maintenance"
sendNotifications=B"true"
