# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.names=["org.girlscouts.common.osgi.component.TrashcanWorkflowProcessStep","org.girlscouts.common.osgi.component.TrashcanRestoreWorkflowProcessStep","org.girlscouts.common.servlet.GSTrashcanServlet","org.girlscouts.common.util.TrashcanUtil","org.girlscouts.common.osgi.cron.impl.TrashcanCleanUpProcess"]
org.apache.sling.commons.log.file="logs/gs-trashcan.log"
org.apache.sling.commons.log.level="debug"
org.apache.sling.commons.log.additiv="false"