# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.names=["org.girlscouts.osgi.component.impl.GirlscoutsServerLoadMonitorImpl","org.girlscouts.osgi.configuration.GirlscoutsServerLoadMonitorConfiguration","org.girlscouts.osgi.component.GirlscoutsServerLoadMonitor"]
org.apache.sling.commons.log.file="logs/gs-server-load.log"
org.apache.sling.commons.log.level="info"
org.apache.sling.commons.log.additiv="false"
