# Configuration created by Apache Sling JCR Installer
addGroupMemberships=B"true"
assertionConsumerServiceURL="\ https://my-dev.girlscouts.org/content/girlscouts-vtk/sso/landing/saml_login"
clockTolerance=I"-1"
createUser=B"true"
defaultGroups=["girlscouts-vtk-sso"]
defaultRedirectUrl="/content/girlscouts-vtk/sso/landing.html"
digestMethod="http://www.w3.org/2001/04/xmlenc#sha256"
groupMembershipAttribute="groupMembership"
handleLogout=B"true"
identitySyncType="default"
idpCertAlias="dev-vtk-idp-cert"
idpHttpRedirect=B"false"
idpIdentifier=""
idpUrl="https://fidm.us1.gigya.com/saml/v2.0/3_hwkGAUDVV_MUtkV4agf-EhIJ3YtSznNjOZVMr0sp9a63gduY5GhmQX8ybyFoaKt6/idp/sso"
keyStorePassword="admin"
logoutUrl="https://fidm.us1.gigya.com/saml/v2.0/3_hwkGAUDVV_MUtkV4agf-EhIJ3YtSznNjOZVMr0sp9a63gduY5GhmQX8ybyFoaKt6/idp/slo"
nameIdFormat="urn:oasis:names:tc:SAML:2.0:nameid-format:transient"
path=["/content/girlscouts-vtk/sso/landing"]
service.ranking=I"0"
serviceProviderEntityId="dev-gsusa-vtk-sp"
signatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
spPrivateKeyAlias="aem-vtk-dev"
synchronizeAttributes=["profile/GSGlobalID\=profile/GSGlobalID","profile/email\=profile/email","profile/gsUserType\=profile/gsUserType","profile/givenName\=profile/givenName","profile/familyName\=profile/familyName"]
useEncryption=B"false"
userIDAttribute=""
userIntermediatePath="sso"
