# Configuration created by Apache Sling JCR Installer
addGroupMemberships=B"true"
assertionConsumerServiceURL="\ http://localhost:4503/content/girlscouts-vtk/sso/landing/saml_login"
clockTolerance=I"-1"
createUser=B"true"
defaultGroups=["girlscouts-vtk-sso"]
defaultRedirectUrl="/content/girlscouts-vtk/sso/landing.html"
digestMethod="http://www.w3.org/2001/04/xmlenc#sha256"
groupMembershipAttribute="groupMembership"
handleLogout=B"true"
identitySyncType="default"
idpCertAlias="local-vtk-idp-cert"
idpHttpRedirect=B"false"
idpIdentifier=""
idpUrl="https://fidm.us1.gigya.com/saml/v2.0/3_NLXR60j9urobE-Xha85pPHh1aIok8tcX3EleNguNPoil0e_8omSl6c4jE1Ip33E0/idp/sso"
keyStorePassword="admin"
logoutUrl="https://fidm.us1.gigya.com/saml/v2.0/3_NLXR60j9urobE-Xha85pPHh1aIok8tcX3EleNguNPoil0e_8omSl6c4jE1Ip33E0/idp/slo"
nameIdFormat="urn:oasis:names:tc:SAML:2.0:nameid-format:transient"
path=["/content/girlscouts-vtk/sso/landing"]
service.ranking=I"0"
serviceProviderEntityId="local-gsusa-vtk-sp"
signatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
spPrivateKeyAlias="aem-vtk-local"
synchronizeAttributes=["profile/GSGlobalID\=profile/GSGlobalID","profile/email\=profile/email","profile/gsUserType\=profile/gsUserType","profile/givenName\=profile/givenName","profile/familyName\=profile/familyName"]
useEncryption=B"false"
userIDAttribute=""
userIntermediatePath="sso"
