.breadcrumb {
  text-transform:uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0em;
  > li {
//    border-right: solid 1px;
    margin-right: 5px;
    margin-left:0;
    padding-right: 5px;
    line-height: 1;
    font-size: 0.75em;
    > * {
      display:inline-block;
    }
    &:after {
      content:'>';
      margin-left: rem-calc(9);
    }
    &:last-child {
      &:after {
        border:none;
        content:none;
      }
    }
  }
}