.council-map {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.council-finder {
    .block-grid {
        list-style: none;
        margin-left: 0;
        @media #{$medium-up} {
            @include block-grid(3);
        }
        p {
            padding: rem-calc(5 10);
        }
        h6 {
            background: $primary-color;
            padding: rem-calc(5 10);
            color: $white;
            margin: 0;
        }
        li {
            @media #{$small-only} {
                margin-bottom: rem-calc(20);
            }
            form {
                border: solid 1px #ccc;
                section {
                    margin: 0 auto rem-calc(10);
                    padding: 0 rem-calc(5);
                    width: 100%;
                    white-space: normal;
                    display: table;
                    > div {
                        display: table-cell;
                        vertical-align: middle;
                        width: 100%;
                        * {
                            height: rem-calc(37);
                        }
                    }
                    [type="text"],
                    [type="submit"],
                    select {
                        width: 100%;
                        margin: 0;
                    }
                    [type="text"] {
                        padding-left: rem-calc(5);
                    }
                    [type="submit"] {
                        padding: 0 rem-calc(10);
                        @media #{$small-only} {
                            padding: 0 rem-calc(20);
                        }
                    }
                }
            }
        }
    }
}

.council-finder-results #results-area {
    .button {
        padding: rem-calc(5 10);
        margin-right: rem-calc(5);
    }
    p {
        margin: 0;
    }
    section {
        margin-bottom: rem-calc(15);
    }
    ul {
        list-style: none;
        li {
            border-bottom: solid 1px #ccc;
            margin-bottom: rem-calc(20);
            padding-bottom: rem-calc(20);
            &:last-child {
                border: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}