.hero-feature .final-comp  {
  display: none;
  .hero-text {
    right: 3%;
    left: auto;
    h2 {
      margin-top: rem-calc(28);
      font-size: rem-calc(26);
    }
    p {
      margin-bottom: rem-calc(50);
    }
    form {
      position: relative;
      clear: both;
      width: rem-calc(164);
      margin: 0 auto;
      input[type="text"] {
        display: none;
        position: absolute;
        bottom: rem-calc(46);
        // width: 10.19rem;
        height: rem-calc(46);
        border: none;
        padding-left: rem-calc(5);
        color: #333;
        line-height: 1.3;
        right: 0;
      }
    }
    .button {
      background: $white;
      color: $primary-color;
      font-size: rem-calc(20);
      font-weight: 600;
      line-height: 1.3;
      white-space: nowrap;
      width: 100%;
      &:after {
        content: "";
        position: absolute;
        display: block;
        border-style: solid;
        border-color: transparent transparent transparent #00AE58;
        border-width: rem-calc(10);
        top: 50%;
        right: 0;
        margin-top: rem-calc(-10);
      }
    }
  }
  .main-image {
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
  }
}
