.invest-button{
  color: $white;
  background-color: #fbb41f;
  padding: rem-calc(6 25);
  border-radius: rem-calc(3);
  margin: 0px;
  margin-bottom:5px;
  > .invest-text {
    margin-bottom: rem-calc(10);
  }
  .invest-text {
    font-family: omnes-pro, sans-serif;
    font-weight: 800;
    font-size: rem-calc(18);
    line-height: 1.2;
  }
  input[type="text"] {
    max-width: rem-calc(135);
    float: left;
  }
  button {
    background: none;
    font-size: 40px;
    padding: 0;
    float: right;
  }
}

.invest-button.national {
  	background-color: #EC008C;
  	.invest-zip{
  		margin-top:15px;
  	}
  	.invest-text {
  		float:left;
  		max-width:80%;
  		margin-top:-10px;
  	}
}