.cq-placeholder-header_47volunteer {
    display: none;
}

.join-volunteer {
    margin-top: rem-calc(40);
}

.right-col .parbase.volunteer-now.section,
.right-col .join-now.parbase.section {
    @media #{$small-only} {
        float: left;
        width: 50%;
        padding-right: 5px;
    }
}

.standalone-volunteer,
.standalone-join {
    position: relative;
    max-width: rem-calc(210);
    width: 100%;
    margin-bottom: rem-calc(20);
    //MAIN.CSS overwrite
    div.image {
        margin: 0;
    }
    .wrapper {
        position: absolute;
        bottom: rem-calc(10);
        width: 100%;
        padding: rem-calc(0 5);
    }
    &.border .wrapper {
        padding: rem-calc(0 10 0 0);
    }
    form {
        padding: rem-calc(5);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        white-space: normal;
        background: $white;
        z-index: 3;
        label {
            margin-top: rem-calc(7);
            color: $primary-color;
            text-transform: uppercase;
            margin-bottom: rem-calc(11);
            font-size: rem-calc(15);
            line-height: 1;
        }
        > div {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            * {
                height: rem-calc(37);
            }
        }
        [type="text"],
        [type="tel"],
        [type="submit"] {
            width: 100%;
            font-size: rem-calc(18);
        }
        [type="text"],
        [type="tel"] {
            padding-left: rem-calc(10);
        }
        [type="submit"] {
            padding: rem-calc(0 5);
            margin-bottom: 0;
        }
    }
    .text-version {
        h5 {
            font-weight: 600;
            font-size: rem-calc(20);
            line-height: 1.2;
        }
        .wrapper {
            position: static;
        }
    }
}

.join-buttons {
    float: right;
    padding-left: rem-calc(80);
}

.header-volunteer-now,
.header-join-now {
    float: left;
    position: relative;
    margin-left: rem-calc(5);
    form {
        $height: rem-calc(25);
        > div {
            height: $height;
            display: table-cell;
            vertical-align: middle;
        }
        [type="text"] {
            padding-left: rem-calc(3);
            display: none;
            position: absolute;
            right: 100%;
            float: left;
            width: rem-calc(75);
            height: 100%;
            border: none;
        }
        .button {
            background-color: #fece24;
            color: $black;
            font-size: rem-calc(14);
            font-weight: 400;
            text-transform: capitalize;
            margin-bottom: 0;
            padding: rem-calc(0 9);
            &.on .triangle {
                width: $height/2;
                height: 0;
                padding-top: $height/2;
                padding-bottom: $height/2;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: -$height/2;
                &:after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    margin-top: -500px;
                    border-style: solid;
                    border-width: 500px 500px 500px 0;
                    border-color: transparent #fece24 transparent transparent;
                }
            }
        }
    }
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
}

.show-for-small.inner-join-volunteer > div:nth-of-type(1) {
    margin-top: rem-calc(20);
}

.footer-volunteer,
.footer-join {
    @include grid-column(24);
    margin-bottom: rem-calc(20);
    position: relative;
    form {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #00AE58;
        width: 100%;
        z-index: 3;
        margin-left: auto;
        margin-right: auto;
        padding: rem-calc(5);
        white-space: normal;
        display: table;
        > div {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            * {
                height: rem-calc(37);
            }
        }
        [type="text"],
        [type="tel"],
        [type="submit"] {
            width: 100%;
        }
        input[type="text"],
        input[type="tel"] {
            padding-left: rem-calc(10);
            font-size: rem-calc(20);
        }
        input[type="submit"] {
            padding: rem-calc(0 32); //rem-calc(0 5);
            margin-bottom: 0;
        }
        span.after {
            content: "";
            position: absolute;
            display: none; //block;
            border-style: solid;
            border-color: transparent transparent transparent $white;
            border-width: 0.71429rem;
            top: 50%;
            right: 0;
            margin-top: -0.71429rem;
        }
    }
    .button.arrow {
        padding: rem-calc(13 0);
    }
}