.reveal-modal {
  padding: rem-calc(9);
  @media #{$medium-up} {
    max-width: rem-calc(579);
  }
  h4 {
    font-size: rem-calc(30);
  }
  p {
    font-weight:600;
    font-size: rem-calc(18);
    line-height: 1.2;
  }
  .close-reveal-modal {
    position: absolute;
    right: rem-calc(5);
  }
}
.local-lookup {
  padding: rem-calc(20);
  form {
    width: 100%;
    label {
      margin-bottom: rem-calc(10);
      margin-top: rem-calc(10);
    }
    > div:nth-last-of-type(1) {
      label {
        display: inline;
        margin-right: rem-calc(10);
        margin-top: 0;
      }
      margin-top: rem-calc(10);
    }
    @media #{$medium-up} {
      input[type="text"], input[type="email"] {
        float: left;
        width: 72%;
        margin-bottom: rem-calc(10);
        padding-left: rem-calc(5);
      }
      label {
        display: inline;
        text-align: right;
        width: 18%;
        float: left;
        margin-right: rem-calc(10);
      }
    }
  }
  .button {
    margin: 0;
  }
}
.share-modal {
  .close-reveal-modal {
    color: $primary-color;
    font-weight: normal;
    position: static;
    float: right;
  }
  .float-left{
    @media #{$medium-up} {
      @include grid-column(8);
    }
    img {
      width: 100%;
    }
  }
  .float-right {
    @media #{$medium-up} {
      @include grid-column(13, $push: 1);
    }
  }
  h4 {
    font-size: rem-calc(30);
  }
  p {
    font-size: rem-calc(18);
  }
  .button {
    text-transform: uppercase;
    //display: block;
    //padding: 0 2%;
    i {
      font-size: rem-calc(45);
    }
  }
}
#modal_booth_item_map {
  padding: rem-calc(20 30 20 20);
  p {
    font-size: rem-calc(14);
    font-weight: 600;
    margin:0;
  }
  h5 {
    margin-bottom: 0;
    line-height: 1;
  }
  #map {
    width: 100%;
    height: rem-calc(170);
    margin: rem-calc(20 0)
  }
  section {
    &:nth-of-type(1) {
      @media #{$medium-up} {
        width: 35%;
        float: left;
      }
      div {
        margin-bottom: rem-calc(10);
        a {
          font-size: rem-calc(14);
        }
      }
    }
    &:nth-of-type(2) {
      @media #{$medium-up} {
        float: right;
        width: 54%;
      }
    }
  }
  .inline-list {
    float: right;
    font-size: rem-calc(30);
    margin-bottom: 0;
    font-size: rem-calc(30);
    li {
      margin-left: rem-calc(10);
    }
    li:nth-of-type(2) {
      margin-left: rem-calc(5);
    }
  }
}
@media print {
  #modal_booth_item_map {
    a {
      display: none;
    }
  }
  .noprint { display: none;}
}