/* /etc/designs/girlscouts-gsnetx */
@import url("/etc/designs/girlscouts-usa-green/static.css");

#main .side-nav * {
	color: #858585;
	margin: 0;
	font-size: 13.5px;
}

#main .side-nav li a {
	line-height: 1em;
}

#main .side-nav > li.active {
        background:#ffffff;
}

#main .side-nav > li > div > a {
	font-weight: normal;
}
#main .side-nav > li.active > div > a {
	font-weight: bold;
	color:#414141;
}
#main .side-nav li div {
    padding-bottom: 7px !important;
    padding-top: 7px !important;
}
#main .side-nav li.active.current {
	background: url('/etc/designs/girlscouts-usa-green/images/small-green-arrow-right.png') no-repeat 185px 6px #f1f1ef;
}

#main .side-nav li.active.current > div > a, #main .side-nav li.active li.active > div > a {
        color: #414141;
}
#main .side-nav li.active.current > ul > li {
	background: #ffffff;
}

#main .side-nav > li {
	background: #ffffff;
}

#main .side-nav li.active.current > div, #main .side-nav li.active li.active > div {
	background-color: transparent;
}
.header-wrapper,
#header {
    background-color: #FFFFFF;
}

#header a {
    color: #000000;
}

#header a.signin {
	color: #000;

}
#mobile-footer {
background-color: #FFFFFF;
}

@media only screen and (max-width: 40em) {
    #header a.signin {
	color: #FFF;
}
}