.granite-references-subtitle {
    word-wrap: break-word;
}
.detail-list .granite-references-item {
    cursor: context-menu;
    position : static;
}
.tag-reference-title {
    font-weight: 700;
    font-style: normal;
    font-size: 0.8175rem;
    color: #666666;
}
.tag-reference-div {
    padding-bottom: 10px;
    cursor: context-menu;
}
.endor-Page-sidepanel--innerRail {
    overflow-x: visible;
}
.references-tooltip {
    line-height: 1rem;
    font-size: 0.75rem;
}
