@media only screen and (max-width: 40.062em){
    #menuIcon{
        display: inline-block;
    }
    #searchIcon{
        display: inline-block;
    }
    .header-nav.row {
      background: #00AE58;
    }
}
@media only screen and (min-width: 40.063em) {
    #menuIcon{
        display: inline-block;
    }
    #searchIcon{
        display: inline-block;
    }
    .header-nav.row {
      background: #00AE58;
    }
}
@media only screen and (min-width: 48.125em){
    #menuIcon{
        display: none;
    }
    #searchIcon{
        display: none;
    }
    #mobileSearch{
        display: none !important;
    }
    .header-nav.row {
      background: #009447;
    }
}
#mobileSearch{
    margin-top: 0;
    display: none;
    background-color: #00AE58;
}
#mobileSearch .search.search-box{
    width: 100%;
    margin-left: 0;
    float: left;
    border: 1px solid #bcbec0;
}
#mobileSearch .search.search-box form{
    width: 100.2%;
    margin-left: 0;
    float: left;
    padding-bottom: 0;
}
#mobileSearch .search.search-box input{
    color: #bcbec0;
    padding-left: 3%;
}
#mobileSearch .search.search-box input::placeholder{
    color: #bcbec0;
}
.logo{
    float: right;
    padding-right: 10px;
}
.top-bar-section.mobile{
    width: 0;
}
.top-bar-section.mobile ul{
    list-style: none;
    display: inline-flex;
    justify-content: center;
}
.top-bar-section.mobile ul li  {
    line-height: 0
}
.top-bar-section.mobile ul li > a {
    margin-left: 5px;
    margin-right: 5px;
}
.logo{
    display: inline-block;
}

#menuIcon{
   margin-right: 20px;
   float: left;
   padding-top: 27px;
}
#searchIcon{
    float: left;
    padding-top: 32px;
    padding-right: 12px;
    margin-left: -4px;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10005;
    cursor: pointer;
    display: block !important;
}
#sideMenuIcon{
    position: relative;
    display: none;
}
#sideSearchIcon{
    position: relative;
    display: none;
}
.sticky-nav-fixed #sideMenuIcon{
    display: inline-block;
    margin-left: -5%;
    margin-top: -0.8%;
    padding-right: 5%;
    float: left;
}
.sticky-nav-fixed #sideSearchIcon{
    display: inline-block;
    float: right;
}
.sticky-nav-fixed .top-bar-section.mobile{
    display: none;
}
.sticky-nav-fixed .logo{
    float: left;
}