@media only screen and (max-width: 40.062em){
    #menuIcon{
        display: inline-block;
    }
    #searchIcon{
        display: inline-block;
    }
    .header-nav.row {
      background: #00AE58;
    }
}
@media only screen and (min-width: 40.063em) {
    #menuIcon{
        display: inline-block;
    }
    #searchIcon{
        display: inline-block;
    }
    .header-nav.row {
      background: #00AE58;
    }
    #mobileSearchSection .search.search-box {
       margin-top: -4%;
    }
}
@media only screen and (min-width: 48.125em){
    #menuIcon{
        display: none;
    }
    #searchIcon{
        display: none;
    }
    #mobileSearch{
        display: none !important;
    }
    .header-nav.row {
      background: #009447;
    }
}
#mobileSearch{
    margin-top: 0;
    display: none;
    background-color: #00AE58;
}
#mobileSearch .search.search-box{
    width: 100%;
    margin-left: 0;
    float: left;
    border: 1px solid gray;
}
#mobileSearch .search.search-box form{
    width: 100.2%;
    margin-left: 0;
    float: left;
    padding-bottom: 0;
}
#mobileSearch .search.search-box input{
    color: black;
    padding-left: 3%;
}
#mobileSearch .search.search-box input::placeholder{
    color: #bcbec0;
}
#mobileSearchSection{
    display: none;
}
#mobileSearchSection .search.search-box .search-form{
    width: 200px;
    height: 10px;
}
#mobileSearchSection .search.search-box {
   display: grid;
   margin-left: 35%;
   margin-top: -8%;
}
.logo{
    float: right;
    padding-right: 10px;
    display: inline-block;
}
.logo-section .menu-icon {
  color: #FFFFFF;
  display: block;
  height: 1.875rem;
  padding: 0;
  position: relative;
  text-indent: 2.1875rem;
  transform: translate3d(0, 0, 0);
  width: 1.875rem;
}
.logo-section .menu-icon span::after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  left: 0.4375rem;
  box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF;
  width: 1rem;
}
.logo-section .menu-icon span:hover:after {
  box-shadow: 0 0 0 1px #b3b3b3, 0 7px 0 1px #b3b3b3, 0 14px 0 1px #b3b3b3;
}
.top-bar-section.mobile{
    width: 0;
}
.top-bar-section.mobile ul{
    list-style: none;
    display: inline-flex;
    justify-content: center;
}
.top-bar-section.mobile ul li  {
    line-height: 0
}
.top-bar-section.mobile ul li > a {
    margin-left: 5px;
    margin-right: 5px;
}
#menuIcon{
   padding-right: 10px;
   float: left;
   padding-top: 32px;
   margin-left: -4px;
}
#searchIcon{
    float: left;
    padding-top: 34px;
    font-size: 25px;
}
#searchIcon:hover{
    cursor: pointer;
}
#sideMenuIcon{
    position: relative;
    display: none;
}
#sideMenuIcon:hover{
    cursor: pointer;
}
.sticky-nav-fixed #mobileSearchSection{
    display: block;
}
.sticky-nav-fixed #sideMenuIcon{
    display: inline-block;
    float: left;
}
.sticky-nav-fixed .top-bar-section.mobile{
    display: none;
}
.sticky-nav-fixed #pdfGen{
    display: none;
}
.sticky-nav-fixed .logo{
    float: left;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10005;
    cursor: pointer;
    display: block !important;
}
