/*
 * Placeholder for empty components. Note that those classes are used outside the
 * #CQ div.
 */
.cq-gadget-placeholder,
.cq-chart-placeholder,
.cq-video-placeholder,
.cq-text-placeholder,
.cq-title-placeholder,
.cq-file-placeholder,
.cq-feedlink-placeholder,
.cq-list-placeholder,
.cq-carousel-placeholder,
.cq-reference-placeholder,
.cq-flash-placeholder,
.cq-teaser-placeholder,
.cq-table-placeholder {
    width: 74px;
    height: 74px;
    border: 2px dashed #cccccc;
}

.cq-image-placeholder {
    min-width: 74px;
    min-height: 74px;
    border: 2px dashed #cccccc;
}

.cq-gadget-placeholder-off,
.cq-chart-placeholder-off,
.cq-image-placeholder-off,
.cq-video-placeholder-off,
.cq-text-placeholder-off,
.cq-text-placeholder-off,
.cq-title-placeholder-off,
.cq-file-placeholder-off,
.cq-feedlink-placeholder-off,
.cq-list-placeholder-off,
.cq-carousel-placeholder-off,
.cq-reference-placeholder-off,
.cq-flash-placeholder-off,
.cq-teaser-placeholder-off,
.cq-table-placeholder-off {
}

.cq-gadget-placeholder {
    background: url( "../placeholders/opensocial.png" ) no-repeat scroll 50% 50%
}
.cq-chart-placeholder {
    background: url( "../placeholders/chart.png" ) no-repeat scroll 50% 50%
}
.cq-image-placeholder {
    background: url( "../placeholders/img.png" ) no-repeat scroll 50% 50%
}
.cq-video-placeholder {
    background: url( "../placeholders/video.png" ) no-repeat scroll 50% 50%
}
.cq-text-placeholder {
    background: url( "../placeholders/text.png" ) no-repeat scroll 50% 50%
}
.cq-title-placeholder {
    background: url( "../placeholders/title.png" ) no-repeat scroll 50% 50%
}
.cq-file-placeholder {
    background: url( "../placeholders/file.png" ) no-repeat scroll 50% 50%
}
.cq-feedlink-placeholder {
    background: url( "../placeholders/feedlink.png" ) no-repeat scroll 50% 50%
}
.cq-list-placeholder {
    background: url( "../placeholders/list.png" ) no-repeat scroll 50% 50%
}
.cq-carousel-placeholder {
    background: url( "../placeholders/carousel.png" ) no-repeat scroll 50% 50%
}
.cq-reference-placeholder {
    background: url( "../placeholders/reference.png" ) no-repeat scroll 50% 50%
}
.cq-flash-placeholder {
    background: url( "../placeholders/flash.png" ) no-repeat scroll 50% 50%
}
.cq-teaser-placeholder {
    background: url( "../placeholders/teaser.png" ) no-repeat scroll 50% 50%
}
.cq-table-placeholder {
    background: url( "../placeholders/table.png" ) no-repeat scroll 50% 50%
}
.cq-collab-userstatetoggle-placeholder {
    background: url( "../placeholders/toggle.png" ) no-repeat scroll 50% 50%;
    height: 64px;
    width: 64px;
}

/*
 * Placeholder containing text
 */

.cq-texthint-placeholder {
    color: #cccccc;
}

.cq-texthint-placeholder-off {
    display: none;
}

.cq-form-hidden-placeholder {
    padding: 8px 0 0;
    margin-bottom: 13px;
    color: #cccccc;
}

.cq-form-hidden-placeholder-off {
    display: none;
}

.cq-text-placeholder-ipe {
    font-size: 32px;
    color: #dddddd;
}

.cq-text-placeholder-off-ipe {
    display: none;
}
