.vtk_modal {
    position: absolute;
    top: 0;
    left: 0; // display: flex;
    display: flex;
    flex-direction: row;
    &.__background {
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.4);
        z-index: 100;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .__modal {
        background-color: white;
        max-width: 900px;
        width: 900px;
        .__header {
            background-color: #00ae58;
            padding: 10px 8px;
            color: white;
            position: relative;
            h3 {
                color: white;
                font-size: 20px;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }
            i {
                position: absolute;
                top: 9px;
                right: 5px;
            }
        }
        .__description {
            padding: 20px;
            color: black;
            overflow: auto;
            height: 460px;
            display: block;
            font-size: 14px !important;
    
            .__scroll {
                width: 100%;
                padding-bottom: 40px;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                background-color: transparent !important;
            }
            p {
                font-size: 14px !important;
            }
            ul {
                li{
                    font-size: 14px !important;
                }
                list-style-type: disc !important;
            }
        }
    }
}