.scholarship-search {
  h4 {
    border-bottom: 3px dotted $primary-color;
    margin-bottom: rem-calc(20);
    padding: rem-calc(10 0);
    &:first-child {
      border-top: 3px dotted $primary-color;
    }
  }
  p.title {
    margin: 0;
  }
  .records {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 3px dotted $primary-color;
    padding-bottom: rem-calc(20);
    li {
      border-bottom: solid 2px #ccc;
      margin-bottom: rem-calc(20);
      &:last-child {
        border: none;
      }
    }
    &:last-child {
      border: none;
    }
  }
  form section {
    label {
      font-weight: 600;
      margin-bottom: rem-calc(10);
    }
  }
}