clientId="3MVG98XJQQAccJQcsir6I8Iv4u2bAMLUa5teZ4TRVZNfa2w8QG1zv54cNe8CZgxIGoBSgTBI_BmapTu7m7LcD"
defaultBranch="gateway"
clientSecret="6300304325931266095"
OAuthUrl="https://gsuat-gsmembers.cs11.force.com/members"
councilMapping=["313::gateway","597::gsnetx","388::girlscoutcsa","367::girlscoutsnccp","465::gssem","320::gswcf","603::gswcf"]
helloUrl="https://my-stage.girlscouts.org/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="https://my-stage.girlscouts.org/content/girlscouts-vtk/en/vtk.home.html"
callbackUrl="https://my-stage.girlscouts.org/content/girlscouts-vtk/controllers/auth.sfauth.html"
communityUrl="https://gsuat-gsmembers.cs11.force.com/members"