# Configuration created by Apache Sling JCR Installer
apiKey="3_FOQZQgRwzYJSbgasEOcazONEMueE78w07ZCQvwp4hLDWMwtxKrnzYSrXtRIJh1CX"
logOutPath="http://my-stage.girlscouts.org/content/girlscouts-vtk/sso/logout.html"
logInPath="http://my-stage.girlscouts.org/content/girlscouts-vtk/sso/login.html"
spName="stage-gsusa-vtk-sp"
