# Configuration created by Apache Sling JCR Installer
apiKey="3_dJdtZDzvd3gAE4Yum9JzFAijyDXt3UJKcedBJRs1C-NVCDPgcJCaFw4z58Joc_pC"
logOutPath="http://my-stage.girlscouts.org/content/girlscouts-vtk/sso/logout.html"
logInPath="http://my-stage.girlscouts.org/content/girlscouts-vtk/sso/login.html"
spName="stage-gsusa-vtk-sp"
