clientId="3MVG9xOCXq4ID1uFSGx64xH6wKFJcSzWgCds8ZKf3F3qIQI295r1QjGBwMEC5JNYCxW7zXf8o1Vp62fN51hvR"
defaultBranch="gateway"
clientSecret="2567600288241469134"
OAuthUrl="https://gsdev-girlscoutsdev.cs18.force.com/members"
councilMapping=["313::gateway","597::gsnetx","388::girlscoutcsa"]
helloUrl="https://my-stage.girlscouts.org/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="https://my-stage.girlscouts.org/content/girlscouts-vtk/en/vtk.html"
callbackUrl="https://my-stage.girlscouts.org/content/girlscouts-vtk/controllers/auth.sfauth.html"