clientId="3MVG9xOCXq4ID1uFuekpIAumxFODsTENrynQou_MseivLpU1J7FUpNFWt47Ffb4jo3iyqbBBRgYIVZNQdEsXW"
defaultBranch="gateway"
clientSecret="8602036013001008303"
OAuthUrl="https://gsdev-girlscoutsdev.cs18.force.com/members"
councilMapping=["111::gateway"]
helloUrl="/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="https://girlscouts-stage.adobecqms.net/content/girlscouts-vtk/en/vtk.html"
callbackUrl="https://girlscouts-stage.adobecqms.net/content/girlscouts-vtk/controllers/auth.sfauth.html"