.is-dragging{
    border:1px solid lightblue;
    padding: 5px;
}

.coral-Multifield-item{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
}

.coral-Multifield-item::last-of-type  {
    border: none !important;
}