.header {
  height: 154px;
  width: 960px;
  background-color: #00AE58;
  margin: 0px auto;

  .gsusa-logo {
    height: 66px;
    width: 168px;
    margin: 50px 396px 38px 396px;
  }
}

.content {
  height: 505px;
  width: 960px;
  background-color: #FFFFFF;
  margin: 0px auto;
  .page-title {
    height: 37px;
    width: 959px;
    color: #000000;
    font-family: "Trefoil Sans Web";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 37px;
    text-align: center;
  }
}

.footer {
  height: 45px;
  width: 960px;
  background-color: #00A850;
  text-align: center;
  margin: 0px auto;
  span, a {
    color: #FFFFFF;
    font-family: "Trefoil Sans Web";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
  }
}