/*
 * Copyright 1997-2010 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

#CQ .x-form-field,
.ext-gecko #CQ .x-window-body .x-form-item {
    overflow:hidden;
}

#CQ textarea.x-form-field {
    overflow:auto;
}

#CQ label.x-form-item-label {
    color:#000;
    overflow: hidden;
}

#CQ label.x-form-item-label SPAN.cq-asterisk {
    font-size:14px;
    color:#000000;
    height:20px;
    background-color:#FFFFFF;
}

#CQ .x-form-item label .sub-label {
    color: #8F8F8F;
	font-size:11px;
}

#CQ .x-form-item-description {
	color: #8F8F8F;
    font-size:11px;
    margin-top:5px;
    margin-bottom:8px;
    padding-right:5%;
}

#CQ .x-form-fieldset-description.cq-static {
    color: #8F8F8F;
    font-size:11px;
    margin-top:-2px;
    margin-bottom:10px;
}

/* field readonly/disabled style */
#CQ .x-form-disabled, #CQ .x-item-disabled .x-form-text {
	color:#8F8F8F;
}
#CQ .x-form-element .x-panel .ext-el-mask {
    background-color:#FFFFFF;
}

/* field focus style */
#CQ .x-form-focus {
	/* border: 1px solid #15428B; */
}

/* suppress focus when readonly */
#CQ .x-form-focus.x-form-disabled, #CQ .x-item-disabled .x-form-focus.x-form-disabled {
    border:1px solid #B5B8C8;
}

/* Spinner styling */

#CQ .x-form-spinner-proxy{
    /*background-color:#ff00cc;*/
}
#CQ .x-form-field-wrap .x-form-spinner-trigger {
    background:transparent url(../../utils/spinner-trigger.gif) no-repeat 0 0;
}

#CQ .x-form-field-wrap .x-form-spinner-overup{
    background-position:-17px 0;
}
#CQ .x-form-field-wrap .x-form-spinner-clickup{
    background-position:-34px 0;
}
#CQ .x-form-field-wrap .x-form-spinner-overdown{
    background-position:-51px 0;
}
#CQ .x-form-field-wrap .x-form-spinner-clickdown{
    background-position:-68px 0;
}
#CQ .x-trigger-wrap-focus .x-form-spinner-trigger{
    background-position:-85px 0;
}
#CQ .x-trigger-wrap-focus .x-form-spinner-overup{
    background-position:-102px 0;
}
#CQ .x-trigger-wrap-focus .x-form-spinner-clickup{
    background-position:-119px 0;
}
#CQ .x-trigger-wrap-focus .x-form-spinner-overdown{
    background-position:-136px 0;
}
#CQ .x-trigger-wrap-focus .x-form-spinner-clickdown{
    background-position:-153px 0;
}
#CQ .x-trigger-wrap-focus .x-form-trigger{
    /* border-bottom: 1px solid #7eadd9; */
}
#CQ .x-form-field-wrap .x-form-spinner-splitter {
    line-height:1px;
    font-size:1px;
    background:transparent url(../../utils/spinner-trigger.gif) no-repeat 0 0;
    position:absolute;
    cursor: n-resize;
}
#CQ .x-trigger-wrap-focus .x-form-spinner-splitter{
    background-position:-14px 0;
}


/* Empty field style */

#CQ .x-form-empty-field {
    color: lightgray;
}

/* Editor small font for grid, toolbar and tree */
#CQ .x-small-editor .x-form-field {
    font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

.ext-safari #CQ .x-small-editor .x-form-field {
    /* safari text field will not size so needs bigger font */
    font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
}

/* safari 4 triggerfield fix (overrides "right:0" in ext/css/structure/form.css) */
.ext-webkit #CQ .x-form-field-wrap .x-form-trigger {
    right:auto;
}

.ext-gecko #CQ .x-fieldset legend {
    padding:0 3px;
}