/*
 * Copyright 1997-2010 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */


#CQ .x-grid3 div {
    cursor:default;
}


#CQ .x-grid3-col-name .x-grid3-col-name-empty {
    color:gray;
}

#CQ .x-grid3-row td {
    overflow: hidden;
}

#CQ .x-grid3-hd-row td, #CQ .x-grid3-row td, #CQ .x-grid3-summary-row td{
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

#CQ .x-grid3-topbar, #CQ .x-grid3-bottombar{
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

/* Selection Styles */
#CQ .x-grid3-row-selected {
    background-color: #D3EA9A !important;
    background-image: none;
    border-color: #ACACAC;
    border:1px solid #D3EA9A;
    border-top-color:#ffffff;
}

#CQ .x-grid3-row-over {
    border:1px solid #ededed;
    border-top-color:#ffffff;
    background:#ededed none;
}
