/*
 * Copyright 1997-2010 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */

/* default the element selectors inside the CQ panel */
#CQ,
#CQ DIV,
#CQ P,
#CQ SPAN,
#CQ IMG,
#CQ TABLE,
#CQ TBODY,
#CQ TR,
#CQ TD,
#CQ INPUT,
#CQ TEXTAREA,
#CQ SELECT,
#CQ FORM,
#CQ FONT,
#CQ B,
#CQ STRONG,
#CQ I,
#CQ U,
#CQ EM,
#CQ OL,
#CQ UL,
#CQ LI,
#CQ A {
    /* text */
    font-weight:normal;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none;
    text-indent:0;
    letter-spacing:normal;
    word-spacing:normal;
    line-height:normal;
    direction:ltr;
    color:#000000;

    /* background */
    background-color:transparent;
    background-image:none;
    background-repeat:repeat;
    background-attachment:scroll;
    background-position:top left;
    opacity:1;

    /* box model */
    width:auto;
    height:auto;
    margin:0;
    padding:0;
    border-style:none;
    border-width:0;

    /* layout */
    position:static;
    /* visibility:inherit; - CQ5-29678 */
    z-index:auto;
    overflow:visible;
    clip:auto;
    float:none;
    clear:none;

    /* other */
    cursor:auto;
    list-style:none;
}
/*
 * BUG# CQ-16454 : reset box-sizing to content-box
 * box-sizing is supported in all elements except non-replaced inline elements (except img) as per MDN
 */
#CQ,
#CQ DIV,
#CQ P,
#CQ IMG,
#CQ TABLE,
#CQ TBODY,
#CQ TR,
#CQ TD,
#CQ FORM,
#CQ U,
#CQ OL,
#CQ UL,
#CQ LI {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing:content-box;
}

/* there is an issue with TD text-align in IE8 (#28193) hence do not set for TD */
#CQ,
#CQ DIV,
#CQ P,
#CQ SPAN,
#CQ IMG,
#CQ TABLE,
#CQ TBODY,
#CQ TR,
#CQ INPUT,
#CQ TEXTAREA,
#CQ SELECT,
#CQ FORM,
#CQ FONT,
#CQ B,
#CQ STRONG,
#CQ I,
#CQ U,
#CQ EM,
#CQ OL,
#CQ UL,
#CQ LI,
#CQ A {
    text-align:left;
}

#CQ SPAN,
#CQ IMG,
#CQ FONT,
#CQ B,
#CQ STRONG,
#CQ I,
#CQ EM,
#CQ A {
    display:inline;
    /* setting ws breaks long titles in trees (where the span element has no class) */
    /*white-space:normal;*/
    vertical-align:baseline;
}

#CQ LI {
    display:list-item;
    white-space:normal;
    vertical-align:baseline;
}

#CQ,
#CQ DIV,
#CQ OL,
#CQ UL,
#CQ FORM,
#CQ P {
    display:block;
    /* setting ws breaks long titles in trees (where the span element has no class) */
    /*white-space:normal;*/
    vertical-align:baseline;
}

#CQ TABLE {
    display:table;
    /*white-space:nowrap;*/
    vertical-align:middle;
    text-align:left;
}

#CQ TBODY {
    display:table-row-group;
    /*white-space:nowrap;*/
    vertical-align:middle;
}

#CQ TR {
    display:table-row;
    /*white-space:nowrap;*/
    vertical-align:middle;
}

#CQ INPUT,
#CQ TEXTAREA,
#CQ SELECT {
    display:inline;
    background-color:#FFFFFF;
    padding:1px 0 1px 0;
    border-color:#F0F0F0;
    border-style:inset;
    vertical-align:baseline;
}

#CQ INPUT[type=hidden] {
    display:none;
}

#CQ B {
    font-weight:bold;
}

#CQ I {
    font-style:italic;
}

#CQ U {
    text-decoration:underline;
}