/*
 * Copyright 1997-2011 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */


#CQ .x-toolbar{
    padding:2px 0 1px 2px;
    border-width:0;
}

#CQ .x-toolbar-cell .x-form-cb-label-hidden {
    display: none;
}

#CQ .x-toolbar td,#CQ .x-toolbar span,#CQ .x-toolbar input,#CQ .x-toolbar div,#CQ .x-toolbar select,#CQ .x-toolbar label{
    font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

#CQ .x-toolbar div.xtb-text{
    padding: 0 2px 0;
}
