/***** BLACK FONT FOR HEADER *****/

#header a {
  color: #000000;
}
#header a.link-login {
  border: solid 5px;
  content: "";
  border-color: transparent transparent transparent #000;
  position: absolute;
  margin: 4px 0 0 10px;
}

