/***** GREEN FONT FOR HEADER *****/

#header a {
  color: #00AE58; /*green color*/
}

#header a.link-login {
  color: #00AE58;
}

#header a.link-login:after {
  border: solid 0px;
  border-color: transparent transparent transparent #000;
}

