@charset "UTF-8";

img#printPageImg { transform: scale(2); display: block !important; height: 135px; !important; padding-left: 550px !important; background-color: #00ae58 !important; padding-top: 40px !important; padding-right: 1200px;}
div.header { display: none; }
div.left-col { display: none; }
div.right-col { display: none; }
footer { display: none; }
.side-nav{ display: none; }
.row {max-width: 130em !important;}
.three-cols .right-wrapper { width: 100%; }
.three-cols .middle-col { width: 100%; }
.standalone-cookie-header { display: none; }
.dynamic-tag-carousel { display: none; }
.related-articles { display: none; }
.article-social-bar { display: none; }
.accordion .accordion-navigation > .content, .accordion dd > .content { display: block !important; }
.accordion.section dd{ height: auto !important; }
.accordion.section h6.accordionComponentLabel { color: #00ae58 !important; }