@charset "UTF-8";

img#printPageImg { display: block !important; height: 300px; margin-top: -112px; padding-top: -100px; margin-left: -10px;}
#imgContainer{ display: block !important; overflow: hidden; height: 100px; margin-top: 12px;}
.mainBackground{ margin-top: 0 !important; }
div.video{ display: none; }
div.header { display: none; }
div.left-col { display: none; }
div.right-col { display: none; }
footer { display: none; }
.print-css{ display: none; }
.side-nav{ display: none; }
.row {max-width: 130em !important;}
.three-cols .right-wrapper { width: 100%; }
.three-cols .middle-col { width: 100%; }
.standalone-cookie-header { display: none; }
.dynamic-tag-carousel { display: none; }
.related-articles { display: none; }
.article-social-bar { display: none; }
.accordion .accordion-navigation > .content, .accordion dd > .content { display: block !important; }
.accordion.section dd{ height: auto !important; }
.accordion.section h6.accordionComponentLabel { color: #00ae58 !important; }
.advertisement { display: none;}
div.img-print{width: 130px;}