@media only screen and (max-width: 48em) {
  /* line 5, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  #main .standalone-cookie-header:not(.mobile-cookie-header), .main-content .standalone-cookie-header:not(.mobile-cookie-header), #main
  .cookie-header:not(.mobile-cookie-header), .main-content
  .cookie-header:not(.mobile-cookie-header) {
    display: none;
  }
}
/* line 10, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header .help-msg,
.cookie-header .help-msg {
  text-align: left;
  font-size: 0.75rem;
}
/* line 14, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header .row,
.cookie-header .row {
  font-size: 1.125rem;
  margin-bottom: 4%;
  color: #FFFFFF;
  margin-right: 0;
  margin-left: 0;
}
@media only screen and (min-width: 48.1225em) {
  /* line 14, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .row,
  .cookie-header .row {
    margin-top: 3%;
  }
}
/* line 24, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header .wrapper-inner,
.cookie-header .wrapper-inner {
  position: relative;
  z-index: 1;
  padding: 0.8125rem 0;
}
@media only screen and (min-width: 48.1225em) {
  /* line 28, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .wrapper-inner:before,
  .cookie-header .wrapper-inner:before {
    content: "";
    height: 6.5625rem;
    width: 14.6875rem;
    position: absolute;
    z-index: 2;
    top: -0.8125rem;
  }
}
@media only screen and (max-width: 48em) {
  /* line 28, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .wrapper-inner:before,
  .cookie-header .wrapper-inner:before {
    content: "";
    height: 4.4375rem;
    width: 4.4375rem;
    left: 50%;
    position: relative;
    margin-left: -2.25rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
}
@media only screen and (max-width: 48em) {
  /* line 53, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .share,
  .cookie-header .share {
    text-align: center;
    clear: both;
  }
}
/* line 62, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header .share i,
.cookie-header .share i {
  color: white;
  font-size: 2.6875rem;
}
/* line 66, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header .share a,
.cookie-header .share a {
  color: white;
  vertical-align: middle;
  line-height: 1.2;
}
/* line 70, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header .share a:hover,
.cookie-header .share a:hover {
  color: #FFFFFF;
}
@media only screen and (min-width: 48.1225em) {
  /* line 75, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .find-cookies,
  .standalone-cookie-header .find-camp,
  .cookie-header .find-cookies,
  .cookie-header .find-camp {
    margin-left: 0;
  }
}
/* line 82, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header form label,
.cookie-header form label {
  color: #FFFFFF;
  font-size: 1.875rem;
  font-weight: 300;
}
/* line 86, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header form label *,
.cookie-header form label * {
  color: #FFFFFF;
}
@media only screen and (max-width: 48em) {
  /* line 82, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header form label,
  .cookie-header form label {
    margin-bottom: 0.9375rem;
    text-align: center;
  }
}
@media only screen and (max-width: 48em) {
  /* line 81, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header form,
  .cookie-header form {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 48.1225em) {
  /* line 81, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header form,
  .cookie-header form {
    width: 50%;
    margin-left: 16.5625rem;
  }
  /* line 101, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .main-content .standalone-cookie-header form, .main-content
  .cookie-header form {
    padding: 0 20px 0 0;
  }
  /* line 104, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .three-cols .middle-col .standalone-cookie-header form, .three-cols .middle-col
  .cookie-header form {
    width: 54%;
    margin-left: 15.4rem;
  }
  /* line 107, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .three-cols .middle-col .standalone-cookie-header form label, .three-cols .middle-col
  .cookie-header form label {
    font-size: 1.25rem;
  }
  /* line 110, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .three-cols .middle-col .standalone-cookie-header form input[type="text"], .three-cols .middle-col
  .cookie-header form input[type="text"] {
    font-size: 1rem;
    padding-left: 0.1875rem;
  }
  /* line 115, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .two-cols .middle-col .standalone-cookie-header form, .two-cols .middle-col
  .cookie-header form {
    width: 66%;
  }
  /* line 118, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .hero-section .standalone-cookie-header form, .hero-section
  .cookie-header form {
    width: 66%;
  }
  /* line 121, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header form .form-wrapper,
  .cookie-header form .form-wrapper {
    width: 47%;
    float: left;
    margin: 0;
  }
  /* line 126, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header form label,
  .cookie-header form label {
    float: left;
    line-height: 2.9375rem;
    display: inline;
    width: 51%;
    margin-right: 1%;
  }
}
/* line 134, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header form input[type="text"],
.cookie-header form input[type="text"] {
  float: left;
  width: 100%;
  padding-left: 0.625rem;
  height: 2.9375rem;
  font-size: 1.125rem;
}
/* line 141, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header form .link-arrow,
.cookie-header form .link-arrow {
  border: none;
  background-color: #00AE58;
  float: left;
  line-height: 2.3125rem;
  padding: 5px 4%;
  position: absolute;
  right: 0;
  color: #FFFFFF;
}
/* line 151, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
.standalone-cookie-header form .form-wrapper,
.cookie-header form .form-wrapper {
  position: relative;
}
@media only screen and (max-width: 48em) {
  /* line 151, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header form .form-wrapper,
  .cookie-header form .form-wrapper {
    margin-top: 0.625rem;
  }
}
@media only screen and (max-width: 48em) {
  /* line 160, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .row.homepage .wrapper-inner,
  .cookie-header .row.homepage .wrapper-inner {
    padding: 1.25rem 0;
  }
  /* line 163, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .row.homepage .wrapper-inner:before,
  .cookie-header .row.homepage .wrapper-inner:before {
    height: 0;
    width: 0;
    left: 0;
    position: relative;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media only screen and (max-width: 48em) {
  /* line 174, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .row.homepage form label,
  .cookie-header .row.homepage form label {
    text-align: center;
    line-height: 1;
    white-space: nowrap;
  }
  /* line 180, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .row.homepage form label:before,
  .cookie-header .row.homepage form label:before {
    content: "";
    height: 2.1875rem;
    width: 2.1875rem;
    display: inline-block;
    margin-right: 0.9375rem;
    vertical-align: bottom;
  }
}
@media only screen and (min-width: 48.1225em) {
  /* line 194, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .share,
  .cookie-header .share {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 20.83333%;
    float: right;
    line-height: 2.3125rem;
    width: 22%;
  }
  /* line 198, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .share *,
  .cookie-header .share * {
    color: #FFFFFF;
  }
  /* line 201, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .share i,
  .cookie-header .share i {
    position: absolute;
    right: 14px;
    top: 20%;
  }
  /* line 207, ../../../../../../../theme/custom/scss/components/_cookie-zip-search.scss */
  .standalone-cookie-header .share a span,
  .cookie-header .share a span {
    display: inline-block;
  }
}

/* line 1, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer {
  color: #FFFFFF;
}
@media only screen and (min-width: 48.1225em) {
  /* line 1, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
  .cookie-footer {
    position: relative;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 79.16667%;
    left: 20.83333%;
    right: auto;
    float: left;
    margin-bottom: 1.25rem;
    margin-top: 1.875rem;
  }
}
/* line 8, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer a {
  color: #FFFFFF;
  display: inline-block;
  float: left;
  width: 49%;
  line-height: 1%;
  height: 100%;
}
/* line 15, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer a span {
  visibility: hidden;
}
/* line 21, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer a.google-play-download {
  float: right;
}
/* line 26, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates,
.cookie-footer .install-app {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-bottom: 1.25rem;
}
@media only screen and (min-width: 48.1225em) {
  /* line 26, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
  .cookie-footer .get-updates,
  .cookie-footer .install-app {
    width: 48.8%;
    float: left;
    height: 9.5rem;
    margin: 0;
  }
}
/* line 38, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates .wrapper p,
.cookie-footer .install-app .wrapper p {
  line-height: 1;
  margin: 0;
}
/* line 41, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates .wrapper p:nth-of-type(1),
.cookie-footer .install-app .wrapper p:nth-of-type(1) {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5625rem;
}
/* line 46, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates .wrapper p:nth-of-type(2),
.cookie-footer .install-app .wrapper p:nth-of-type(2) {
  font-size: 0.75rem;
}
/* line 49, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates .wrapper p.error,
.cookie-footer .install-app .wrapper p.error {
  font-size: 0.8125rem;
  margin: 0;
  position: absolute;
  color: #FF0000;
  bottom: -1.0625rem;
}
/* line 57, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates .wrapper:nth-of-type(1),
.cookie-footer .install-app .wrapper:nth-of-type(1) {
  margin-bottom: 0.625rem;
  position: relative;
}
/* line 62, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates p.success,
.cookie-footer .install-app p.success {
  text-align: center;
  margin-top: 15%;
}
/* line 67, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer [class*=" icon-"],
.cookie-footer [class^="icon-"] {
  float: left;
  font-size: 2.9375rem;
  margin-right: 1.5625rem;
  line-height: .8;
}
/* line 74, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .install-app {
  background: #f8971d;
  padding-top: 1.5625rem;
}
@media only screen and (max-width: 48em) {
  /* line 74, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
  .cookie-footer .install-app {
    margin-bottom: 1.25rem;
  }
}
/* line 81, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .install-app .wrapper:nth-of-type(2) a {
  margin-top: 2%;
}
/* line 86, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates {
  background: #a6ce38;
  padding-top: 0.9375rem;
}
@media only screen and (min-width: 48.1225em) {
  /* line 86, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
  .cookie-footer .get-updates {
    float: right;
  }
}
/* line 92, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates form .wrapper {
  margin-top: 0.625rem;
}
/* line 95, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates input[type="text"] {
  float: left;
  width: 48%;
  padding-left: 5px;
  height: 1.5625rem;
}
/* line 100, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates input[type="text"]:nth-of-type(2) {
  float: right;
}
/* line 105, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates input {
  margin-bottom: 0;
}
/* line 108, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates .button {
  padding-left: 7%;
  padding-right: 7%;
  float: right;
  background: #ec008c;
}
/* line 114, ../../../../../../../theme/custom/scss/components/_cookies_footer.scss */
.cookie-footer .get-updates label {
  display: inline;
  color: #FFFFFF;
  margin: 0;
  line-height: 2.3125rem;
}