.page-banner-title {
    color: #ffffff;
    font: 60px omnesmedium, arial, helvetica, sans-serif;
    text-align: center;
    text-transform: lowercase;
    padding-top: 10px;
    margin-bottom: 40px;
}