/* Mobile header buttons */

#header .mobile-cta {
    margin: 20px 0 -15px 0;
    text-align: center;
    padding: 5px;
}

#header .circle-btn {
    margin: 0 10px;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    background: #01a850;
    border-radius: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 6px 25px;
    line-height: 1;
    border-bottom: 1px solid #015528;
    display: inline-block;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
}

#header .circle-btn:hover {
    background: #00823d;
    color: #ffffff;
    outline: 0;
}

#header .circle-btn:link {
    -webkit-tap-highlight-color: #478FB2;
}

#header .yellow-btn {
    background: #f0c022;
}

#header .orange-btn {
    background: #faa61a;
}


/* Flyout Nav */

.flyout-nav {
    border-left: none;
    text-align: left;
}

.flyout-nav ul,
.flyout-nav li {
    margin: 0;
    list-style: none;
}

.flyout-nav a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
    color: #01a850;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    transition: color .3s;
}

.flyout-nav a:active,
.flyout-nav a:hover {
    outline: 0;
}

.flyout-nav a:link {
    -webkit-tap-highlight-color: #478FB2;
}


/* Nav Level 1 - Nav bar */

.flyout-nav>li {
    padding: 0 2px 0 0;
    float: left;
    position: relative;
    text-transform: uppercase;
    background-image: none !important;
}

.flyout-nav>li>a {
    display: block;
    position: relative;
    z-index: 1000;
}

.flyout-nav>li.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 3px solid #ffffff;
    display: block;
    width: 100%;
}

.flyout-nav>li>a:hover,
.flyout-nav>li.active>a {
    //color: #01a850;
}

.flyout-nav>li.has-children>a:after {
    /* Hover triangle */
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #01a850 transparent transparent transparent;
    -webkit-transform: rotate(360deg);
    position: absolute;
    left: 50%;
    bottom: -13px;
    /* 8px top + 5px border */
    margin-left: -8px;
    display: none;
}

.flyout-nav>li.has-children:hover>a:after {
    display: block;
}


/* Nav Level 2 - Fly down */

.flyout-nav .fly-down {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
    position: absolute;
    right: 0;
    top: -999999px;
    background: #f5f5f5;
    padding: 5px 0;
    z-index: 999;
    width: 250px;
    border-top: 5px solid #01a850;
    /*#159d4b;*/
}

.flyout-nav>li.has-children:hover .fly-down {
    top: 31px;
    /* 26px top + 5px border */
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    /* Disable flyout on mobile */
    .flyout-nav>li.has-children:hover .fly-down {
        top: -999999px;
        opacity: 0;
    }
    .flyout-nav>li.has-children:hover>a:after {
        display: none;
    }
}

.flyout-nav .fly-down.right {
    right: auto;
    left: 0;
}

.flyout-nav .fly-down li {
    font-size: 14px;
}

.flyout-nav .fly-down a {
    color: #6a6a6a;
    display: block;
    padding: 10px 13px;
    font-size: 16px;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
}

.flyout-nav .fly-down li:last-child a {
    border-style: none;
}

.flyout-nav .fly-down a:hover,
.flyout-nav .fly-down li.active>a {
    background: #01a850;
    color: #ffffff;
}


/* Nav Level 3 - Fly left */

.flyout-nav .fly-down .fly-horizontal {
    position: absolute;
    right: 100%;
    background: #f5f5f5;
    padding: 5px 0;
    z-index: 999;
    width: 100%;
    top: -999999px;
    min-height: 100%;
    border-left: 1px solid #e5e3e6;
    opacity: 0;
    box-shadow: 0 -5px 0 #159d4b;
}

.flyout-nav .fly-down>li.has-children:hover .fly-horizontal {
    top: 0;
    opacity: 1;
}

.flyout-nav .fly-down.right .fly-horizontal {
    right: auto;
    left: 100%;
    border-left: none;
    border-right: 1px solid #e5e3e6;
}


/* Page Title Banner */

.page-banner-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    min-height: 10px;
}

.page-banner-title .page-banner * {
    color: #ffffff;
    font-size: 60px;
    font-family: "Trefoil Sans Web", "Open Sans", Arial, sans-serif;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 40px;
}

div.round_corners div.header-wrapper,
div.round_corners div#headerBar,
div.round_corners div.show-for-small.topMessage,
div.round_corners div#footer {
    border-radius: 0 0 6px 6px;
}

div.round_corners div#main {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}


/* Full-screen background */

.main-bg {
    width: 200%;
    min-height: 325px;
    padding-top: 72.11%; /* 1298px / 1800px */
    position: fixed;
    left: -50%;
    top: 0;
    z-index: -100;
    opacity: 0;
}

.main-bg img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-bg.show {
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .6s;
}