.row {
  background: $white;
}
.right-col,
.left-col {
    @include grid-column(24);
    @media #{$medium-up} {
      @include grid-column(5);
    }
  }
.two-cols {
  .middle-col {
    @include grid-column(24);
    @media #{$medium-up} {
      @include grid-column(19);
      .cookie-page & {
        padding-right: rem-calc(20);
      }
    }
    @media #{$small-only} {
      .cookie-page & {
        @include grid-column(22, $center:true);
      }
    }
  }
}
.three-cols {
  @include grid-column(24, $collapse:true);
  .right-wrapper {
    @include grid-column(19, $collapse:true);
    @media #{$small-only} {
      @include grid-column(24);
    }
  }
  .middle-col {
    @include grid-column(24);
    @media #{$medium-up} {
      @include grid-column(17);
      .cookie-page & {
        padding-right: rem-calc(20);
      }
    }
    @media #{$small-only} {
      .cookie-page & {
        @include grid-column(22, $center:true);
      }
    }
  }
  .right-col {
    @include grid-column(24);
    @media #{$medium-up} {
      @include grid-column(7);
    }
  }
}
.hero-section {
  @include grid-column(24, $collapse:true, $float:none);
}
.one-cols {
  .middle-col {
    @include grid-column(24);
  }
}
@media #{$small-only} {
  .left-col {
    display: none;
  }
  .three-cols .right-col,
  .three-cols .middle-col,
  .two-cols .middle-col {
    float: none;
  }
}
.curriculum-filter {
  form {
    section {
      @media #{$medium-up} {
        @include grid-column(12);
        &:nth-of-type(3) {
          @include grid-column(24);
        }
      }
    }
  }
}

.cookie-page {
  .right-col {
    @media #{$small-only} {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
  .cookieRightPath {
    .standalone-volunteer.border,
    .standalone-join.border,
    .rotator.border {
      @media #{$medium-up} {
        padding-left: rem-calc(10);
        border-left: solid 1px #e5e7e8;
        // border-width: 2px 0 2px 2px;
        // border-style: solid;
        // -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#e1e1e1), to(rgba(220, 220, 220, 1))) 1 100%;
        // -webkit-border-image: -webkit-linear-gradient(right, #e1e1e1, rgba(220, 220, 220, 1)) 1 100%;
        // -moz-border-image: -moz-linear-gradient(right, #e1e1e1, rgba(220, 220, 220, 1)) 1 100%;
        // -o-border-image: -o-linear-gradient(right, #e1e1e1, rgba(220, 220, 220, 1)) 1 100%;
        // border-image: linear-gradient(to right, #e1e1e1, rgba(220, 220, 220, 1)) 1 100%;
      }
    }
  }
}
