.row {
  background: $white;
}
.right-col,
.left-col {
    @include grid-column(24);
    @media #{$medium-up} {
      @include grid-column(5);
    }
  }
.two-cols {
  .middle-col {
    @include grid-column(24);
    @media #{$medium-up} {
      @include grid-column(19);
    }
  }
}
.three-cols {
  @include grid-column(24, $collapse:true);
  .right-wrapper {
    @include grid-column(19, $collapse:true);
    @media #{$small-only} {
      @include grid-column(24);
    }
  }
  .middle-col {
    @include grid-column(24);
    @media #{$medium-up} {
      @include grid-column(17);
    }
  }
  .right-col {
    @include grid-column(24);
    @media #{$medium-up} {
      @include grid-column(7);
    }
  }
}
.hero-section {
  @include grid-column(24, $collapse:true, $float:none);
}
.one-cols {
  .middle-col {
    @include grid-column(24);
  }
}
@media #{$small-only} {
  .left-col {
    display: none;
  }
  .three-cols .right-col,
  .three-cols .middle-col,
  .two-cols .middle-col {
    float: none;
  }
}
.curriculum-filter {
  form {
    section {
      @media #{$medium-up} {
        @include grid-column(12);
        &:nth-of-type(3) {
          @include grid-column(24);
        }
      }
    }
  }
}
