/* line 110, ../../../../../../../theme/custom/scss/partials/_join-now.scss */
.header-volunteer-now form input[type="text"] {
  width: 100%;
}

/* line 115, ../../../../../../../theme/custom/scss/partials/_join-now.scss */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
}

/* line 2, ../../../../../../../theme/custom/scss/partials/_social.scss */
.social-block {
  max-height: 25.625rem;
  overflow: hidden;
  height: 22.5rem;
  margin: 0.4375rem;
}

@media only screen and (min-width: 48.1225em) {
  /* line 8, ../../../../../../../theme/custom/scss/partials/_social.scss */
  .twitter-feed,
  .facebook-feed,
  .instagram-feed {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 33.33333%;
    float: left;
    padding-left: 0;
    padding-right: 0.125rem;
  }
}
@media only screen and (max-width: 48em) {
  /* line 8, ../../../../../../../theme/custom/scss/partials/_social.scss */
  .twitter-feed,
  .facebook-feed,
  .instagram-feed {
    margin-bottom: 2.1875rem;
  }
}
/* line 19, ../../../../../../../theme/custom/scss/partials/_social.scss */
.twitter-feed .wrapper,
.facebook-feed .wrapper,
.instagram-feed .wrapper {
  background-color: #FFFFFF;
  position: relative;
  padding-bottom: 2.8125rem;
}
/* line 23, ../../../../../../../theme/custom/scss/partials/_social.scss */
.twitter-feed .wrapper [class^="icon-"],
.twitter-feed .wrapper [class*=" icon-"],
.facebook-feed .wrapper [class^="icon-"],
.facebook-feed .wrapper [class*=" icon-"],
.instagram-feed .wrapper [class^="icon-"],
.instagram-feed .wrapper [class*=" icon-"] {
  font-size: 50px;
  display: block;
  color: #797979;
  text-align: center;
}
/* line 30, ../../../../../../../theme/custom/scss/partials/_social.scss */
.twitter-feed .wrapper .scroll-more,
.facebook-feed .wrapper .scroll-more,
.instagram-feed .wrapper .scroll-more {
  border: inset 57px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: #e8e8e8 transparent transparent transparent;
  border-top-style: solid;
  border-top-width: 1.25rem;
  border-bottom-width: 0.0625rem;
  border-style: solid;
  position: absolute;
  left: 20%;
  margin-left: -57px;
  cursor: pointer;
  bottom: 0.625rem;
}
/* line 40, ../../../../../../../theme/custom/scss/partials/_social.scss */
.twitter-feed .wrapper .scroll-more.up,
.facebook-feed .wrapper .scroll-more.up,
.instagram-feed .wrapper .scroll-more.up {
  left: 80%;
  border-color: transparent transparent #e8e8e8;
  border-bottom-width: 1.25rem;
  border-top-width: 0.0625rem;
}
/* line 47, ../../../../../../../theme/custom/scss/partials/_social.scss */
.twitter-feed .wrapper .centered,
.facebook-feed .wrapper .centered,
.instagram-feed .wrapper .centered {
  text-align: center;
}

@media only screen and (max-width: 48em) {
  /* line 52, ../../../../../../../theme/custom/scss/partials/_social.scss */
  .twitter-timeline {
    width: 100% !important;
  }
}

/* line 57, ../../../../../../../theme/custom/scss/partials/_social.scss */
.facebook-feed-area {
  text-align: center;
}

/* line 61, ../../../../../../../theme/custom/scss/partials/_social.scss */
.facebook-feed .align-center {
  text-align: center;
}
/* line 63, ../../../../../../../theme/custom/scss/partials/_social.scss */
.facebook-feed .align-center img {
  height: 2.625rem;
  margin: 0.625rem;
}
/* line 68, ../../../../../../../theme/custom/scss/partials/_social.scss */
.facebook-feed a.title {
  color: #00a950;
  font-weight: bold;
}
/* line 72, ../../../../../../../theme/custom/scss/partials/_social.scss */
.facebook-feed ul {
  list-style: none;
  margin: 0;
  line-height: 1.3;
}
/* line 77, ../../../../../../../theme/custom/scss/partials/_social.scss */
.facebook-feed li {
  max-width: 100% !important;
  margin-bottom: 0.9375rem;
}
/* line 81, ../../../../../../../theme/custom/scss/partials/_social.scss */
.facebook-feed li img {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}
/* line 85, ../../../../../../../theme/custom/scss/partials/_social.scss */
.facebook-feed p.dateline {
  font-size: 0.9rem;
  color: #666666;
}

/* line 91, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed {
  max-height: 25.625rem;
  overflow: hidden;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 48.1225em) and (max-width: 64em) {
  /* line 91, ../../../../../../../theme/custom/scss/partials/_social.scss */
  .blog-feed {
    max-height: 23.125rem;
  }
}
/* line 98, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed a, .blog-feed p {
  font-size: 1rem;
  margin-bottom: 0px;
  line-height: 1.6;
}
/* line 103, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed li {
  margin-bottom: 3.125rem;
}
/* line 106, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed .title {
  font-size: 1.5rem;
  line-height: 1em;
  padding-bottom: 1.25rem;
}
/* line 111, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed img {
  margin-left: auto;
  margin-right: auto;
}
/* line 115, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed img:not(#gsLogo) {
  margin-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  border: 0;
}
/* line 120, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed #gsLogo {
  margin-top: 1.25rem;
  width: 10.625rem;
}
/* line 124, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed .dateline {
  font-size: 14px;
  color: #666666;
}
/* line 128, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed .blog-embed-area {
  width: 100%;
  float: left;
  padding: 0.625rem;
  overflow: hidden;
  height: 29.28571rem;
  margin-left: 12.5%;
  max-width: 75%;
}
/* line 136, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed .blog-embed-area * {
  color: #333;
}
/* line 137, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed .blog-embed-area ul {
  list-style: none;
  margin: 0;
  overflow: scroll;
  height: 100%;
}
/* line 143, ../../../../../../../theme/custom/scss/partials/_social.scss */
.blog-feed .blog-embed-area a {
  color: #00AE58;
  text-decoration: none;
}

/* line 149, ../../../../../../../theme/custom/scss/partials/_social.scss */
.instagram-feed-image-head-area {
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}

/* line 153, ../../../../../../../theme/custom/scss/partials/_social.scss */
.instagram-feed-image-area {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 172, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_global.scss */
.instagram-feed-image-area:before, .instagram-feed-image-area:after {
  content: " ";
  display: table;
}
/* line 173, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_global.scss */
.instagram-feed-image-area:after {
  clear: both;
}
/* line 51, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_block-grid.scss */
.instagram-feed-image-area > li {
  display: block;
  float: left;
  height: auto;
  padding: 0 0.3125rem 0.625rem;
}
/* line 62, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_block-grid.scss */
.instagram-feed-image-area > li {
  list-style: none;
  padding: 0 0.3125rem 0.625rem;
  width: 33.33333%;
}
/* line 69, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_block-grid.scss */
.instagram-feed-image-area > li:nth-of-type(1n) {
  clear: none;
}
/* line 70, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_block-grid.scss */
.instagram-feed-image-area > li:nth-of-type(3n+1) {
  clear: both;
}
/* line 85, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_block-grid.scss */
.instagram-feed-image-area > li:nth-of-type(3n+1) {
  padding-left: 0rem;
  padding-right: 0.41667rem;
}
/* line 85, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_block-grid.scss */
.instagram-feed-image-area > li:nth-of-type(3n+2) {
  padding-left: 0.20833rem;
  padding-right: 0.20833rem;
}
/* line 85, ../../../../../../../theme/bower_components/foundation/scss/foundation/components/_block-grid.scss */
.instagram-feed-image-area > li:nth-of-type(3n) {
  padding-left: 0.41667rem;
  padding-right: 0rem;
}

/* line 2, ../../../../../../../theme/custom/scss/pages/_news.scss */
.news-article h1 {
  color: #00AE58;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
}
/* line 8, ../../../../../../../theme/custom/scss/pages/_news.scss */
.news-article .description {
  color: #00AE58;
  font-style: italic;
  font-weight: bold;
}
/* line 13, ../../../../../../../theme/custom/scss/pages/_news.scss */
.news-article .contact-field {
  margin-bottom: 0;
}
/* line 15, ../../../../../../../theme/custom/scss/pages/_news.scss */
.news-article .contact-field p {
  margin-bottom: 0;
}
/* line 19, ../../../../../../../theme/custom/scss/pages/_news.scss */
.news-article .release-state {
  color: #00AE58;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 25, ../../../../../../../theme/custom/scss/pages/_news.scss */
.news-article .news-end {
  text-align: center;
}
/* line 28, ../../../../../../../theme/custom/scss/pages/_news.scss */
.news-article div {
  margin-bottom: 0.9375rem;
}

/* line 2, ../../../../../../../theme/custom/scss/pages/_scholarship-search.scss */
.scholarship-search h4 {
  border-bottom: 3px dotted #00AE58;
  margin-bottom: 1.25rem;
  padding: 0.625rem 0;
}
/* line 6, ../../../../../../../theme/custom/scss/pages/_scholarship-search.scss */
.scholarship-search h4:first-child {
  border-top: 3px dotted #00AE58;
}
/* line 10, ../../../../../../../theme/custom/scss/pages/_scholarship-search.scss */
.scholarship-search p.title {
  margin: 0;
}
/* line 13, ../../../../../../../theme/custom/scss/pages/_scholarship-search.scss */
.scholarship-search .records {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 3px dotted #00AE58;
  padding-bottom: 1.25rem;
}
/* line 19, ../../../../../../../theme/custom/scss/pages/_scholarship-search.scss */
.scholarship-search .records li {
  border-bottom: solid 2px #ccc;
  margin-bottom: 1.25rem;
}
/* line 22, ../../../../../../../theme/custom/scss/pages/_scholarship-search.scss */
.scholarship-search .records li:last-child {
  border: none;
}
/* line 26, ../../../../../../../theme/custom/scss/pages/_scholarship-search.scss */
.scholarship-search .records:last-child {
  border: none;
}
/* line 31, ../../../../../../../theme/custom/scss/pages/_scholarship-search.scss */
.scholarship-search form section label {
  font-weight: 600;
  margin-bottom: 0.625rem;
}

/* line 2, ../../../../../../../theme/custom/scss/pages/_search.scss */
.search.section form {
  margin: 1.25rem 0;
}
/* line 4, ../../../../../../../theme/custom/scss/pages/_search.scss */
.search.section form input[type="text"] {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  width: 83.33333%;
  float: left;
}
/* line 7, ../../../../../../../theme/custom/scss/pages/_search.scss */
.search.section form .button {
  padding-top: 0.4375rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  width: 12.5%;
  float: right;
}
/* line 13, ../../../../../../../theme/custom/scss/pages/_search.scss */
.search.section .search-row {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 17, ../../../../../../../theme/custom/scss/pages/_search.scss */
.search.section .search-row h5 {
  margin: 0;
}
/* line 20, ../../../../../../../theme/custom/scss/pages/_search.scss */
.search.section .search-row .icon {
  float: left;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: 0.1875rem;
  margin-right: 0.3125rem;
}

.slick-next,.slick-next:hover {
  background: url("/etc/designs/gsusa/clientlibs/images/right-arrow.png") 0 0 no-repeat transparent;
}
.slick-prev,.slick-prev:hover {
  background: url("/etc/designs/gsusa/clientlibs/images/left-arrow.png") 0 0 no-repeat transparent;
}