#vtk_banner2234{
	margin-top: -20px;
	#_main{

		//<< Hack solution to the wrap done  by the CMS AEM
		&.row{
			&.content_{
				padding-top:0px !important;
			}
			&.row{
				margin-left: 0px !important;
				margin-right: 0px !important;
				&.columns{
					padding-left: 0px !important;
					padding-right: 0px !important;
				}
			}
			.columns{
				padding-left: 0px !important;
				padding-right: 0px !important;
			}
		}
	}
	//>>
	.slick-slider {margin-bottom: 20px;margin-top: 20px;}

}


.vtk-banner-image{
		img{
			width: 100%;
			height: auto;
		}
}

.vtk-banner-button{
	color: white;
	width:30px;
	height: 30px;
	position: absolute;
	top:0px;
	right:7px;
	z-index: 95;

	i{
		font-size: 37px !important;
		cursor: pointer;
	}
}
.vtk-breaking-news-button{
	color: black;
	width:30px;
	height: 30px;
	position: absolute;
	top:0px;
	right:7px;
	z-index: 95;

	i{
		font-size: 37px !important;
		cursor: pointer;
		position: relative;
		bottom: 3px;
	}
}

.scroll-banner{
overflow-x:hidden;
	overflow-y:auto; 

}

.sponsor {
	text-align: center;
	p {
		display:inline-block;
	}
}



//Re Write the Css default button of slick
#main {
	button.slick-prev{
		left:10px;
	}

	button.slick-next{
		right: 10px;
	}
}