.selection-box{
    height: 80px !important;
}

.vtk-meeting-calendar-head,
.vtk-meeting-calendar-body,
.vtk-meeting-calendar-footer {
    margin-bottom: 20px;
}

[data-default="false"] {
    display: none !important;
}

[data-default="true"] {
    display: block;
}

.vtk_age_level {
    font-size: 30px;
    padding: 5px 20px !important;
    text-transform: lowercase;

    &.Daisy, &.daisy{
         color: $daisy;
    }
    
    &.Brownie, &.brownie{
         color: $brownie;
    }

    &.Junior, &.junior{
         color: $junior;
    }

}

.list-of-meeting-calendar {
    input[type="checkbox"] {
        display: none;
        visibility: hidden;
        margin: 0;
        position: absolute;
    }
    input[type="checkbox"] + label {
        min-height: 42px;
        display: table;
        &:before {
            visibility: hidden;
            width: 0px;
            height: 0px;
        }
    }
    input[type="checkbox"] + label span {
        display: table-cell;
        min-width: 30px;
        height: 30px;
        margin: -1px 6px 0 0;
        vertical-align: middle;
        cursor: pointer;
        background: url(/etc/designs/girlscouts-vtk/images/selector.png) left no-repeat;
        background-position-y: top;
    }
    input[type="checkbox"] + label p {
        margin: 0;
        max-width: 90px;
        min-height: 42px;
        display: table-cell;
        padding: 3px 0 0 5px;
    }
    input[type="checkbox"]:checked + label span {
        background: url(/etc/designs/girlscouts-vtk/images/selector.png) -30px no-repeat;
        background-position-y: top;
    }

    input[type="radio"] {
        display: none;
        visibility: hidden;
        margin: 0;
        position: absolute;
    }

    input[type="radio"] + label {
    	min-height: 42px;
    	display: table;
    }

    input[type="radio"] + label span {
     // display:inline-block;
    min-width:30px;
    height:30px;
    margin:-1px 5px 0 0;
    vertical-align:middle;
    display: table-cell;

    cursor:pointer;
        background: url(/etc/designs/girlscouts-vtk/images/selector.png) -60px top no-repeat;
    }

	input[type="radio"] + label p{
		margin: 0 0 0 3px;
    	max-width: 90px;
	    // display: inline-block;
	    min-height: 42px;
	    display: table-cell;
	    padding: 3px 0 0 2px;
	}

    input[type="radio"]:checked + label span {
        background: url(/etc/designs/girlscouts-vtk/images/selector.png) -90px top no-repeat;
    }

    .cancel-meeting {}
}




ul.meetings-to-combine-list{
    margin:0 0 20px 0;
    padding: 0;
    list-style-type: none;

    li{
        text-indent: -5px;
        &:before{
            content: '-';
            text-indent: -5px;
            margin-right: 5px;
        }
    }
}


.alert-error-display, .alert-error-display-cancel{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    color:white;
    width: 100%;
    font-weight: bold;
}


.inactive-button{
    pointer-events: none;
}