$green_light : #00ae58;
$light_gray: #F5F4F5;


//Level
$daisy : #00AAE5; 
$brownie : #854400;
$junior : #6E298C;
$cadette:#EE2123;
$senior:#F36F21;
$ambassador:#FAA519;
$multi-level: #D5C99E;



//vtk-plan
$agenda-item-background: #f6f6f6;
$dark_gray:#757575;