.vtk-survey{
	padding: 15px;
	background-color: #fbcd41;
	color: black;
	margin:20px 0; 
	font-size: 14px;

	button{
		background-color:#faa61a;
		text-transform: uppercase;
		font-weight:bold;
		color:white;
	}
}