#vtkBreakingNews .breaking-news .inner-wrapper {
    background: #ec008b none repeat scroll 0 0;
    position: relative;
    padding: 0.520833%;
    text-align: center;
    color: white;
    line-height: 1.1em;
    font-size: 1.0625rem;
    width: 90.6%;
    margin-left: 45px;
}

.vtk-breaking-news-button{
	color: white;
	width:30px;
	height: 30px;
	position: absolute;
	top:0px;
	right:7px;
	z-index: 95;

	i{
		font-size: 37px !important;
		cursor: pointer;
		position: relative;
		bottom: 3px;
	}
}
.maintenanceWarning {
  position: absolute;
  cursor: pointer;
  margin-top: -10px;
  margin-left: 530px;
}

.maintenanceWarning .maintenanceText {
  visibility: hidden;
  opacity: .7;
  width: 300px;
  background-color: #6b6b6b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;

  left: 100%;

}
.maintenanceWarning .show {
  visibility: visible;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s
}


@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: .7;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: .7;}
}