.vtk-email-news-button {
  color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 7px;
  z-index: 95;

  i{
  		font-size: 37px !important;
  		cursor: pointer;
  		position: relative;
  		bottom: 3px;
  	}
}
#file-input{
  	padding: 5px;
    width: 300px;
    margin-left: 16px;
}
.emailHeader{
	font-weight: bold;
    font-size: 28px;
}
.modal-header {
  padding: 2px 16px;
  background-color: #00ae58;
  color: white;
  padding-bottom: 25px;
}

.modal-body {
    padding: 2px 16px;
}
.modal-footer {
  padding: 2px 16px;
  text-align: right;
}
.email-content {
  display: none;
  position: fixed;
  z-index: 1;
  height: 500px;
  overflow: scroll;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  top: 15%;
  left: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 1s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 15%;
    opacity: 1;
  }
}