.button{
	color: white;
	margin:0 10px 0 0;
	background-color: #18aa51 !important;
}



.vtk-button{
 border: 1px solid $green_light;
 background-color: white;
 color: $green_light  !important;
 font-size: 12.5px !important;
 padding: 7px 10px !important;

}