.vtk-notes-wrap{
	background-color: #f6f6f6;
	position: relative;
	display: block;
	h6{
	background-color: #f6f6f6;
	padding: 5px;
	}
}

.vtk-notes_list{
	margin: 0;


}

.vtk-notes_item {
    padding: 0 0px 0px !important;
    border: 0.5px solid lightgray !important;
    border-radius: 4px;
    margin-bottom: 10px;
}

.vtk-notes_item_header {
    min-height: 10px;
    background-color: $green_light;
    padding: 5px;
    position: relative;
    p {
        margin: 0;
        padding: 0px 0px 0px 10px;
        color: white;
        line-height: normal;
    }
}

.vtk-notes_item_header_actions {
    float: right;
    line-height: normal !important;
    button {
        padding: 1px 7px;
        font-size: 12px;
        background-color: #009447;
        i {
            font-size: 15px !important;
        }
        margin-right: 5px;
    }
}

.vtk-notes_item_content {
    padding: 10px;
    margin: 0;
    position: relative;
}

.add-note{
	font-weight: 700;
	line-height: 27px;
	color:#00ae58;
	cursor:pointer;
	padding: 10px 5px;
}

.add-note-detail{

	padding-bottom: 10px;
	position: relative;

}

.input-note{


	// padding: 5px;
	width: 100%;
	border: 1px solid lightgray;
	min-height: 100px;

	&:focus{
		border:none;
	}

}
	


.input-content{
		min-height: 100px;
		padding: 5px;
			&:blur{
		border:none;
	}
		
}

.input-save{
	position: absolute;
	bottom:15px;
	right: 5px;
	padding: 5px;

	background-color: $green_light;

	color: white;
	padding: 10px;
	cursor: pointer;

	&:hover{
		background-color: green;
	}
}

.you-reach-25{
	h4{
		text-transform: uppercase;
		color: $green_light !important;
	}
}

.vtk-notes_list_container{
	font-size: 14px;
	margin: 0px;


	.vtk-note_item{
		border: 1px solid lightgray;
		min-height:102px;
		margin-bottom:10px;
		display:table;
		width:100%;
		position: relative;
		// display: flex;


		 // justify-content: space-between;
		 align-items: stretch;


		.vtk-note_content{
			min-height:102px;

			min-width: 300px;

		}


		.vtk-note_detail{
			padding: 10px 0 0 10px !important;
			min-height:80px;
			 background-color:#e5f6ee;

			 min-width: 135px;


			 // flex-grow:1;
			 p{
			 	margin: 0;
			 	font-size: 12px;
			 }
			 .vtk-note_actions {
			 	
			    button {
			    	color:white;
			    	margin: 10px 0;
			        padding: 1px 7px;
			        font-size: 10px;
			        background-color: #009447;
			        i {
			            font-size: 15px !important;
			        }
			        margin-right: 5px;
    			}
			}
		}
	}
}