
.meetingPreview {
    float:right !important;
}
.meetingPreview .row{
    background-color:#f6f6f6;
}
.meetingPreview .meeting-item table{
    background:none;
}

.meeting-item .title{
    text-transform:uppercase;
}
.preview-mtg-title{
    cursor: default;
    visibility: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trefoil Sans Web","Open Sans",Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-size: 1.25rem;
    color: #000000;
    line-height: 1;
    text-transform: uppercase;
}
.preview-mtg-desc{
    color: #222;
    font-style: normal;
    cursor: default;
    visibility: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: normal;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 1.5;
}
.meetingPreview details p{
    color: #222;
    font-style: normal;
    cursor: default;
    visibility: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: normal;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 1.5;
}
#meetingSearch{
    clear:both;
}

#meetingSearch summary{
    padding: 20px 0;
    border-top: 1px solid #000000;
    cursor: pointer;
    margin:0;
}

#meetingSearch summary::-webkit-details-marker {
    display: none;
}
#meetingSearch  summary:after {
    content: "\25B2"; /* the new icon */
    color: #696f7c;
    margin-right: 5px;
    float:right;
}
#meetingSearch details[open] summary:after {
    content: "\25BC"; /* the new icon */
    color: #696f7c;
    margin-right: 5px;
    float:right;
}
#meetingSearch div.summary-wrap{
    padding:0 10px;
}
#meetingSearch div.summary-wrap li{
    color: #222;
    font-weight: normal;
    font-style: normal;
    cursor: default;
    visibility: visible;
    line-height: 1.6;
    list-style-position: outside;
    font-family: inherit;
    box-sizing: border-box;
    margin: 0 0 0 10px !important;
    list-style: disc;
    padding: 0 !important;
    font-size: 14px;
}
#meetingSearch div.summary-wrap ul{
    color: #222;
    font-weight: normal;
    font-style: normal;
    cursor: default;
    visibility: visible;
    box-sizing: border-box;
    margin: 0 0 0 10px !important;
    padding: 0;
    font-size: 1.0625rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    list-style-position: outside !important;
    list-style:disk;
    font-family: inherit;
    margin-left: 1.1rem;
}

#meetingSearch .__agenda-item .__main{
    margin:0;
    padding:0;
}

#meetingSearch .meeting-item .summary-wrap a,
#meetingSearch .__agenda-item .__main a {
    font-style: normal;
    list-style: none;
    list-style-position: outside;
    font-family: inherit;
    font-weight: 100 !important;
    white-space: nowrap;
    box-sizing: border-box;
    text-decoration: none;
    line-height: inherit;
    background: transparent;
    color: #00ae58;
    outline: none;
    font-size: 14px;
}
#meetingSearch .agenda-choice-preview{
    margin: 10px 0 0 20px;
}
.vtk-meeting-preview-btn{
    cursor:pointer;
}