/*  print pages only */
@media print {
    .column, .columns {
      position: relative;
      padding-left: 5px;
      padding-right: 5px;
      float: left;
    }
    .large-1 {
      width: 4.16667%;
    }
    .large-2 {
      width: 8.33333%;
    }
    .large-3 {
      width: 12.5%;
    }
    .large-4 {
      width: 16.66667%;
    }
    .large-5 {
      width: 20.83333%;
    }
    .large-6 {
      width: 25%;
    }
    .large-7 {
      width: 29.16667%;
    }
    .large-8 {
      width: 33.33333%;
    }
    .large-9 {
      width: 37.5%;
    }
    .large-10 {
      width: 41.66667%;
    }
    .large-11 {
      width: 45.83333%;
    }
    .large-12 {
      width: 50%;
    }
    .large-13 {
      width: 54.16667%;
    }
    .large-14 {
      width: 58.33333%;
    }
    .large-15 {
      width: 62.5%;
    }
    .large-16 {
      width: 66.66667%;
    }
    .large-17 {
      width: 70.83333%;
    }
    .large-18 {
      width: 75%;
    }
    .large-19 {
      width: 79.16667%;
    }
    .large-20 {
      width: 83.33333%;
    }
    .large-21 {
      width: 87.5%;
    }
    .large-22 {
      width: 91.66667%;
    }
    .large-23 {
      width: 95.83333%;
    }
    .large-24 {
      width: 100%;
    }
    #header {
      background:#00ae58 !important;
    }
    p,span,ul,li {
      page-break-inside: avoid;
    }
    .vtk-body #main #yearPlanMeetings li.milestone,
    .vtk-body #main #yearPlanMeetings li.milestone.ui-state-disabled {
      border-bottom: 1px solid #aaa !important;
      border-top: 1px solid #aaa;
      padding:10px 0;
      margin-bottom:20px;
    }
    .vtk-body #main #yearPlanMeetings li.milestone > div {
      margin: 0 auto;
    }
    .vtk-body #main #yearPlanMeetings #sortable123 .meeting {
/*      border-bottom: solid 1px #666;*/
    }
    .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div:before {
      content: none;
    }
    .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square:after {
      content: none;
    }
}