@media print {
	  * {
	    background: transparent !important;
	    color: black !important;
	    
	    box-shadow: none !important;
	    text-shadow: none !important; 
	    
	    
	  }

	  a,
	  a:visited {
		  
	    text-decoration: underline; 
	 content: ""; 
	  
	  }

	  a[href]:after {
		  
	   
	  content: ""; 
	   
	  }

	  abbr[title]:after {
	    
	  content: ""; 
	   
	  }

	  .ir a:after,
	  a[href^="javascript:"]:after,
	  a[href^="#"]:after {
	    content: ""; 
	   
	  }

	  pre,
	  blockquote {
	    border: 1px solid #999999;
	    page-break-inside: avoid; }

	  thead {
	    display: table-header-group;
	     }

	  tr,
	  img {
	    page-break-inside: avoid; }

	  img {
	    max-width: 100% !important; }

	  @page {
	    margin: 0.5cm; }

	  p,
	  h2,
	  h3 {
	    orphans: 3;
	    widows: 3; }

	  h2,
	  h3 {
	    page-break-after: avoid; }

	  .hide-on-print {
	    display: none !important; }

	  .print-only {
	    display: block !important; }

	  .hide-for-print {
	    display: none !important; }

	  .show-for-print {
	    display: inherit !important; } 
	    
	  a.show-for-large-up { display:none;}
	 
	 #header{display:none;}
	 #headerBar{display:none;}
	#footer{display:none;}
	.footerLinks{display:none;}
	
	.dontPrint{display:none;}
	
	#xtrr1{
	width: 100px;
	height: 100px;
	color: #fff;
	background-color: #000;
	text-align: center;
	font-weight:bold;
	border:1px solid #000;
	}
	
	
	
	.meetingDetailHeader .planSquare .count {
	padding-top: 2px;
}
.planSquare .date {
        top: 5px;
}
.planSquare .date .month {
        font-size: 1em;
        line-height: 1.6em;
}
.planSquare .date .day {
        font-size: 1.8em;
	line-height: 1.6em;
}
.planSquare .date .time {
        font-size: 1em;
}
.planSquare .activity .cal {
        padding-top: 15px;
}

.planSquare .cancelled {
        width: 100px;
        height: 100px;
        border: 1px solid pink;
        position: absolute;
        opacity: 0.5;
        color: red;
        font-size: 120px;
        font-family: Arial;
        z-index: 50;
}



.planSquare .cancelled .cross {
        margin-top: -45px;
}

.planSquare .count {
        width: 25px;
        height: 25px;
        position: absolute;
        float: left;
        
        background-color: #000; 
        color: #fff; 
        border: 1px solid #9b9b9b;
        z-index:100;
	font-size: 0.8em;
}
.meetingDetailHeader .planSquare .count {
	padding-top: 2px;
}


ul, img {
   page-break-inside: avoid;
}

img {
   max-width: 100% !important;
}

h2, h3 {
   page-break-after: avoid;
}

p {page-break-inside: avoid;}
li {page-break-inside: avoid;}

 }
	    
	   
	
	
