.row .row {
  margin-left: -5px;
  margin-right: -5px;
}
.column, .columns {
  padding-left: 5px;
  padding-right: 5px;
}
.vtk-body {
  p, span {
    font-size:0.88em;
    line-height:1.5;
  }
  #main {
    background: transparent;
    .row {
      background: #fff;
      &.content {
        padding-top: 20px;
        // min-height: 487px;
      }
      &.instructions {
        padding-top: 20px;
      }
    }
    #troop {
      background: #e1e1e1;
      padding-top: 7px;
      padding-bottom: 7px;
      select {
        background-color: #cccccc;
        color: #565656;
        text-transform: uppercase;
        font-size: 14px;
        background-size: 15px;
        height:24px;
        padding: 0 0.5rem;
      }
    }
    #yearPlanSelection {
      .row {
        &:nth-child(1) {
          padding-bottom:35px;
          p {
            margin-bottom:0;
          }
        }
        &:nth-child(n+2) {
          padding-bottom: 20px;
        }
        a {
          line-height:20px;
        }
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio] + label:before {
        width: 2.5em;
        height: 2.5em;
        content: '';
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: 0 0.5em;
        color: transparent;
      }
      input[type=radio]:checked + label:after{
        content: '';
        display: inline-block;
        border: none;
        border-radius: 50%;
        margin: 0 0.5em;
        position: absolute;
        background: #00ae58;
        width: 25px;
        height: 25px;
        top: 5px;
        left: 23%;
      }
    }
    #yearPlanMeetings {
      > .row > div.column {
        padding:0;
      }
      .yearPlanTitle {
        font-size: 1.63em;
        text-transform:uppercase;
      }
      ul {
        margin: 0;
        .meeting {
         margin-bottom: 2.0833333%;
          > div {
            height: 80px;
            background-color:#f6f6f6;
            cursor: pointer;
            &:before {
              content:'';
              background: url("images/throbber.png") repeat-y #fff;
              height: 100%;
              width: 23px;
              position: absolute;
              left:-33px;
              padding: 0 17px;
              cursor: move;
            }
            p {
              margin:0;
              &.blurb,
              &.category,
              &.subtitle {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            .bg-square {
              background-color: #00ae57;
              text-align: center;
              padding: 5px 0 0 4px;
              color: #fff;
              position: absolute;
              height: 100%;
              width: 80px;
              left:0;
              .date {
                text-transform: uppercase;
                p {
                  font-weight: 100;
                  line-height:1;
                }
                .day {
                  font-size: 2.06em;
                  line-height:1.3;
                }
              }
              .count {
                font-size: 10px;
                font-weight: 100;
                color: #000;
                border: solid 1px #000;
                border-radius: 8px;
                width: 18px;
                background: #ecec13;
                padding-left: 1px;
                position: absolute;
              }
              &:after {
                border: solid 15px transparent;
                border-color: transparent transparent transparent #00ae57;
                position: absolute;
                left: 100%;
                top: 35%;
                content: " ";
              }
              &.canceled {
                background-color: #ff0000;
                &:after {
                  border-color: transparent transparent transparent #ff0000;
                }
              }
            }
            > div:first-child {
              position: static;
            }
            >div:nth-of-type(2) {
              padding-left:120px;
              padding-top:10px;
              padding-bottom:10px;
              .subtitle {
                text-transform:uppercase;
              }
            }
            >div:nth-of-type(3) {
              padding-top:10px;
              padding-bottom:10px;
            }
          }
          &.activity {
            > div  {
               .bg-square {
                background-color: #00abe6;
                &:after {
                  border-color: transparent transparent transparent #00abe6;
                }
              }
              &:before {
                cursor: default !important;
              }
            &.ui-state-disabled {
              opacity: 1;
              }
            }
          }
        }
        .milestone {
          > div {
            background: #f7941d;
            margin: 20px auto;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
          }
        }
      }
    }
  }
  #mainContent.welcome-page .parbase.section {
    &.text {
      h1 {
        margin: 0 0 1.25rem 0;
      }
      p {
        font-size: 0.875rem;
        margin-top: 1.13rem;
      }
    }
  }
  .inline-list {
    margin: 0;
    &#sub-nav {
      text-transform:uppercase;
      > li {
        border-right: solid 1px;
        margin-right: 5px;
        margin-left:0;
        padding-right: 5px;
        line-height: 1;
        &:last-child {
          border:none;
        }
        a {
          font-size: 0.75em;
        }
      }
    }
  }
  .sectionHeader {
    > div.column {
      background-color:#f6f6f6;
    }
    #showHideReveal {
      position: relative;
      height: 46px;
      padding-left: 45px;
      line-height: 46px;
      color: #484848;
      cursor:pointer;
      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-style: solid;
        border-color: transparent transparent transparent #929292;
        top: 50%;
        left: 15px;
        border-width: 12px;
        margin-top: -12px;
      }
      &.open {
        &:before {
          border-color: #929292 transparent transparent transparent;
          margin-top: -3px;
          left: 6px;
        }
      }
    }
  }
  //meeting tab page
  #main .meeting-detail {
    .meeting-navigation {
      background: #00ae58;
      margin-bottom: 5%;
      * {
        color:#fff;
        font-size:24px;
        text-transform:uppercase;
        margin-bottom:0;
      }
      p {
        font-weight: 100;
        span {
          margin-right:10px
        }
      }
      .column {
        &:first-child,
        &:last-child {
          position: static;
          width:10%;
        }
        &:nth-child(2) {
          border-left:solid 1px #fff;
          border-right:solid 1px #fff;
          text-align: center;
          padding:10px 0 0 0;
          width:80%;
          h3 {
            margin-bottom: 5px;
          }
        }
      }
      .direction {
        border:solid 1px transparent;
        &:before {
          border-style: solid;
          content: "";
          border-width: 27px;
          display:block;
          position: absolute;
          margin-top: -27px;
          top: 50%;
        }
        &.prev:before {
          border-color: transparent #fff transparent transparent;
          left:0;
        }
        &.next:before {
          border-color: transparent  transparent transparent #fff;
          right:0;
        }
      }
    }
    [class^="icon-"],
    [class*=" icon-"] {
      font-size:27px;
    }
    section {
      margin-top:17px;
      h6 {
        font-size: .88em;
        // font-family: "OpenSans-SemiBold";
        text-transform: uppercase;
        background: #f6f6f6;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 1.25em;
        padding: 5px;
      }
      .add-btn,
      .add-btn * {
        font-weight: 700;
        line-height:27px;
      }
      ul {
        padding:0;
        margin:0;
        li {
          margin-bottom:20px;
          padding-bottom:0;
          a {
            font-weight: 700;
            &.view {
              font-weight: 100;
            }
          }
        }
      }
      [class^="icon-"],
      [class*=" icon-"] {
        position: relative;
        vertical-align: middle;
        display: block;
        float:left;
        span {
          position: absolute;
          display: block;
          height: 66%;
          width: 66%;
          left: 5px;
          top: 4px;
          opacity: .5;
            &:before {
              position: absolute;
              background: #ade3ef;
              height: 100%;
              width: 105%;
              left: 0;
              top: 0;
              opacity: .5;
              content: "";
              display: block;
            }
          }
        }
      }
    #main-info {
      margin-top: 0;
      section {
        margin-bottom:30px;
        margin-top: 0;
        p {
          margin:0;
        }
      }
    }
    .wrapper {
      position: relative;
      background-color: #f6f6f6;
      padding: 20px 0;
      &:before {
        background: url("images/throbber.png") repeat-y #fff;
        content: '';
        height: 100%;
        width: 15px;
        position: absolute;
        left: 0;
        cursor: move;
        top: 0;
        border-right: 5px white solid;
        display: block;
      }
      a {
        font-weight: 100;
      }
    }
  }

  //modals
  .reveal-modal {
    padding:0;
    .header {
      background: #00ae57;
      h3 {
        text-transform: uppercase;
        font-size: 24px;
        display: inline-block;
      }
      a,
      [class*=" icon-"],
      [class^="icon-"] {
        font-size: 35px;
        text-align: right;
        top: 0;
        right: 0;
      }
      * {
        color: #fff;
      }
    }
    //tabs inside the modals
    .tabs-wrapper {
      background: #D9D9D9;
      padding: 20px 10px;
      .tabs dd {
        width: 33.3333333%;
      }
      .tabs-content {
        background: #fff;
        padding: 0px 20px;
        margin: 0;
      }
    }
    .content {
      padding: 0.9375em 0;
      [class^="icon-"],
      [class*=" icon-"] {
        font-size:27px;
      }
      input {
        padding: 5px 8px;
        height: auto;
      }
      select {
        padding: 0;
        margin: 0;
        height: 31px;
      }
      table {
        width: 100%;
      }
      input[type="checkbox"] {
        display: none;
      }
      label {
        top:0;
      &:before {
        border: solid 1px #ccc;
        content: "";
        height: 30px;
        width: 30px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 15px;
        text-align: center;
        padding: 4px;
        display: inline-block;
        float: left;
      }
      p {
        float: left;
      }
        span {
          display: block;
        }
      }
      input[type=checkbox]:checked + label:before {
        content: "\e6d7";
        font-family: JollyFont;
        color: green;
      }
      .btn {
        text-transform: uppercase;
        color: #fff;
        margin-left:5px;
      }
      section {
        margin: 0 0 40px 0;
        p {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }//end modals
  .hero-image {
    margin-bottom:10px;
  }
  //utility navigation
  .crumbs {
    .columns {
      #util-links.inline-list {
        position:relative;
        top: -10px;
        li {
          &:nth-of-type(2) {
            margin: 0 15.151515%;
          }
          &:last-child {
            float:right;
          }
        }
      }
    }
  }
//accordion
  .accordion {
    margin-bottom:1.25rem;
    dl dt,
    a {
      font-weight:normal;
      font-size: 0.88rem;
    }
   > dt {
      background: #00ae58;
      position: relative;
      padding: 13px 0 11px 25px;
      margin: 0;
      * {
        color:#fff;
        font-size: 0.88rem;
        vertical-align: middle;
      }
      h3 {
        display: inline;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 40px;
        margin-right: 120px;
        cursor: pointer;
        &:before {
          border-style: solid;
          content: "";
          border-width: 13px;
          display: block;
          position: absolute;
          margin-top: -13px;
          top: 50%;
          border-color: transparent transparent transparent #fff;
          margin-left:5px;
        }
        &.on {
          &:before {
            border-color:#fff transparent transparent;
            margin-top: -4px;
            margin-left:0
          }
        }
      }
    }
  .icon-mail {
    font-size: 31px;
    margin-right: 30px;
    line-height:.5;
    }
    .accordion-inner {
      background: #f7f7f6;
      dt {
        position: relative;
        padding: 10px 10px 10px 15px;
        margin-bottom:0;
        * {
          vertical-align: middle;
        }
        .name:nth-of-type(1) {
          cursor: pointer;
          padding-left:30px;
          &:before {
            border-style: solid;
            content: "";
            border-width: 10px;
            display: block;
            position: absolute;
            margin-top: -10px;
            top: 50%;
            border-color: transparent transparent transparent #00ae58;
            left:0;
          }
          &.on {
            font-weight:bold;
            &:before {
              border-color:#00ae58 transparent transparent;
              margin-top: -4px;
            }
          }
        }
      }
      .accordion-navigation {
        clear:both;
        ul,
        li {
          font-size: .88rem !important;
        }
      }
      ul.column:first-child {
        margin-left:27px;
      }
    }
  }

}//end of vtk-body

//overwrite of global
.inline-list {
  li {
    &:last-child {
        margin:0;
      } 
    &:nth-of-type(2) {
      margin: 0 15px
    }
  }
  .icon {
    i {
      color: inherit;
      font-size: 30px;
      line-height: 1;
    }
  }
}
.tab-wrapper {
  > .row {
    background: #e1e1e1 !important;
  }
  .columns {
    background: #e1e1e1;
  }
}
.tabs dd {
  width: 16.666667%;
  border-bottom:solid 6px #009447;
  > a {
    background: #00ae57;
    color: #fff;
    padding: 5px 0 0 0;
    text-transform: uppercase;
    text-align: center;
  }
  &.active,
  &:hover {
    border-color: #fff;
    a {
      background: #fff;
      color: #303030;
      border-color: #fff;
    }
  }
}
//soratable lists
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  border: none;
  color: #393939;
}

//Media queries
//small screen
@media only screen and (max-width: 40em) {
  .vtk-body #main #yearPlanMeetings ul .meeting > div {
    .bg-square {
      position: static;
      &:after {
        content: none;
      }
    }
    > div:nth-of-type(2) {
        padding-left:35px;
    }
  }
  .vtk-body #main .meeting-detail .meeting-navigation .column:nth-child(2) {
    border:none;
  }
  .vtk-body #main .crumbs .columns #util-links.inline-list li:nth-of-type(2) {
    margin: 0;
  }
  .vtk-body #main .meeting-detail .meeting-navigation .direction:before {
    border-width:20px;
  }
}
//medium screen 
@media only screen and (min-width: 40.063em) and (max-width: 60.063em) {
  .vtk-body #main .crumbs .columns #util-links.inline-list li:nth-of-type(2) {
    margin: 0 11px;
  }
}

