.vtk {
	padding: 1.5em;
}

.tabs {
	padding-left:1.5em;
	border-bottom: 1px solid grey;
}

.tabs .label {
	padding: 10px 30px;
        float: left;

	font-size: 1rem;
	font-weight: bold;

        /* Default colors */
        color: #424b4b;
        background: #d6d6d6;
	border-top: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;

        /* Only round the top corners */
        -webkit-border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-topright: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
}
.tabs .active {
        /* Default colors */
        color: #424b4b;
        background: #ffffff;
}

.tabs li { 
	/* Makes a horizontal row */
	float: left; 

	/* So the psueudo elements can be abs. positioned inside */
	position: relative; 
}
.tabs a { 
	/* Make them block level and only as wide as they need */
	text-decoration: none;
}
.tabs .active {
	/* Highest, active tab is on top */
	z-index: 57;
}
.tabs .active .label { 
	/* Colors when tab is active */
	background: white; 
	color: #424b4b; 
}

#vtkSubNav {
	padding-top:10px;
	width: 100%;
}
#vtkSubNav li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-weight: bold;
}

.sectionHeader {
	color:#000;
	background-color:#ccc;
	padding: 1.0em;
	text-align: center;
	margin-bottom: 10px;
}

#yearPlanSelection {
	border: 1px solid #cccccc;
}
#yearPlanSelection input[type="submit"] {
	margin: 0.5rem;
	padding: 0 40px; height: 40px; width: 250px; vertical-align: middle;
}
#yearPlanSelection hr {
	margin: 0px;
}
#newLocationCal {
	background-color:#fff;
	padding: 2rem;
	border: 2px solid grey;
}
#newLocationModal {
        background-color:#fff;
        padding: 2rem;
}
#yearPlanSelection {
	line-height: 1.5rem;
}
#yearPlanSelection .columns{
	padding: 1rem;
}
.planSquare {
	width: 100px;
	height: 100px;
	color: #fff;
	background-color: #008f50;
	text-align: center;
	font-weight:bold;
}
.activity .planSquare {
        background-color: #0096ff;
}

.planSquare .count {
        width: 25px;
        height: 25px;
        position: absolute;
        float: left;
        margin-left: -10px;
        margin-top: -10px;
        background: #ebebeb;
        color:#797979;
        border: 1px solid #9b9b9b;
        z-index:100;
	font-size: 0.8rem;
}
.planSquare .date {
        top: 5px;
}
.planSquare .date .month {
        font-size: 1.1rem;
        line-height: 2rem;
}
.planSquare .date .day {
        font-size: 1.8rem;
        line-height: 2rem;
}
.planSquare .date .time {
        font-size: 1rem;
        line-height: 0.9rem;
}

.planSquare .activity .cal {
        padding-top: 15px;
}

.planSquare .cancelled {
        width: 100px;
        height: 100px;
        border: 1px solid pink;
        position: absolute;
        opacity: 0.5;
        color: red;
        font-size: 120px;
        font-family: Arial;
        z-index: 50;
}
.planSquare .cancelled .cross {
        margin-top: -45px;
}


#yearPlanMeetings ul{
        list-style-type: none;
	margin: 1.1rem;
}
#yearPlanMeetings li {
        margin: 5px;
        padding: 5px;
        width: 100%;
	border-top: 0;
        border-bottom: 1px solid grey;
        border-left: 0;
        border-right: 0;
	background: #ffffff;
}
#yearPlanMeetings  li a{
        font-weight: bold;
}
#yearPlanMeetings  li > div {
	padding: 5px;
}
#yearPlanMeetings li.ui-state-disabled {
	background-color:#ccc;
}
#yearPlanMeetings li.activity.ui-state-disabled {
	opacity: 1.00;
        border-bottom: 1px solid grey;
        background: #ffffff;
}
#yearPlanMeetings .planMain {
        padding: 5px 10px;
}
#yearPlanMeetings .planMain .alert{
	color: #ff0000;
}
#yearPlanMeetings li.activity.ui-state-disabled .planMain {
        background: #daeffe;
}

#yearPlanMeetings h1 {
	font-size:1.4rem;
	font-weight: bold;
	line-height: 1.3rem;
	text-align: center;
}
#yearPlanMeetings h2 {
        font-size:1rem;
        font-weight: bold;
        line-height: 1rem;
        margin: 0px;
}
#yearPlanMeetings a {
	color:#008f50;
}
#yearPlanMeetings .tags {
	font-size:0.75rem;
	line-height: 1rem;
}

#yearPlanMeetings p {
	line-height: 1rem;
	margin: 0;
	font-size:1rem;
}
#yearPlanMeetings li.milestone.ui-state-disabled {
        opacity: 1.00;
        border: 0px;
        background: #c0c0c0;
	color: #ffffff;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
li.milestone {
	text-transform: uppercase;
	text-align: center;
	padding: 3px;
	margin: 0px;
}
li.milestone .listLabel {
	background-color: #797979;
}
li.milestone .listBody {

}
#troop {
	padding:10px;
}
#troop .troopPrompt {
	text-align: right;
	font-style: italic;
	padding-top: 8px;
}
#troop .troopSelect{
	line-height:1.0rem;
}
#troop select{
	height:2rem;
	font-size: 1em;
	padding: 2px;
}
.modalWrap {
	background-color: #ffffff;
	padding: 10px;
	border:2px solid #99FF99;
}
.ui-widget-overlay {
	background-color: #003300;
	opacity: .30;
	filter: Alpha(Opacity=30);
}

.sectionBar {
        font-size:1.3rem;
        font-weight: bold;
	background-color: #ebebeb;
	padding: 10px;

}
.setupCalendar div.columns{
	display: inline-block;
	white-space: nowrap;
	position: relative;

}
.setupCalendar .date img {
        display: inline-block;
	padding: 3px;
}
#calStartDt {
	width: 140px;
        display: inline-block;
}
#ui-datepicker-div {
	background-color: #eeeeee;
	padding: 10px;
}
.ui-dialog-buttonpane {
	position: absolute;
	top: 0px;
}
#gsModal>h2{
        display: inline-block;
}

#gsModal a.closeText  {
        display: inline-block;
	float:right;
}

#newMeetingAgenda {
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid grey;
}
a.direction {
	font-size: 4rem;
	font-family: "Arial";
	color: #008f50;
}
.arrowDirection {
	font-size: 1em;
        color: #008f50;
}

#searchByCharField {
	padding: 2px;
	font-size:0.8em;
	height: 2.0em;
}

.searchResultsItem {
	padding: 10px;
        display: inline-block;
	border: 1px solid #eeeeee;
	width: 100%;
	margin: 5px;
}
.searchResultsItem .docType{
        display: inline-block;
	text-align: left;
}
.searchResultsItem h2 {
        display: inline-block;
}

#resourceSearchField {
	padding:0 0.5rem;
}

#searchResults ul{
	margin: 1.1rem; 
}

.ui-autocomplete-loading {
	background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat !important;
}

.printer {
	background: url('images/printer.png') no-repeat;
	width: 30px;
	height: 30px;	
}

.printer.right {
	float: right;	
}

