.vtk {
	padding: 1.5em;
}

dl.tabs {
	border-bottom: 3px solid #999;
	padding-left:1.5em;
}

dl.tabs dd {
	border: 1px solid #99CC99;
}

dl.tabs dd.active {
	padding: 1rem 2rem;
}

#vtkSubNav li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.sectionHeader {
	color:#000;
	background-color:#ccc;
	padding: 1.0em;
	text-align: center;
}

#yearPlanSelection {
	border: 1px solid #cccccc;
}
#yearPlanSelection input[type="submit"] {
	margin: 0.5rem;
	padding: 0 40px; height: 40px; width: 250px; vertical-align: middle;
}
#yearPlanSelection hr {
	margin: 0px;
}
#newLocationCal {
	background-color:#fff;
	padding: 2rem;
}
#newLocationModal {
        background-color:#fff;
        padding: 2rem;
}
#yearPlanSelection {
	line-height: 1.5rem;
}
#yearPlanSelection .columns{
	padding: 1rem;
}
.planSquare {
	width: 100px;
	height: 100px;
	color: #fff;
	background-color: #060;
	text-align: center;
}
#yearPlanMeetings li {
	background-color:#fff;
}
#yearPlanMeetings h1 {
	font-size:1rem;
	font-weight: bold;
	line-height: 0.6rem;
}
#yearPlanMeetings .tags {
	font-size:0.5rem;
}

#yearPlanMeetings p {
	line-height: 1rem;
	margin: 0;
	font-size:1rem;
}
#troop {
	padding:10px;
}
#troop .troopPrompt {
	text-align: right;
}
#troop .troopSelect{
	line-height:0.6rem;
}
#troop select{
	height:2.5rem;
}
