.vtk {
  padding: .25em;
}
#main {
  margin: 0 auto;
  max-width: 60em;
  padding: 0 0.9375em;
}
.ui-dialog {
  background: #ffffff;
}
.ui-state-default {
  color: #333333;
}
.ui-widget-header {
  background: #008f50;
  color: #ffffff;
  border: 1px solid #CCCCCC;
}
ul.tabs {
  margin: 0px;
}
.alert {
  color: #ff0000;
}
.errorMsg {
  display: none;
  color: #c60f13;
  margin: 1em;
}
.hidden {
  visibility: hidden;
}
.tabs .label {
  padding: 10px 14px;
  float: left;
  font-size: .9em;
  background: #009447;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;p
/*  border-left: 1px solid #CCCCCC;*/
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tabs.group li:first-child .label {
  border-left: 1px solid #ccc;
}
.tabs li {
  /* Makes a horizontal row */
  float: left;
  /* So the psueudo elements can be abs. positioned inside */
  position: relative;
}
.tabs a {
  /* Make them block level and only as wide as they need */
  text-decoration: none;
}
.tabs .active {
  /* Highest, active tab is on top */
  z-index: 57;
}
.tabs .active .label {
  /* Colors when tab is active */
  background: #efefef;
  color: #00ae58;
}
.centered-table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}
.full-width-wrapper {
  width: 100%;
}
.underline {
  border-bottom: 1px solid #CCCCCC;
}
#vtkSubNav {
  padding-top: 10px;
  width: 100%;
}
#vtkSubNav li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  font-weight: bold;
}
.icons {
  padding-top: 10px;
}
.icons img {
  margin-right: 14px;
}
.sectionHeader {
  color: #000;
  background-color: #ccc;
  padding: 1.0em;
  text-align: center;
  margin-bottom: 10px;
}
#yearPlanSelection {
  border: 1px solid #cccccc;
}
#yearPlanSelection input[type="submit"] {
  margin: 0.5em;
  padding: 0 40px;
  height: 40px;
  width: 250px;
  vertical-align: middle;
}
#yearPlanSelection hr {
  margin: 0px;
}
#newLocationCal {
  background-color: #fff;
  padding: 2em;
  border: 2px solid gray;
}
#newLocationModal {
  background-color: #fff;
  padding: 2em;
}
#yearPlanSelection {
  line-height: 1.5em;
}
#yearPlanSelection .columns {
  padding: 1em;
}
.planSquare {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #008f50;
  text-align: center;
  font-weight: bold;
}
.activity .planSquare {
  background-color: #0096ff;
}
.planSquare .count {
  width: 25px;
  height: 25px;
  position: absolute;
  float: left;
  margin-left: -10px;
  margin-top: -10px;
  background: #ebebeb;
  color: #797979;
  border: 1px solid #9b9b9b;
  z-index: 100;
  font-size: 0.8em;
}
.meetingDetailHeader .planSquare .count {
  padding-top: 2px;
}
.planSquare .date {
  top: 5px;
}
.planSquare .date .month {
  font-size: 1em;
  line-height: 1.6em;
  display: block;
}
.planSquare .date .day {
  font-size: 1.8em;
  line-height: 1.6em;
}
.planSquare .date .time {
  font-size: 1em;
}
.planSquare .activity .cal {
  padding-top: 15px;
}
.planSquare .cancelled {
  width: 100px;
  height: 100px;
  border: 1px solid pink;
  position: absolute;
  opacity: 0.5;
  color: red;
  font-size: 120px;
  font-family: Arial;
  z-index: 50;
}
.planSquare .cancelled .cross {
  margin-top: -45px;
}
table.planSquareWrapper tr:first-child {
  border: 0 !important;
}
table.planSquareWrapper {
  border: 0 !important;
  margin: 5px;
  padding: 0;
  margin: auto;
}
.planSquareLeft, .planSquareRight {
  width: 40px;
  padding: 0;
}
.planSquareMiddle {
  width: 100px;
}
table.planSquareWrapper td {
  text-align: center;
}
.meetingDetailHeader .planSquare .cancelled .cross {
  margin-top: 42px;
}
#yearPlanMeetings ul {
  list-style-type: none;
  margin: 1.1em;
}
#yearPlanMeetings li {
  margin: 5px;
  padding: 5px;
  width: 100%;
  border-top: 0;
  border-bottom: 1px solid gray;
  border-left: 0;
  border-right: 0;
  background: #ffffff;
  cursor: pointer;
}
#yearPlanMeetings li a {
  font-weight: bold;
}
#yearPlanMeetings li > div {
  padding: 5px;
}
#yearPlanMeetings li.ui-state-disabled {
  background-color: #ccc;
}
#yearPlanMeetings li.activity.ui-state-disabled {
  opacity: 1.00;
  border-bottom: 1px solid gray;
  background: #ffffff;
}
#yearPlanMeetings .planMain {
  padding: 5px 10px;
}
#yearPlanMeetings .planMain .alert {
  color: #ff0000;
}
#yearPlanMeetings li.activity.ui-state-disabled .planMain {
  background: #daeffe;
}
#yearPlanMeetings h1, .yearPlanMeetings h1 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
}
#yearPlanMeetings h2, .yearPlanMeetings h2 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 5px 0;
}
#yearPlanMeetings a, .yearPlanMeetings a {
  color: #008f50;
}
#yearPlanMeetings .tags, .yearPlanMeetings .tags {
  font-size: 0.75em;
  line-height: 1em;
}
#yearPlanMeetings p, .yearPlanMeetings p {
  line-height: 1em;
  margin: 0;
  font-size: 1em;
}
#yearPlanMeetings li.milestone.ui-state-disabled {
  opacity: 1.00;
  border: 0px;
  background: #c0c0c0;
  color: #ffffff;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
li.milestone {
  text-transform: uppercase;
  text-align: center;
  padding: 3px;
  margin: 0px;
}
li.milestone .listLabel {
  background-color: #797979;
}
li.milestone .listBody {} #troop {
  padding-bottom: 8px;
  margin: 0px -10px;
}
#troop .troopPrompt {
  text-align: right;
  font-style: italic;
  padding-top: 5px;
  font-size: 0.75em;
}
#troop select {
  height: 2em;
  padding: 1px;
  width: auto;
}
.modalWrap {
  background-color: #ffffff;
  padding: 8px;
  border: 3px solid #eeeeee;
}
.ui-widget-overlay {
  background: #000000;
  opacity: .30;
  filter: Alpha(Opacity=30);
}
.sectionBar {
  font-size: 1.1em;
  font-weight: bold;
  background-color: #ebebeb;
  padding: 8px;
  margin: 0 0 1em 0;
}
.setupCalendar div.columns {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.setupCalendar .date img {
  display: inline-block;
  padding: 3px;
}
#calStartDt {
  width: 140px;
  display: inline-block;
}
#ui-datepicker-div {
  background-color: #eeeeee;
  padding: 10px;
}
.ui-dialog-buttonpane {
  position: absolute;
  top: 0px;
}
#gsModal {
  padding: 0;
  font-size: 0.85em;
  background: #ffffff;
}
#gsModal>h2 {
  display: inline-block;
}
#gsModal a.closeText {
  display: inline-block;
  float: right;
}
#newMeetingAgenda {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid gray;
}
a.direction {
  font-size: 4em;
  font-family: "Arial";
  color: #008f50;
}
.arrowDirection {
  font-size: 1em;
  color: #008f50;
}
#searchByCharField {
  padding: 2px;
  font-size: 0.8em;
  height: 2.0em;
}
h2.searchResults {
  font-size: 1.2em;
  font-weight: bold;
}
.searchResultsItem {
  padding: 10px;
  display: inline-block;
  border: 1px solid #eeeeee;
  width: 100%;
  margin: 5px;
}
.searchResultsItem a {
  color: #00ae58 !important;
}
.searchResultsItem .docType {
  display: inline-block;
  text-align: left;
}
.searchResultsItem h2 {
  display: inline-block;
}
.searchResultsItem table {
  margin: 0;
  border: 0;
}
.searchResultsItem tr:first-child {
  border: 0;
}
#resourceSearchField {
  padding: 0 0.5em;
}
#searchResults ul {
  margin: 1.1em;
}
.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat !important;
}
.printer {
  background: url('images/printer.png') no-repeat;
  width: 30px;
  height: 30px;
}
.printer.right {
  float: right;
}
.tip {
  font-style: italic;
  color: #00ae58;
}
img.align-right {
  float: right;
  margin: 0;
}
img.align-left {
  float: left;
  margin: 0;
}
#vtk-main-menu-button {
  margin: 0px;
  color: #c1ead4;
}
#vtk-main-menu {
  display: none;
  color: #ffffff;
  margin: 0px;
  background-color: #009447;
  width: 100%;
  padding: 10px;
  font-size: 1.3em;
}
#vtk-main-menu a {
  color: #ffffff;
}
#vtk-main-menu li {
  padding-left: 15px;
}
#vtk-main-menu li.active {
  background: url(images/white-right-arrow.png) left 10px no-repeat;
  border: 2px solid #00a850;
}
#vtk-main-menu li.active>a {
  color: #faa61a;
}
.smallBadge img {
  max-width: 70px;
}
.modalInstruction {
  font-size: 1em;
}
.doubleList li {
  float: left;
  width: 50%;
  font-size: 0.8em;
}
.doubleList li a {
  color: #00ae58;
}
.doubleList li.checked a {
  color: #cccccc;
}
.modalHeader {
  font-size: 1em;
  text-align: left;
  padding-bottom: 10px;
  margin-left: -5px;
}
.modalHeader h2 {
  font-size: 1em;
  font-weight: bold;
}
.modalHeader .hint {
  color: #666666;
}
.modalHeader .instruction {
  color: #666666;
  font-size: 0.9em;
}
.modalBody > div {
  padding: 15px inherit;
}
.modalBody input[type="text"], .modalBody input[type="password"], .modalBody input[type="date"], .modalBody input[type="datetime"], .modalBody input[type="datetime-local"], .modalBody input[type="month"], .modalBody input[type="week"], .modalBody input[type="email"], .modalBody input[type="number"], .modalBody input[type="search"], .modalBody input[type="tel"], .modalBody input[type="time"], .modalBody input[type="url"], .modalBody textarea {
  font-size: 0.9em !important;
}
.modalBody select {
  font-size: 0.8em !important;
  padding: 0.5rem 0;
}
.modalBody label {
  font-size: 0.8em;
}
.modalBody tr {
  border-top: 1 px solid #333333;
}
#manageCalendarSection {
  display: block;
}
#manageLocationSection {
  display: none;
}
#manageActivitySection {
  display: none;
}
#createActivitySection {
  display: block;
}
#pickActivitySection {
  display: none;
}
.modalNav ul {
  background: #efefef;
}
.modalNav li {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
  font-weight: 1.2em;
}
.modalNav li a {
  color: #00ae58;
}
.modalNav li.active {
  background: #009447;
}
.modalNav li.active a {
  color: #c1ead4;
}
#calMng table {
  margin-bottom: 10px;
}
.modifyCalendarDate input.time, .modifyCalendarDate input.date, #createActivitySection input.time, #createActivitySection input.date {
  max-width: 150px !important;
}
.modifyCalendarDate select.ampm {
  max-width: 50px;
}
table.yearMeetingList tr:hover {
  background: #bde4ca;
}
.manageCalendarTab {
  height: 3.4em !important;
  line-height: 1;
}
.specifyDates .manageCalendarTab {
  height: 2.4em !important;
}
.manageCalendarTab.double {
  line-height: 2;
}
table.meetingSelect {
  padding: 5px 0 5px 5px;
  border: 0;
  margin: auto;
  width: 90%;
}
table.meetingSelect, .meetingSelect tr:first-child, .yearMeetingList tr:first-child {
  border: 0;
}
table.meetingSelect tr, table.meetingSelect tr:first-child {
  border-top: 1px solid #999999;
}
.yearMeetingList td {
  padding: 10px 3px;
}
table.plain tr:first-child {
  border: 0;
}
ul.ui-sortable {
  margin: 0;
}
#sortable table {
  border: 1px solid #eeeeee;
  margin: 0 0 0.5rem 0;
}
.calendarField {
  max-width: 150px;
  background: white url('/etc/designs/girlscouts-vtk/clientlibs/css/images/calendar-pick.png') right center no-repeat !important;
}
.locationList {
  padding: 10px;
}
ul.formCheckboxes {
  list-style-type: none;
}
ul.formCheckboxes li {
  font-size: 0.75em;
  white-space: nowrap;
}
.touchscrollWrapper {
  margin-top: 12px;
  padding: 0;
}
img.touchscroll {
  min-width: 21px;
}
.signout {
  z-index: 99;
}
.searchResultsItem a {
  display: none;
}
.searchResultsItem a.reserved {
  display: block;
}
.linkButtonWrapper {
  text-align: center;
  padding: 0;
}
.linkButtonWrapper img {
  margin: auto;
}
.button {
  background: #00a850;
  cursor: pointer;
}
.button.linkButton {
  border: 1px solid #00a850;
  background: #ffffff;
  color: #00a850;
  font-size: 0.9em;
  border-radius: 6px;
  font-weight: bold;
  padding: 0.4rem;
}
.button.linkButton.tight {
  padding: 0;
}
.searchResultsItem1 {
  padding: 10px;
  display: inline-block;
  border: 1px solid #eeeeee;
  width: 100%;
  margin: 5px;
}
.searchResultsItem1 a {
  color: #00ae58 !important;
}
.searchResultsItem1 .docType {
  display: inline-block;
  text-align: left;
}
.searchResultsItem1 h2 {
  display: inline-block;
}
.searchResultsItem1 table {
  margin: 0;
  border: 0;
}
.searchResultsItem1 tr:first-child {
  border: 0;
}
/* CSS: (StyleSheet) */

#imgPreviewWithStyles {
  background: #222;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 15px;
  z-index: 999;
  border: none;
}
.docType img, .browseMeetingAids img {
  max-width: 40px;
  width: 40px;
}
.locationResultElement {
  border: 1px solid #eeeeee;
  margin: 0 0 1em 0;
  padding: 1em;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  border: 1px solid #eeeeee !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #00ae58;
}
#panelWrapper {
  margin: auto;
  clear: both;
}
#panelLeft {} #resourceListing {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
}
#panelRight ul {
  margin-left: 0;
}
#panelRight li {
  padding-bottom: 1em;
}
:focus {
  outline: 0;
}
.printIcon {
  margin-left: 1em;
}
.locationListing h2 {
  font-size: 1.4em;
  text-align: center;
}
.locationList del {
  margin-bottom: 1em;
}
.subNavColumn {
  padding: 0;
}
.subNavRow {} .calendarDownload {
  padding: 0;
}
@media only screen and (max-width: 40em) {
  .locationListing h2 {
    font-size: 1.4em;
    text-align: left;
  }
  table.meetingSelect img {
    width: 70px;
    height: 70px;
  }
}
table.agendaItem td {
  padding: 6px 3px;
}
table.agendaItem td.agendaScroll {
  width: 32px;
  min-width: 32px;
}
table.agendaItem td.agendaTime {
  width: 82px;
  min-width: 82px;
}
table.agendaItem td.agendaDuration {
  width: 50px;
  min-width: 50px;
}
li.searchResultsItem p.activityName, li.searchResultsItem a {
  font-weight: bold;
  color: #00a850;
}
li.searchResultsItem p.activityLocation, li.searchResultsItem p.activityDate {
  font-weight: bold;
}
li.searchResultsItem .activityDisabled {
  text-decoration: italics;
  color: #CCCCCC;
}
#gsModal a {
  color: #008f50;
}
#gsModal .modalNav li.active a {
  color: #c1ead4;
}
.tabs a:hover {
  /* Make them block level and only as wide as they need */
  
  text-decoration: none;
  color: #c1ead4;
}
label {
  font-size: 12px;
}
input[type=checkbox] + label {
  font-size: 12px;
}
#calMng input[type="button"] {
  padding: 10px;
}
#yearPlanMeetings .button,
input[type="submit"].button {
  padding: 7px 10px;
}

  .vtkDisableA {pointer-events:none;}
  .vtkDisableP {display:none;}
