.vtk-body #main {
  background: transparent; }
  .vtk-body #main .row {
    background: #fff; }
    .vtk-body #main .row.content {
      padding-top: 20px;
      min-height: 487px; }
    .vtk-body #main .row.instructions {
      padding-top: 20px; }
  .vtk-body #main #troop {
    background: #e1e1e1;
    padding-top: 7px;
    padding-bottom: 7px; }
    .vtk-body #main #troop select {
      background-color: #cccccc;
      color: #565656;
      text-transform: uppercase;
      font-size: 14px;
      background-size: 15px; }
  .vtk-body #main #yearPlanSelection .row:nth-child(1) {
    padding-bottom: 35px; }
    .vtk-body #main #yearPlanSelection .row:nth-child(1) p {
      margin-bottom: 0; }
  .vtk-body #main #yearPlanSelection .row:nth-child(n+2) {
    padding-bottom: 20px; }
  .vtk-body #main #yearPlanSelection .row a {
    line-height: 20px; }
  .vtk-body #main #yearPlanSelection input[type=radio] {
    display: none; }
  .vtk-body #main #yearPlanSelection input[type=radio] + label:before {
    width: 2.5em;
    height: 2.5em;
    content: '';
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 0.5em;
    color: transparent; }
  .vtk-body #main #yearPlanSelection input[type=radio]:checked + label:after {
    content: '';
    display: inline-block;
    border: none;
    border-radius: 50%;
    margin: 0 0.5em;
    position: absolute;
    background: #00ae58;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 28px; }
.vtk-body #mainContent.welcome-page .parbase.section.text h1 {
  margin: 1.25rem 0; }
.vtk-body #mainContent.welcome-page .parbase.section.text p {
  font-size: 0.875rem;
  margin-top: 1.13rem; }
.vtk-body .inline-list {
  margin-left: 0;
  margin-top: 15px; }
  .vtk-body .inline-list#vtkSubNav {
    text-transform: uppercase; }
    .vtk-body .inline-list#vtkSubNav > li {
      border-right: solid 1px;
      margin-right: 5px;
      margin-left: 0;
      padding-right: 5px;
      line-height: 1; }
      .vtk-body .inline-list#vtkSubNav > li:last-child {
        border: none; }
      .vtk-body .inline-list#vtkSubNav > li a {
        font-size: 0.75em; }
.vtk-body #showHideReveal {
  position: relative;
  height: 46px;
  background-color: #f6f6f6;
  padding-left: 45px;
  line-height: 46px;
  color: #484848;
  cursor: pointer; }
  .vtk-body #showHideReveal:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-color: transparent transparent transparent #929292;
    top: 50%;
    left: 15px;
    border-width: 12px;
    margin-top: -12px; }
  .vtk-body #showHideReveal.open:before {
    border-color: #929292 transparent transparent transparent;
    margin-top: -3px;
    left: 6px; }

#panelLeft .inline-list li:last-child {
  margin: 0; }
#panelLeft .inline-list li:nth-of-type(2) {
  margin: 0 15px; }
#panelLeft .inline-list .icon i {
  font-size: 30px;
  line-height: 1; }

.tab-wrapper .columns {
  background: #e1e1e1; }

.tabs dd {
  width: 16.666667%;
  border-bottom: solid 6px #009447; }
  .tabs dd > a {
    background: #00ae57;
    color: #fff;
    padding: 10px 0 4px 0;
    text-transform: uppercase;
    text-align: center; }
    .tabs dd > a:hover {
      background: #fff;
      color: #303030;
      border-color: #fff; }
  .tabs dd.active, .tabs dd:hover {
    border-color: #fff; }
    .tabs dd.active a, .tabs dd:hover a {
      color: #303030; }
