.row .row {
  margin-left: -5px;
  margin-right: -5px; }

.column, .columns {
  padding-left: 5px;
  padding-right: 5px; }

.vtk-body p, .vtk-body span {
  font-size: 0.88em;
  line-height: 1.5; }
.vtk-body #main {
  background: transparent; }
  .vtk-body #main .row {
    background: #fff; }
    .vtk-body #main .row.content {
      padding-top: 20px; }
    .vtk-body #main .row.instructions {
      padding-top: 20px; }
  .vtk-body #main #troop {
    background: #e1e1e1;
    padding-top: 7px;
    padding-bottom: 7px; }
    .vtk-body #main #troop select {
      background-color: #cccccc;
      color: #565656;
      text-transform: uppercase;
      font-size: 14px;
      background-size: 15px;
      height: 24px;
      padding: 5px inherit; }
  .vtk-body #main #yearPlanSelection .row:nth-child(1) {
    padding-bottom: 35px; }
    .vtk-body #main #yearPlanSelection .row:nth-child(1) p {
      margin-bottom: 0; }
  .vtk-body #main #yearPlanSelection .row:nth-child(n+2) {
    padding-bottom: 20px; }
  .vtk-body #main #yearPlanSelection .row a {
    line-height: 20px; }
  .vtk-body #main #yearPlanSelection input[type=radio] {
    display: none; }
  .vtk-body #main #yearPlanSelection input[type=radio] + label:before {
    width: 2.5em;
    height: 2.5em;
    content: '';
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 0.5em;
    color: transparent; }
  .vtk-body #main #yearPlanSelection input[type=radio]:checked + label:after {
    content: '';
    display: inline-block;
    border: none;
    border-radius: 50%;
    margin: 0 0.5em;
    position: absolute;
    background: #00ae58;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 23%; }
  .vtk-body #main #yearPlanMeetings > .row > div.column {
    padding: 0; }
  .vtk-body #main #yearPlanMeetings .yearPlanTitle {
    font-size: 1.63em;
    text-transform: uppercase; }
  .vtk-body #main #yearPlanMeetings #sortable123 {
    margin: 0; }
    .vtk-body #main #yearPlanMeetings #sortable123 .meeting {
      margin-bottom: 2.0833333%; }
      .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div {
        height: 80px;
        background-color: #f6f6f6;
        cursor: pointer; }
        .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div:before {
          content: '';
          background: url("images/throbber.png") repeat-y white;
          height: 100%;
          width: 23px;
          position: absolute;
          left: -33px;
          padding: 0 17px;
          cursor: move; }
        .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div p {
          margin: 0; }
          .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div p.blurb, .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div p.category, .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div p.subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
        .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square {
          background-color: #00ae57;
          text-align: center;
          padding: 5px 0 0 4px;
          color: #fff;
          position: absolute;
          height: 100%;
          width: 80px;
          left: 0; }
          .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square .date {
            text-transform: uppercase; }
            .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square .date p {
              font-weight: 100;
              line-height: 1; }
            .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square .date .day {
              font-size: 2.06em;
              line-height: 1.3; }
          .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square .count {
            font-size: 10px;
            font-weight: 100;
            color: #000;
            border: solid 1px #000;
            border-radius: 8px;
            width: 18px;
            background: #ecec13;
            padding-left: 1px;
            position: absolute; }
          .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square:after {
            border: solid 15px transparent;
            border-color: transparent transparent transparent #00ae57;
            position: absolute;
            left: 100%;
            top: 35%;
            content: " "; }
          .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square.canceled {
            background-color: #ff0000; }
            .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square.canceled:after {
              border-color: transparent transparent transparent #ff0000; }
        .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div > div:first-child {
          position: static; }
        .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div > div:nth-of-type(2) {
          padding-left: 120px;
          padding-top: 10px;
          padding-bottom: 10px; }
          .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div > div:nth-of-type(2) .subtitle {
            text-transform: uppercase; }
        .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div > div:nth-of-type(3) {
          padding-top: 10px;
          padding-bottom: 10px; }
      .vtk-body #main #yearPlanMeetings #sortable123 .meeting.activity.ui-state-disabled {
        opacity: 1; }
        .vtk-body #main #yearPlanMeetings #sortable123 .meeting.activity.ui-state-disabled > div .bg-square {
          background-color: #00abe6; }
          .vtk-body #main #yearPlanMeetings #sortable123 .meeting.activity.ui-state-disabled > div .bg-square:after {
            border-color: transparent transparent transparent #00abe6; }
        .vtk-body #main #yearPlanMeetings #sortable123 .meeting.activity.ui-state-disabled > div:before {
          cursor: default !important; }
.vtk-body #mainContent.welcome-page .parbase.section.text h1 {
  margin: 0 0 1.25rem 0; }
.vtk-body #mainContent.welcome-page .parbase.section.text p {
  font-size: 0.875rem;
  margin-top: 1.13rem; }
.vtk-body .inline-list {
  margin: 0; }
  .vtk-body .inline-list#sub-nav {
    text-transform: uppercase; }
    .vtk-body .inline-list#sub-nav > li {
      border-right: solid 1px;
      margin-right: 5px;
      margin-left: 0;
      padding-right: 5px;
      line-height: 1; }
      .vtk-body .inline-list#sub-nav > li:last-child {
        border: none; }
      .vtk-body .inline-list#sub-nav > li a {
        font-size: 0.75em; }
.vtk-body .sectionHeader > div.column {
  background-color: #f6f6f6; }
.vtk-body .sectionHeader #showHideReveal {
  position: relative;
  height: 46px;
  padding-left: 45px;
  line-height: 46px;
  color: #484848;
  cursor: pointer; }
  .vtk-body .sectionHeader #showHideReveal:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-color: transparent transparent transparent #929292;
    top: 50%;
    left: 15px;
    border-width: 12px;
    margin-top: -12px; }
  .vtk-body .sectionHeader #showHideReveal.open:before {
    border-color: #929292 transparent transparent transparent;
    margin-top: -3px;
    left: 6px; }
.vtk-body #main .meeting-detail .meeting-navigation {
  background: #00ae58;
  margin-bottom: 5%; }
  .vtk-body #main .meeting-detail .meeting-navigation * {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .vtk-body #main .meeting-detail .meeting-navigation p {
    font-weight: 100; }
  .vtk-body #main .meeting-detail .meeting-navigation .column:first-child, .vtk-body #main .meeting-detail .meeting-navigation .column:last-child {
    position: static;
    width: 10%; }
  .vtk-body #main .meeting-detail .meeting-navigation .column:nth-child(2) {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    text-align: center;
    padding: 10px 0 0 0;
    width: 80%; }
    .vtk-body #main .meeting-detail .meeting-navigation .column:nth-child(2) h3 {
      margin-bottom: 5px; }
  .vtk-body #main .meeting-detail .meeting-navigation .direction {
    border: solid 1px transparent; }
    .vtk-body #main .meeting-detail .meeting-navigation .direction:before {
      border-style: solid;
      content: "";
      border-width: 27px;
      display: block;
      position: absolute;
      margin-top: -27px;
      top: 50%; }
    .vtk-body #main .meeting-detail .meeting-navigation .direction.prev:before {
      border-color: transparent #fff transparent transparent;
      left: 0; }
    .vtk-body #main .meeting-detail .meeting-navigation .direction.next:before {
      border-color: transparent  transparent transparent #fff;
      right: 0; }
.vtk-body #main .meeting-detail [class^="icon-"],
.vtk-body #main .meeting-detail [class*=" icon-"] {
  font-size: 27px; }
.vtk-body #main .meeting-detail section {
  margin-top: 17px; }
  .vtk-body #main .meeting-detail section h6 {
    font-size: .88em;
    text-transform: uppercase;
    background: #f6f6f6;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 1.25em;
    padding: 5px; }
  .vtk-body #main .meeting-detail section ul {
    padding: 0;
    margin: 0; }
    .vtk-body #main .meeting-detail section ul li {
      margin-bottom: 20px;
      padding-bottom: 0; }
      .vtk-body #main .meeting-detail section ul li a {
        font-weight: 700; }
        .vtk-body #main .meeting-detail section ul li a.view {
          font-weight: 100; }
  .vtk-body #main .meeting-detail section [class^="icon-"],
  .vtk-body #main .meeting-detail section [class*=" icon-"] {
    position: relative;
    vertical-align: middle;
    display: block;
    float: left; }
    .vtk-body #main .meeting-detail section [class^="icon-"] span,
    .vtk-body #main .meeting-detail section [class*=" icon-"] span {
      position: absolute;
      display: block;
      height: 66%;
      width: 66%;
      left: 5px;
      top: 4px;
      opacity: .5; }
      .vtk-body #main .meeting-detail section [class^="icon-"] span:before,
      .vtk-body #main .meeting-detail section [class*=" icon-"] span:before {
        position: absolute;
        background: #ade3ef;
        height: 100%;
        width: 105%;
        left: 0;
        top: 0;
        opacity: .5;
        content: "";
        display: block; }
.vtk-body #main .meeting-detail #main-info {
  margin-top: 0; }
  .vtk-body #main .meeting-detail #main-info section {
    margin-bottom: 30px;
    margin-top: 0; }
    .vtk-body #main .meeting-detail #main-info section p {
      margin: 0; }
.vtk-body #main .meeting-detail .crumbs .columns #util-links.inline-list {
  position: relative;
  top: -10px; }
  .vtk-body #main .meeting-detail .crumbs .columns #util-links.inline-list li:nth-of-type(2) {
    margin: 0 15.151515%; }
  .vtk-body #main .meeting-detail .crumbs .columns #util-links.inline-list li:last-child {
    float: right; }
.vtk-body #main .meeting-detail .wrapper {
  position: relative;
  background-color: #f6f6f6;
  padding: 20px 0; }
  .vtk-body #main .meeting-detail .wrapper:before {
    background: url("images/throbber.png") repeat-y white;
    content: '';
    height: 100%;
    width: 15px;
    position: absolute;
    left: 0;
    cursor: move;
    top: 0;
    border-right: 5px white solid;
    display: block; }
  .vtk-body #main .meeting-detail .wrapper a {
    font-weight: 100; }
.vtk-body #main .modal-box .header {
  background: #00ae57; }
  .vtk-body #main .modal-box .header h3 {
    text-transform: uppercase;
    font-size: 24px;
    display: inline-block; }
  .vtk-body #main .modal-box .header a {
    font-size: 30px;
    text-align: right; }
  .vtk-body #main .modal-box .header * {
    color: #fff; }
.vtk-body #main .modal-box .tabs-wrapper {
  background: #D9D9D9;
  padding: 20px 10px; }
  .vtk-body #main .modal-box .tabs-wrapper .tabs dd {
    width: 33.3333333%; }
  .vtk-body #main .modal-box .tabs-wrapper .tabs-content {
    background: #fff;
    padding: 0px 20px;
    margin: 0; }
    .vtk-body #main .modal-box .tabs-wrapper .tabs-content input {
      padding: 5px 8px;
      height: auto; }
    .vtk-body #main .modal-box .tabs-wrapper .tabs-content select {
      padding: 0;
      margin: 0;
      height: 31px; }
    .vtk-body #main .modal-box .tabs-wrapper .tabs-content table {
      width: 100%; }
    .vtk-body #main .modal-box .tabs-wrapper .tabs-content input[type="checkbox"] {
      display: none; }
    .vtk-body #main .modal-box .tabs-wrapper .tabs-content label {
      top: 0; }
      .vtk-body #main .modal-box .tabs-wrapper .tabs-content label:before {
        border: solid 1px #ccc;
        content: "";
        height: 30px;
        width: 30px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-size: 15px;
        text-align: center;
        padding: 4px;
        display: inline-block;
        float: left; }
      .vtk-body #main .modal-box .tabs-wrapper .tabs-content label p {
        float: left; }
      .vtk-body #main .modal-box .tabs-wrapper .tabs-content label span {
        display: block; }
    .vtk-body #main .modal-box .tabs-wrapper .tabs-content input[type=checkbox]:checked + label:before {
      content: "\e6d7";
      font-family: JollyFont;
      color: green; }
  .vtk-body #main .modal-box .tabs-wrapper .btn {
    text-transform: uppercase;
    color: #fff;
    margin-left: 5px; }
  .vtk-body #main .modal-box .tabs-wrapper section {
    margin: 0 0 40px 0; }
    .vtk-body #main .modal-box .tabs-wrapper section p {
      padding-left: 5px;
      padding-right: 5px; }

.inline-list li:last-child {
  margin: 0; }
.inline-list li:nth-of-type(2) {
  margin: 0 15px; }
.inline-list .icon i {
  color: inherit;
  font-size: 30px;
  line-height: 1; }

.tab-wrapper .columns {
  background: #e1e1e1; }

.tabs dd {
  width: 16.666667%;
  border-bottom: solid 6px #009447; }
  .tabs dd > a {
    background: #00ae57;
    color: #fff;
    padding: 5px 0 0 0;
    text-transform: uppercase;
    text-align: center; }
    .tabs dd > a:hover {
      background: #fff;
      color: #303030;
      border-color: #fff; }
  .tabs dd.active, .tabs dd:hover {
    border-color: #fff; }
    .tabs dd.active a, .tabs dd:hover a {
      color: #303030; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  color: #393939; }

@media only screen and (max-width: 40em) {
  .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square {
    position: static; }
    .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div .bg-square:after {
      content: none; }
  .vtk-body #main #yearPlanMeetings #sortable123 .meeting > div > div:nth-of-type(2) {
    padding-left: 35px; }

  .vtk-body #main .meeting-detail .meeting-navigation .column:nth-child(2) {
    border: none; }

  .vtk-body #main .meeting-detail .crumbs .columns #util-links.inline-list li:nth-of-type(2) {
    margin: 0; }

  .vtk-body #main .meeting-detail .meeting-navigation .direction:before {
    border-width: 20px; } }
@media only screen and (min-width: 40.063em) and (max-width: 60.063em) {
  .vtk-body #main .meeting-detail .crumbs .columns #util-links.inline-list li:nth-of-type(2) {
    margin: 0 11px; } }
