.vtk-table-container{
	text-align: center;
	// background-color: red;
}

.table-action-button{
	a{
		color:red !important;
	}
}

.vtk-empty-bar{
	width: 100%;
	height: 25px;
}

.vtk-toolkit-title{
	float: left;
	h4{
		color:white !important;
		font-weight: 100;
		font-size: 20px;
		margin:0;
		padding: 0;
		letter-spacing: 1px;
	}
}

//Demo Footer
.vtk-demo-info-footer, .vtk-demo-reference-footer{
	margin: 25px 0;
}

.vtk-demo-info-footer{
	h4{
		
		font-size: 18px;
		font-weight: 100;
		color: white;
		margin:0;
	}
}

.vtk-demo-reference-footer{
	a{
		float: right;
		font-weight: 100;
		font-size: 15px !important;
		text-decoration: underline;
	}
}

.vtk-demo-wrap-top{
	padding: 36px 0;
}

.vtk-header-box{
	background-color: #009447;

	color: white;
	text-transform: uppercase;
	margin-bottom: 10px;
	width: 100%;
	display: table;

	a{
		display: table-cell;
		width: 100%;
		height: inherit;
		vertical-align: center;
			padding:15px;
		color:white;
		&:hover{
			color: white;
		}
	}
}

.vtk-demo-card{
	margin-bottom: 15px;
	p{
		padding: 0 15px;
		font-size: 13px;
	}

	ul{
		list-style-type: circle !important;
		font-size: 13px;
		padding-left: 15px;
	}
}

.vtk-demo-select{
	select{
		width: auto;
		float: right;
		background-color: green;
		color:white;
		margin:10px 10px 0 0;
	}
}

.vtk-demo-select_{
	text-align: center;
	background-color: #FFFFE0;
	padding: 10px;
	color:green;
	margin-bottom: 40px;
}


.vtk-demo-restart{
	position: relative;
	a{
		float: right;
		margin: 5px 10px 5px 0;
		color:white;
		text-decoration: underline;
		font-size: 12px;
	}
}

.float-right{
	position: absolute;
	top:8px;
	right: 9px;
}

.vtk-demo-logo-img{
	position: absolute;
	z-index: 1000;
}