.accordion.section h6.accordionComponentLabel{
    width: calc(100% - 40px);
    padding-left: 10px;
    padding-right: 0;
    display: inline-block;
}

.accordionComponentHeader {
    transition-duration: 500ms;
}

dt.accordionHeaderShown > h6.accordionComponentLabel{
    color: white;
    transition-duration: 500ms;
}

.accordionComponentSwitch {
    float: right;
    width: 0;
    height: 0;
    border-bottom: 0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00ae58;
    margin: 14px 10px;
    transition-duration: 500ms;
    transition-properties: border-top transform;
}

.accordionHeaderShown > .accordionComponentSwitch {
    border-top: 10px solid white;
    transform: rotate(180deg);
}

.accordionComponentHeader.accordionHeaderShown:hover .accordionComponentSwitch{
    transform: rotate(180deg);
}
