# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.names=["girlscouts.components.web-to-case-vs2-migration","org.girlscouts.web.osgi.service.impl.WebToCaseMigrationImpl"]
org.apache.sling.commons.log.file="logs/gs-web-to-case-vs2-migration.log"
org.apache.sling.commons.log.level="debug"
org.apache.sling.commons.log.additiv="false"