/* /etc/designs/girlscouts-gsnetx */
@import url("/etc/designs/girlscouts-usa-green/static.css");

#main .side-nav * {
	color: #858585;
	margin: 0;
	font-size: 13.5px;
}

#main .side-nav li a {
	line-height: 1em;
}

#main .side-nav > li.active {
  background:#ffffff;
}

#main .side-nav > li > div > a {
	font-weight: normal;
}
#main .side-nav > li.active > div > a {
	font-weight: bold;
	color:#414141;
}
#main .side-nav li div {
    padding-bottom: 7px !important;
    padding-top: 7px !important;
}
#main .side-nav li.active.current {
	background: url('/etc/designs/girlscouts-gswcf/images/orange_arrow.png') no-repeat 185px 9px #00ae58;
}

#main .side-nav li.active.current > div > a, #main .side-nav li.active li.active > div > a {
	 color: #ffffff;

}
#main .side-nav li.active.current > ul > li {
	background: #ffffff;
}

#main .side-nav > li {
	background: #ffffff;
}

#main .side-nav li.active.current > div{
	background-color: transparent;
}

#main .side-nav li.active li.active > div{
    background: url('/etc/designs/girlscouts-gswcf/images/orange_arrow.png') no-repeat 185px 9px #00ae58;
    margin-left:0px;
} 
