clientId="3MVG98XJQQAccJQcsir6I8Iv4u9MHbmqItVPUWQS3ecNRM.FSY85sxAhFaoNVYp9FtSE_bFUUiI1ATaw2i1_h"
defaultBranch="gateway"
clientSecret="8492357703434338008"
OAuthUrl="https://gsdev-girlscoutsdev.cs18.force.com/members"
councilMapping=["313::gateway","597::gsnetx","388::girlscoutcsa"]
helloUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/en/vtk.html"
callbackUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/controllers/auth.sfauth.html"