clientId="3MVG9ahGHqp.k2_yeQBSRKEBsGKVsAhj_78WtDHPG.R_1SLs5h3x0_U9ahGKEw3PQlN3kqegS3Spvsw1YdHxM"
defaultBranch="gateway"
clientSecret="6033094317633711676"
OAuthUrl="https://gsuat-gsmembers.cs17.force.com/members"
helloUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/controllers/hello.hello.js"
councilMapping=["313::gateway","597::gsnetx","388::girlscoutcsa","367::girlscoutsnccp","465::gssem","320::gswcf","234::gsneo","661::gssn","664::girlscoutsosw","240::gswo","465::gssem","607::girlscoutsaz","536::kansasgirlscouts","563::gswestok","564::gseok","512::girlscoutsofcolorado","591::gssjc","131::gscsnj","636::gsnorcal","212::gskentucky","623::sdgirlscouts","263::gswpa","467::gsbadgerland","116::gscwm","622::girlscoutsoc","660::girlscoutsnv","514::girlscoutstoday","524::girlscoutsiowa","430::girlscoutsgcnwi"]
targetUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/en/vtk.home.html"
callbackUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/controllers/auth.sfauth.html"
communityUrl="https://gsuat-gsmembers.cs17.force.com/members"
gsNewYear="0728"
baseUrl="https://girlscouts-dev2.adobecqms.net"
vtkHolidays=["20150907::Labor Day","20151012::Columbus Day","20151111::Veteran's Day","20151126::Thanksgiving","20151224::Christmas Eve","20151226::Christmas Day","20160101::New Years","20160118::Martin Luther King, Jr.","20160215::Washington's Birthday","20160530::Memorial Day","20160704::Independence Day"]