clientId="3MVG9xOCXq4ID1uFlO3NQFGWUHD4v6WQuA3_WDaF7ivfzHRBrPlk38FJh8f_LdHQ29cZYU_KNQSD8v.qUuzZA"
defaultMapping="girlscouts-template::http://template.girlscouts.org/"
clientSecret="190816926686392433"
OAuthUrl="https://gsdev-girlscoutsdev.cs18.force.com/Members"
councilMapping=["111::gateway::http://dev.girlscouts-gateway.org/"]
targetUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/en/vtk.html"
callbackUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/controllers/auth.sfauth.html"