# Configuration created by Apache Sling JCR Installer
logOutPath="http://my-dev.girlscouts.org/content/girlscouts-vtk/sso/logout.html"
screenSet="Default-RegistrationLogin"
sessionExpiration=I"2000"
apiKey="3_hwkGAUDVV_MUtkV4agf-EhIJ3YtSznNjOZVMr0sp9a63gduY5GhmQX8ybyFoaKt6"
logInPath="http://my-dev.girlscouts.org/content/girlscouts-vtk/sso/login.html"
spName="dev-gsusa-vtk-sp"
