# Configuration created by Apache Sling JCR Installer
apiKey="3_zX3dPx6ujK6lKM_5STE_EGa6i97CwlbaYNBFOb04eqyTlFAor-8fEGOkjSzLss_g"
logOutPath="http://my-dev.girlscouts.org/content/girlscouts-vtk/sso/logout.html"
logInPath="http://my-dev.girlscouts.org/content/girlscouts-vtk/sso/login.html"
spName="prod-gsusa-vtk"
