clientId="3MVG9GiqKapCZBwHKlrZlQzDydW.u2oW93wiMTog_1gRkjuqnh.xqSXj7bsPlIzOOc2t0wnroLAOBUCixX3Vu"
defaultBranch="gateway"
clientSecret="865143510599664278"
OAuthUrl="https://gsuat-gsmembers.cs11.force.com/members"
councilMapping=["313::gateway","603::gsnetx","388::girlscoutcsa","367::girlscoutsnccp","465::gssem","320::gswcf"]
helloUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/controllers/hello.hello.js"
targetUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/en/vtk.home.html"
callbackUrl="https://girlscouts-dev2.adobecqms.net/content/girlscouts-vtk/controllers/auth.sfauth.html"
communityUrl="https://gsuat-gsmembers.cs11.force.com/members"
