/*
 * Copyright 1997-2009 Day Management AG
 * Barfuesserplatz 6, 4001 Basel, Switzerland
 * All Rights Reserved.
 *
 * This software is the confidential and proprietary information of
 * Day Management AG, ("Confidential Information"). You shall not
 * disclose such Confidential Information and shall use it only in
 * accordance with the terms of the license agreement you entered into
 * with Day.
 */
#CQ .cq-menu-title-sep-li {
    background:#dedede url(../../../default/ext/menu/item-over.gif);
    border:solid 1px #d0d0d0;
    font: 11px Tahoma, Arial, Helvetica, sans-serif;
    line-height: normal;
    margin:1px 0;
}

#CQ .cq-menu-title-sep-li .cq-menu-title-sep {
    background-color:transparent;
    border-bottom: none;
    color: #666666;
    font: 11px Tahoma, Arial, Helvetica, sans-serif;
    line-height: normal;
}

/* Remove the fix in ExtJS for "fat" separators in webkit */
.ext-webkit #CQ .cq-menu-title-sep-li .cq-menu-title-sep {
    height:  auto;
}