<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly
        data-sly-call="${clientlib.all @ categories='apps.girlscouts, apps.girlscouts.components.calendar'}" />
    </sly>

<sly data-sly-use.calendar="org.girlscouts.web.components.models.CalendarModel">
    <sly data-sly-resource="${@ path='content/middle/par/event-search', resourceType='girlscouts/components/event-search'}"/>

        <div id="calendar-events" data-event='${calendar.jsonEvents}'></div>
        <div id="fullcalendar"></div>
</sly>
