#gsathome-age-check-popup,#gsathome-main{
	display:none;
}

#gsathome-age-check{
	text-align:center;
}

#gsathome-age-check-title{
	margin-bottom:30px;
	font-weight: 500;
}

#gsathome-age-check-subtitle{
	margin-bottom:20px;
	font-weight: 500;
}

#gsathome-age-form{
	display: inline-flex;
}
.input-col.input-month {
    width: 60px;
}

.input-col.input-day {
    width: 60px;
}
.input-col {
	padding-right:10px;
}

#gsathome-age-gate-month,#gsathome-age-gate-day{
	width: 40px; 
	display:inline-flex;
	font-size: 0.875rem;
	height: 2.3125rem
}
#gsathome-age-form input {
    margin-bottom: 5px;
}

#gsathome-age-gate-year{
	width: 50px; 
    font-size: 0.875rem;
	height: 2.3125rem
}


#gsathome-download{
	display:none;
	text-align:center;
}
#gsathome-age-form-error{
	display:block;
	font-size:13px;
	color:red;
}

#gsathome-privacy-policy{
	font-size:13px;
	line-height:1.5;
}

#gsathome-age-form-continue{
	margin-top: 20px;
}

#gsathome-age-form-continue-button,#gsathome-download-link{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
    height: 36px;
    font-size: 1.125rem;
    background-color: #00AE58;
    border-color: #008b46;
    color: #FFFFFF;
}

#gsathome-download h3{
	margin-top:30px; 
	margin-bottom: 30px;
}

/* remove arrows from number input field */ 
		/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

		/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
		
#gsathome-age-form input { 
	margin-bottom:5px;
	text-align:center;
	
}

#gsathome-main-form input[type="text"],
#gsathome-main-form input[type="email"],
#gsathome-main-form input[type="tel"] {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    display: inline-block;
}

#gsathome-main-form #divFirstName {
    width: 45%;
    float: left;
}

#gsathome-main-form #divLastName {
    width: 49%;
    float: left;
    padding-left: 18px;
}

#gsathome-main-form #divEmail {
    width: 60%;
    float: left;
}

#gsathome-main-form #labelEmail {
    display: inline-block;
    margin-top: 5px;
}

#gsathome-main-form #divZIPCode {
    width: 34%;
    float: left;
    margin-top: 6px;
    padding-left: 18px;
}

#gsathome-main-form #zipcode {
    margin-bottom: 0px;
}

#gsathome-main-form #divPhone {
    width: 45%;
    float: left;
    margin-top: 5px;
}

#gsathome-main-form #divIsMember {
    font-size: 12px;
    display: inline-flex;
    line-height: 16px;
    width: 95%;
    padding-top: 5px;
    clear: both;
}

#gsathome-main-form #divSubmit {
    width: 49%;
    float: left;
    padding-left: 18px;
    margin-top: 5px;
}

#gsathome-main-form #submit {
    margin-top: 21px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 5px;
}

#gsathome-main-form {
    margin-left: 20px;
}

#gsathome-main-form h3 {
    font-weight: 600;
}

button#submit {
    font-size: 1.125rem;
    background-color: #00AE58;
    border-color: #008b46;
    color: #FFFFFF;
	height:36px;
}
#gsathome-main-form label{
	color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}
input#is-member{
	margin-top:0.25rem;
}

div#divEmail {
    margin-top: 5px;
}

#gsathome-main-form input::placeholder {
    color: #cccccc;
    font-size: 14px;
}

@media screen and (max-width: 585px) {
    #gsathome-main-form {
        margin-left: 20px;
    }

    #gsathome-main-form #submit {
        font-size: 1.2rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
}

@media screen and (min-width: 360px) and (max-width:360px) {
	
}

@media only screen and (min-width: 48.1225em){
	#gsathome-age-check-title {
    font-size: 1.75rem;
}
}
