.vtk-body {
    #vtk-meeting-filter {
        .sectionHeader {
            padding: 10px 0 0 0;
            background-color: white !important;
            * {
                background-color: white !important;
            }
            table {
                margin: 0;
                background-color: white !important;
                tbody {
                    background-color: white !important;
                    tr,
                    td {
                        padding-left: 0;
                        background-color: white !important;
                        vertical-align: middle;
                    }
                }
            }
            .__search {
                .icon-search-magnifying-glass {
                    font-size: 26px;
                    color: green;
                }
                .icon-cross {
                    font-size: 26px;
                }
                .columns {
                    border-radius: 8px;
                }
                input {
                    border: none;
                    box-shadow: none;
                    margin: 0px;
                }
            }
        }  
    }
    .__requiments_details{
        background-color: #fafafa;
    }

    ._requirement_modal{
        background-color: white;
        -webkit-box-shadow: 1px 1px 20px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 20px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 20px -6px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        padding: 2px;
        border-radius: 8px;
    }


    ._requirement_modal:hover{
        -webkit-animation:input-shadow 1s linear 0s; /* Chrome, Safari, Opera */
        animation:input-shadow 1s linear 0s ;
        animation-fill-mode:both;
  
        -webkit-animation-fill-mode:both;

       
    }

    @-webkit-keyframes input-shadow {
        from {
            box-shadow:  1px 1px 20px -6px rgba(0, 0, 0, 0.75);
        }
        to {
            box-shadow:  8px 8px 20px -6px rgba(0, 0, 0, 0.95);
        }
      }
    
    @keyframes input-shadow {
        from{
            box-shadow: 1px 1px 20px -6px rgba(0, 0, 0, 0.75);
        }
        to {
            box-shadow:  8px 8px 20px -6px rgba(0, 0, 0, 0.95);
        }
     }

    ._requiments_description{
        font-size: 14px !important;
        *{
            font-size: 14px !important;
        }
    }
}

.loading-meeting {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid green;
    border-bottom: 16px solid green;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 100px auto;
    display: none;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#vtk-meeting-group-button {

    div{
        width: 200px;
    }
    
    #vtk-meeting-group-button_cancel{
        color: green;
        background-color: white !important;
        border: 1px solid green;

    }


    #vtk-meeting-group-button_ok{
        
    }
    
    
    .disabled {
        background-color: #666 !important;
    }
}

.vtk-green-box {
    height: 46px;
    width: 79px;
    background-color: #00ae58;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    span {
        text-align: center;
        vertical-align: middle;
        font-size: 30px !important;
        color: white;
    }
}

.vtk-meeting-filter_title {
    padding: 0 0 15px 0;
    font-weight: bold;
    font-size: 14px; // margin: 10px 0;
    span {
        font-size: 18px !important;
    }
}

#vtk-meeting-group-categories,
.vtk-dropdown_options,
.meeting-item {
    input[type="checkbox"] {
        display: none;
        visibility: hidden;
        margin: 0;
        position: absolute;
    }
    input[type="checkbox"]+label {
        min-height: 42px;
        display: table;
        padding: 10px 0;
        &:before {
            visibility: hidden;
            width: 0px;
            height: 0px;
        }
    }
    input[type="checkbox"]+label span {
        display: table-cell;
        width: 30px;
        height: 30px !important; 
        margin: -1px 6px 0 0;
        vertical-align: middle;
        cursor: pointer;
        background: url(/etc/designs/girlscouts-vtk/images/selector.png) left no-repeat;
        background-position-y: top;
    }
    input[type="checkbox"]+label p {
        margin: 0;
        max-width: 140px;
        min-height: 42px;
        padding: 2px 0 0 5px;
        display: table-cell;
        vertical-align: middle;
    }
    input[type="checkbox"]:checked+label span {
        background: url(/etc/designs/girlscouts-vtk/images/selector.png) -30px no-repeat;
        background-position-y: top;
    }
}

#vtk-meeting-group-age,
#vtk-meeting-group-type,
#outdoor {
    input[type="radio"] {
        display: none;
        visibility: hidden;
        margin: 0;
        position: absolute;
    }
    input[type="radio"]+label {
        min-height: 42px;
        display: table;
    }
    input[type="radio"]+label span {
        // display:inline-block;
        width: 30px;
        height: 30px;
        margin: -1px 5px 0 0;
        vertical-align: middle;
        display: table-cell;
        cursor: pointer;
        background: url(/etc/designs/girlscouts-vtk/images/selector.png) -60px top no-repeat;
        background-position-y:top !important;
    }
    input[type="radio"]+label p {
        margin: 0 0 0 3px;
        max-width: 140px; // display: inline-block;
        min-height: 42px;
        display: table-cell;
        padding: 6px 0 0 2px;
        line-height: 1.3;
    }
    input[type="radio"]:checked+label span {
        background: url(/etc/designs/girlscouts-vtk/images/selector.png) -90px top no-repeat;
        background-position-y: top !important;
    }
}

#outdoor {
    input[type="radio"]+label p {
        font-weight: bold;
        width: 100% !important;
        max-width: none;
    }
    input[type="radio"]+label {
        width: 100% !important;
    }
}

.main-report-search {
    // padding: 15px 0;
    border-bottom: 2px solid black; // margin-bottom: 15px;
}

.inactive-button {
    background-color: gray !important;
}

.meetingSelect {
    min-height: 400px;
    padding-bottom: 100px;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

.meeting-age-separator {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    margin-bottom: 5px;
}

.meeting-item {
    background-color: #f6f6f6;
    padding: 10px 10px 0px;
    margin-bottom: 10px;
    .tags {
        span {
            // color: orange;
            font-weight: bold;
            font-size: 12px;
        }
    }
    label {
        margin: 0 auto !important;
        p {
            max-width: none !important;
        }
    }
}

.no-plans {
    margin-bottom: 10px;
    text-align: center;
}

#vtk-meeting-report {
    margin-bottom: 10px;
}

.vtk-float-submit {
    min-width: 380px;
    text-align: center;
    min-height: 80px;
    // position: fixed;
    bottom: 40px;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
    z-index: 1;
 
}

.list-of-categories,
.main-filter {
    background-color: white;
    z-index: 10;
}

.list-of-buttons,
.vtk-meeting-group {
    background-color: white;
    z-index: 10;
}

.middle-checkbox {
    span {
        padding-left: 30px;
    }
    p {
        color: $green_light;
        white-space: nowrap;
        text-transform: uppercase;
    }
    p.select-meeting-withoutaction {
        color: black;
    }
}