.vtk-dropdown-check-box {
    .vtk-dropdown_main {
        .selected-option {
            display: inline-block;
        }
        span {
            display: inline-block;
        }
    }
    .vtk-dropdown_options {
        margin: 5px 0 0 0;
        padding: 5px;
        list-style-type: none;
        position: absolute;
        z-index: 1000;
        border: 1px solid lightgray;
        background-color: white;
        display: none;
        box-shadow: 1px 1px 2px 0 grey;
        min-height: 100px;
        li {
            font-size: 10px !important;
            padding: 3px 0;
            min-width: 150px;
            min-height: 20px;
            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"] + label {
                min-height: 42px;
                display: table;
            }
            input[type="checkbox"] + label span {
                // display:inline-block;
                width: 30px;
                height: 30px;
                margin: -1px 5px 0 0;
                vertical-align: middle;
                display: table-cell;
                cursor: pointer;
                background: url(/etc/designs/girlscouts-vtk/images/selector.png) left top no-repeat;
            }
            input[type="checkbox"] + label p {
                margin: 0;
                max-width: 90px;
                // display: inline-block;
                min-height: 42px;
                display: table-cell;
                padding: 3px 0 0 5px;
                font-size: 12px !important;
            }
            input[type="checkbox"]:checked + label span {
                background: url(/etc/designs/girlscouts-vtk/images/selector.png) -30px top no-repeat;
            }
        }
    }
}

.icon-arrow-css {
    &:after {
        border-color: gray transparent transparent transparent;
        border-width: 7px;
        border-style: solid;
        content: '';
        top: 5px;
        position: absolute;
        margin-left: 4px;
    }
}
