
//TODO MOVE ITS ON FILE
#resource_overview{
    font-size: 14px;
    background-color: white;
    .__overview-types{
      padding: 30px 0;
    }
    .__list-radio{
      input[type="radio"] {
          display: none;
                  visibility: hidden;
          margin: 0;
          position: absolute;
      }
      input[type="radio"] + label {
        min-height: 42px;
        display: table;
      }
      input[type="radio"] + label span {
      // display:inline-block;
      width:30px;
      height:30px;
      margin:-1px 5px 0 0;
      vertical-align:middle;
      display: table-cell;
  
      cursor:pointer;
          background: url(/etc/designs/girlscouts-vtk/images/selector.png) -60px top no-repeat;
      }
  
      input[type="radio"] + label p{
        margin: 0 0 0 3px;
          // max-width: 90px;
          // display: inline-block;
          min-height: 42px;
          display: table-cell;
          padding: 3px 0 0 10px;
      }
  
      input[type="radio"]:checked + label span {
          background: url(/etc/designs/girlscouts-vtk/images/selector.png) -90px top no-repeat;
      }
    }
  
    .__resource-item{
  
      padding: 10px 0;
      margin-bottom: 10px;
      background-color: #f6f6f6;
  
      .row{
        background-color: transparent;
        padding: 0 10px;
      }
    
      .__top{
        p{
          margin: 0;
        }
        .__title{
          color:#00ae58;
          text-transform: uppercase;
          font-size:16px;
          cursor:pointer;
          span{
            font-size: 16px;
          }
        }
  
        .__description{
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
  
     
      }
    
      .__image{
        text-align: right;
      }
    
    }
  
    .__view-all{
      display:none;
      color: green;
      cursor: pointer;
    }

    .arrow {
      width: 0px; 
      height: 0px; 
      display: inline-block;
      margin-left: 8px;
      &.close{
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent; 
        border-left:6px solid #00ae58;
      }

      &.open{
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;             
        border-top: 6px solid #00ae58; 
      }

      &.up{
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;             
        border-bottom: 12px solid #00ae58; 
      }
    }
  }