.agenda-tabs {
	dd {
		max-width: none;
		a {
			height: 3rem; /* so they're all equal-height */
			line-height: 3rem;
		}
		&.active {
			border-bottom: solid 6px $line_green;
			a {
				background-color: $ult_gray;
			}
			&:hover {
				a {
					background-color: darken($ult_gray, 5%);
					color: $black;
				}
			}
	  	}
		&:hover {
			border-bottom: solid 6px $line_green;
			color: #fff;
			a {
				background-color: darken($tab_green, 5%);
				color: #fff;
			}
		}
		.dot {
			border: 2px solid #ec0;
			border-radius: 50%;
			background: #f1e767;
			background: -moz-radial-gradient(top left, ellipse cover,  #fff 0%, #feb645 100%);
			background: -webkit-radial-gradient(top left, ellipse cover,  #fff 0%,#feb645 100%);
			background: radial-gradient(ellipse at top left,  #fff 0%,#feb645 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#feb645',GradientType=1 );
			display: none;
			left: 0.5rem;
			height: 1rem;
			position: absolute;
			top: 0.5rem;
			width: 1rem;
			&.on {
				display: block;
			}
		}
	}
	&.one dd {
	  width: 100%;
	}
	&.two dd {
	  width: 50%;
	} 
	&.three dd {
	  width: 33.333333%;
	}
	&.four dd {
	  width: 25%;
	}
	&.five dd {
	  width: 20%;
	}
}