/***** GREEN HEADER *****/

#header {
    padding: 15px 0px 0px 0px;
    color: #FFFFFF;
}

.header-wrapper {
    background-color: #00ae58;
}

#mobile-footer {
    background-color: #00ae58;
    padding-top: 15px;
    padding-bottom: 15px;
}

