/* white header */
#header {
    padding: 15px 0px 0px 0px;
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.header-wrapper,
#header {
    background-color: #FFFFFF;
}

#mobile-footer {
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}